
#wowslider-container1 {
	 border: 5px solid #f6958a; text-align: left; position: relative; z-index: 90; -ms-zoom: 1; max-width: 617px;
}
* html #wowslider-container1 {
	width: 617px;
}
#wowslider-container1 .ws_images ul {
	list-style: none; margin: 0px; padding: 0px; left: 0px; width: 10000%; height: auto;  position: relative; border-spacing: 0;
}
#wowslider-container1 .ws_images ul li {
	margin: 0px !important; padding: 0px !important; width: 1%; line-height: 0; font-size: 0px; float: left;
}
#wowslider-container1 .ws_images {
	left: 0px; top: 0px; width: 617px; height:380px; overflow: hidden; position: relative;
}
#wowslider-container1 .ws_images a {
	width: 100%; color: transparent; display: block;
}
#wowslider-container1 img {
	max-width: none !important;
}
#wowslider-container1 .ws_images img {
	padding: 0px; border: 0px currentColor; width: 100%; max-width: none;
}
#wowslider-container1 a.ws_next {
	top: 50%; width: 40px; height: 40px; margin-top: -28px; display: none; position: absolute; z-index: 60; opacity: 0.8; background-image:url(main_files/arrow-right.png);
}
#wowslider-container1 a.ws_prev {
	top: 50%; width: 40px; height: 40px; margin-top: -28px; display: none; position: absolute; z-index: 60; opacity: 0.8; background-image: url(main_files/arrow-left.png);
}
#wowslider-container1 a.ws_next {
	background-position: 100% 0px; right: 10px;
}
#wowslider-container1 a.ws_prev {
	left: 10px;
}
#wowslider-container1 a.ws_next:hover {
	background-position: 100% 100%; opacity: 1;
}
#wowslider-container1 a.ws_prev:hover {
	background-position: 0px 100%; opacity: 1;
}
* html #wowslider-container1 a.ws_next {
	display: block;
}
* html #wowslider-container1 a.ws_prev {
	display: block;
}
#wowslider-container1:hover a.ws_next {
	display: block;
}
#wowslider-container1:hover a.ws_prev {
	display: block;
}
#wowslider-container1 .ws_thumbs {
	overflow:hidden; font-size: 0px; position: absolute; z-index: 70; width:617px;
}
#wowslider-container1 .ws_thumbs a {
	color: transparent; text-indent: -4000px; position: relative; opacity: 0.75;
}
#wowslider-container1 .ws_thumbs a:hover {
	opacity: 1;
}
#wowslider-container1 .ws_thumbs a:hover img {
	visibility: visible;
}
#wowslider-container1 .ws_thumbs {
	left: 0px; width: 100%; height: 100px; bottom: -110px;
}
#wowslider-container1 .ws_thumbs div {
	width: 1328px; height: 100%; letter-spacing: -4px; position: relative;
}
#wowslider-container1 .ws_thumbs .ws_selthumb img {
	opacity: 1;
}
#wowslider-container1 .ws_thumbs a img {
	margin: 3px; border: 4px solid #f6958a; text-indent: 0px; max-width: none; opacity: 0.9; box-shadow: inset 0px 1px 1px #ffffff, 0px 1px 3px rgba(0,0,0,0.4);
}
#wowslider-container1 .ws_images ul {
	animation:wsBasic 35.2s infinite; -moz-animation: wsBasic 35.2s infinite; -webkit-animation: wsBasic 35.2s infinite;
}
#wowslider-container1 {
	box-shadow: inset 0px 1px 1px #ffffff, 0px 1px 3px rgba(0,0,0,0.4);
}
