// Brand colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$blue:       #4078c0 !default;
$gray-light: #ddd    !default;
$gray:       #767676 !default;
$gray-dark:  #333    !default;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border
$base-border-color: $gray-light;
$base-border: 1px solid $base-border-color;



// Font stack
//––––––––––––––––––––––––––––––––––––––––––––––––––


$body-font: 'Montserrat-Regular', !default;
$montserrat-bold: 'montserratbold';
$montserrat-medium: 'Montserrat-Medium';
$montserrat-semibold: 'Montserrat-SemiBold';
$montserrat-light: 'Montserrat-Light';
$poppins-regular: 'Poppins-Regular';
$poppins-medium: 'Poppins-Medium';
$poppins-semibold: 'Poppins-SemiBold';

// The base body size
//––––––––––––––––––––––––––––––––––––––––––––––––––
$body-font-size: 16px !default;


// Breakpoints
//––––––––––––––––––––––––––––––––––––––––––––––––––

$lg-320    	: "min-width: 320px";
$lg-480   	: "min-width: 480px";
$lg-768    	: "min-width: 768px";
$lg-992   	: "min-width: 992px";
$lg-1024   	: "min-width: 1024px";
$lg-1200 	: "min-width: 1200px";

$sm-479   	: "max-width: 479px";
$sm-767    	: "max-width: 767px";
$sm-991   	: "max-width: 991px";
$sm-1023   	: "max-width: 1023px";
$sm-1199 	: "max-width: 1199px";
$sm-1679 	: "max-width: 1679px";
$sm-550   	: "max-width: 550px";


// color
$gold-menu: #e2caa1;
$color-white: #fff;
$container-max-width: 1280px;
$border-light-grey: #d8dcdf;
$light-dark: #1b181e;
$border-thin-light: #e1e1e1;
%section-title{
	font: 35px $montserrat-bold;
	color: #1b181e;
}
%title-label-p{
	font: 17px $body-font;
	color: #585858;
}
%view-more-gold{
	font-family: $montserrat-semibold;
	font-size: 16px;
	color: #8a704d;
	text-decoration: underline;
}
%contact-icons{
	font-family: "FontAwesome";
	margin-top: 3px;
	margin-right: 10px;
	float: left;
	font-size: 22px;
}
@mixin banner-gradient($from, $to) {
	background: $to;
	background: -moz-linear-gradient(top, $from 20%, $to 80%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,$from), color-stop(80%,$to));
	background: -webkit-linear-gradient(top, $from 20%,$to 80%);
	background: -o-linear-gradient(top, $from 20%,$to 80%);
	background: linear-gradient(to bottom, $from 20%,$to 80%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

@mixin gallery-grid-gradient($from, $to){
	background: $to;
	background: -moz-linear-gradient(top, $from, $to);
	background: -webkit-gradient(linear, left top, left bottom, color-stop($from), color-stop($to));
	background: -webkit-linear-gradient(top, $from,$to);
	background: -o-linear-gradient(top, $from,$to);
	background: linear-gradient(to bottom, $from,$to);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

@mixin add-transition($property: all, $duration: .3s, $ease: linear){
	-webkit-transition: $property $duration $ease;
	-moz-transition: $property $duration $ease;
	-o-transition: $property $duration $ease;
	transition: $property $duration $ease;
}
%title-border-end{
	display: flex;
	flex-flow: row wrap;
	flex: 100%;
	justify-content: center;
	align-items: center;
	h2{
		flex: 1 0;
		margin-bottom: 0;
		font: 35px $montserrat-medium;
	}
	.border-layout{
		flex: 6 0;
		display: inline-flex;
		position: relative;
		align-items: center;
		&::before{
			content: '';
			width: 115px;
			height: 10px;
			background-color: #d8cfba;
			position: absolute;
			z-index: 1;
		}
		&::after{
			content: '';
			width: 100%;
			height: 1px;
			background-color: #444444;
			position: absolute;
		}
	}
}
%blog-date-indicator{
	width: 46px;
	display: inline-flex;
	float: left;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 35px;
}
