<cfinclude template="header.cfm">
<cfoutput>
	<h2>Your Subscription has been cancelled!</h2>
	<p>Cick <a href="upgrade.cfm">here</a> to upgrade your account now.</p>
</cfoutput>
<cfinclude template="footer.cfm">