			<cfsavecontent variable="mailBodyCustomer">
	            <cfoutput>
			        <html>
						<body>
							<p></p>
							<p>
								Appointment Details: <br />
								Date: <strong>#DateFormat(now(),"long")#</strong><br />
								Time: <strong>#TimeFormat(now(),"medium")#</strong><br />
								Stylist: <strong>gg</strong><br />
								Location: <strong>gh</strong> <br />
								Address: <strong>gfgf</strong>
							</p>
							
							<p><br /></p>
							<p><em>--PLEASE DO NOT REPLY TO THIS EMAIL.  THIS EMAIL ACCOUNT IS NOT MONITORED--</em></p>
						</body>      
					</html>  
		        </cfoutput>
         </cfsavecontent>
         <cfset local.mailCustomer = variables.objMailgun.sendMailViaMailgun(mailTo="#variables.qryResults.CustomerEmail#",mailFrom="salonworks@salonworks.com",mailSubject="Appointment",mailHtml = "#mailBodyCustomer#" ) />
         <cfdump var="#local.mailCustomer#"><cfabort>