@font-face{font-family:'fontello';
src:url('../pricing/font/fontello.eot?96186417');
src:url('../pricing/font/fontello.eot?96186417#iefix') format('embedded-opentype'),
url('../pricing/font/fontello.woff2?96186417') format('woff2'),
url('../pricing/font/fontello.woff?96186417') format('woff'),
url('../pricing/font/fontello.ttf?96186417') format('truetype'),
url('../pricing/font/fontello.svg?96186417#fontello') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"]:before, [class*=" icon-"]:before{font-family:"fontello";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-right-open:before{content:'\e800';}
.icon-left-open:before{content:'\e801';}
.icon-check-1:before{content:'\e803';}
.icon-twitter:before{content:'\f099';}
.icon-linkedin:before{content:'\f0e1';}
.icon-youtube-play:before{content:'\f16a';}
.icon-instagram:before{content:'\f16d';}
.icon-facebook:before{content:'\f30c';}