/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

input,
select,
textarea,
button {
  font: 14px/1.4 Arial, Helvetica, sans-serif; }
  input:hover, input:focus, input:active,
  select:hover,
  select:focus,
  select:active,
  textarea:hover,
  textarea:focus,
  textarea:active,
  button:hover,
  button:focus,
  button:active {
    outline: 0; }

body {
  font: 14px/1.4 Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff; }

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd; }
  hr:before {
    display: table;
    content: ""; }
  hr:after {
    display: table;
    clear: both;
    content: ""; }

.browserupgrade {
  background: #f00;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0.8em;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; }
  .browserupgrade a {
    font-weight: bold;
    color: #ff0; }

.cf:before {
  display: table;
  content: ""; }
.cf:after {
  display: table;
  clear: both;
  content: ""; }

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

figure {
  margin: 0;
  padding: 0; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 0.7em;
  line-height: 1.2; }

h1, .h1 {
  font-size: 30px; }

h2, .h2 {
  font-size: 21px; }

h3, .h3 {
  font-size: 16px; }

h4, .h4 {
  font-size: 14px; }

h5, .h5 {
  font-size: 12px; }

h6, .h6 {
  font-size: 11px; }

a {
  color: #4078c0;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: 0; }
  a:focus {
    text-decoration: none; }

a[href^=tel] {
  cursor: default; }

p {
  margin: 0 0 0.7em; }

small {
  font-size: 90%; }

blockquote {
  margin: 0; }

ul,
ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }

ol ol,
ul ol {
  list-style-type: lower-roman; }

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha; }

dd {
  margin-left: 0; }

tt,
code {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; }

pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Arial, Helvetica, sans-serif; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

label {
  font-size: 13px;
  font-weight: bold;
  outline: none; }
  label:focus {
    outline: none; }

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.form-control {
  height: 38px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  display: block;
  width: 100%;
  transition: all ease .1s; }
  .form-control.focus, .form-control:focus {
    border-color: #4078c0;
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5); }

textarea {
  resize: none;
  height: auto; }

.form-group {
  margin-bottom: 15px; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.35em; }

input.input-contrast,
.input-contrast {
  background-color: #fafafa; }
  input.input-contrast:focus,
  .input-contrast:focus {
    background-color: #fff; }

::placeholder {
  color: #aaa; }

button:focus, button.focus, input[type="submit"]:focus, input[type="submit"].focus {
  outline: 0; }

.form-box input:-moz-placeholder {
  opacity: 1;
  /* Firefox 18- */
  color: #333 !important; }
.form-box input::-moz-placeholder {
  opacity: 1;
  /* Firefox 19+ */
  color: #333 !important; }
.form-box ::-webkit-input-placeholder {
  color: #333 !important;
  opacity: 1 !important;
  /* for chrome */ }
.form-box textarea:-moz-placeholder {
  opacity: 1;
  /* Firefox 18- */
  color: #333 !important; }
.form-box textarea::-moz-placeholder {
  opacity: 1;
  /* Firefox 19+ */
  color: #333 !important; }
.form-box ::-webkit-input-placeholder {
  opacity: 1 !important;
  /* for chrome */
  color: #333 !important; }

table {
  border-collapse: collapse;
  margin: 0.7em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 2px solid #ddd;
  font-weight: 600;
  padding: 0.7em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.7em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  min-width: 320px; }

.container {
  width: 100%;
  max-width: 1300px; }

.min-hd {
  background: #2c2c2c;
  width: 100%;
  z-index: 9999;
  position: relative; }

.top-cnt-scnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 18px 0; }
  .top-cnt-scnt ul {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .top-cnt-scnt ul li {
      list-style: none;
      display: inline-block;
      float: right;
      color: #fff;
      font: 14px/23px "Poppins", sans-serif; }
      .top-cnt-scnt ul li svg:not(:root) {
        fill: #fff;
        width: 15px;
        height: 15px;
        margin: 0 8px -2px 0; }
      .top-cnt-scnt ul li i {
        margin-right: 15px; }
      .top-cnt-scnt ul li a {
        color: #fff; }

header {
  position: fixed;
  width: 100%;
  height: 145px;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-bottom: 1px solid #ddd; }
  header .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 83px; }
    header .logo img {
      width: 285px; }
  header .menu {
    justify-content: flex-end; }
    header .menu ul li:last-child {
      margin-right: 0; }
    header .menu .nav-link {
      display: block; }
  header .navbar {
    margin-bottom: 5px; }
  header .sig-otr {
    display: flex;
    list-style: none;
    padding-top: 28px;
    width: auto;
    display: inline-block;
    z-index: 0;
    position: relative; }
    header .sig-otr a {
      font: 14px/23px "Poppins", sans-serif;
      color: #8a171a;
      position: relative;
      margin-right: 0 !important; }
      header .sig-otr a:after {
        content: "";
        height: 17px;
        top: 3px;
        width: 1px;
        background: #8a171a;
        display: inline-block;
        position: absolute;
        right: 0; }
      header .sig-otr a:first-child {
        padding-right: 15px;
        padding-top: 0;
        padding-bottom: 0; }
      header .sig-otr a:last-child {
        padding-left: 15px; }
        header .sig-otr a:last-child:after {
          content: "";
          display: none; }
  header .search-otr {
    padding-top: 25px; }
    header .search-otr .searchbox {
      position: relative;
      min-width: 40px;
      width: 0%;
      height: 40px;
      float: right;
      overflow: hidden;
      -webkit-transition: width 0.3s;
      -moz-transition: width 0.3s;
      -ms-transition: width 0.3s;
      -o-transition: width 0.3s;
      transition: width 0.3s; }
      header .search-otr .searchbox ::-webkit-input-placeholder {
        opacity: 1;
        color: #4d4d4d; }
      header .search-otr .searchbox :-moz-placeholder {
        opacity: 1;
        color: #4d4d4d; }
      header .search-otr .searchbox ::-moz-placeholder {
        opacity: 1;
        color: #4d4d4d; }
      header .search-otr .searchbox :-ms-input-placeholder {
        opacity: 1;
        color: #4d4d4d; }
      header .search-otr .searchbox input {
        color: rgba(0, 0, 0, 0.5); }
    header .search-otr .searchbox-input {
      top: 0;
      right: 0;
      border: 0;
      outline: 0;
      background: #f7f6f6;
      width: 100%;
      height: 40px;
      margin: 0;
      padding: 0px;
      font-size: 20px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      z-index: 9;
      /* position: relative; */
      padding-left: 15px; }
    header .search-otr .searchbox-icon,
    header .search-otr .searchbox-submit {
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      top: 0;
      font-family: "Poppins", sans-serif;
      font-size: 22px;
      right: 0;
      padding: 0;
      margin: 0;
      border: 0;
      outline: 0;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      color: #dcddd8;
      background: #8a171a url(../img/sprite_icons.png) no-repeat 7px -12px;
      border-radius: 3px;
      z-index: 9; }
    header .search-otr .searchbox-open {
      width: 960px; }

.banner {
  position: relative;
  padding-top: 145px; }
  .banner .box-full, .banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4 {
    width: 100%;
    height: 640px; }
  .banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4 {
    background-size: contain; }
  .banner .slider-nav .slick-slide {
    height: 100px; }
  .banner .bnr-caption-otr {
    padding-top: 70px; }
    .banner .bnr-caption-otr .bnr-txt {
      color: #fff;
      margin-bottom: 30px; }
      .banner .bnr-caption-otr .bnr-txt h2 {
        font: 700 36px/43px "Poppins", sans-serif;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 15px; }
      .banner .bnr-caption-otr .bnr-txt p {
        font: 400 17px/23px "Poppins", sans-serif;
        text-transform: capitalize; }
    .banner .bnr-caption-otr .btn-primary {
      color: #fff;
      background-color: #956e69;
      border: 0;
      border-radius: 25px;
      text-transform: uppercase;
      text-align: center;
      border: 2px solid #956e69; }
    .banner .bnr-caption-otr .btn-primary.focus, .banner .bnr-caption-otr .btn-primary:hover, .banner .bnr-caption-otr .btn-primary:focus, .banner .bnr-caption-otr .btn-primary:active {
      box-shadow: 0 0 0 0.2rem #5d4744 !important;
      background: #fff;
      color: #343434;
      border-color: transparent; }
    .banner .bnr-caption-otr .btn {
      padding: 13px 40px;
      font: 600 18px/23px "Poppins", sans-serif;
      -webkit-transition: 0.2s ease-out all;
      -moz-transition: 0.2s ease-out all;
      -ms-transition: 0.2s ease-out all;
      transition: 0.2s ease-out all; }
    .banner .bnr-caption-otr .mrg-rgt {
      margin-right: 10px; }
    .banner .bnr-caption-otr .btn-secondary {
      color: #fff;
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 25px;
      text-transform: uppercase;
      text-align: center; }
    .banner .bnr-caption-otr .btn-secondary.focus, .banner .bnr-caption-otr .btn-secondary:hover, .banner .bnr-caption-otr .btn-secondary:focus, .banner .bnr-caption-otr .btn-secondary:active {
      box-shadow: 0 0 0 0.2rem #5d4744 !important;
      background: #fff;
      color: #343434;
      border-color: transparent; }
  .banner .slick-dots {
    bottom: 50px;
    display: block;
    list-style: outside none none;
    padding: 0;
    position: absolute;
    width: 100%;
    text-align: center; }
  .banner .slick-dots li {
    cursor: pointer;
    display: inline-block;
    height: 5px;
    margin: 0 4px;
    padding: 0;
    position: relative;
    width: 35px; }
  .banner .slick-dots li button {
    background: #9d9e9f;
    border: 0 none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 2px;
    line-height: 0;
    outline: medium none;
    padding: 2px;
    width: 35px; }
  .banner .slick-dots li button:hover {
    background: #e9ae72 !important; }
  .banner .slick-dots li.slick-active button {
    background: #e9ae72; }

.top-grid {
  padding-top: 50px;
  padding-bottom: 70px; }
  .top-grid .otr-dflx {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .top-grid h1 {
    font: 700 36px/23px "Poppins", sans-serif;
    color: #222;
    margin-bottom: 60px; }
  .top-grid .card-body {
    padding: 35px 18px; }
  .top-grid .card {
    border: 1px solid #eeeeee;
    border-radius: 0;
    /*min-height: 325px;*/ }
    .top-grid .card svg:not(:root) {
      overflow: hidden;
      width: 62px;
      height: 53px;
      fill: #999999; }
    .top-grid .card i {
      padding-top: 42px;
      position: relative; }
      .top-grid .card i:after {
        content: "";
        height: 2px;
        width: 50px;
        background: #8a171a;
        position: absolute;
        display: inline-block;
        bottom: -14px;
        width: 32px;
        left: 50%;
        transform: translate(-50%, -50%); }
    .top-grid .card .card-title {
      font: 700 16px/23px "Poppins", sans-serif;
      color: #222; }
    .top-grid .card .content {
      min-height: 95px; }
      .top-grid .card .content p {
        font: 16px/23px "Hind Vadodara", sans-serif;
        color: #444; }
    .top-grid .card .btn-primary {
      background: #8a171a;
      border: 0;
      font: 16px/23px "Poppins", sans-serif;
      color: #fff;
      border-radius: 0;
      padding: 8px 38px;
      -webkit-transition: 0.2s ease-out all;
      -moz-transition: 0.2s ease-out all;
      -ms-transition: 0.2s ease-out all;
      transition: 0.2s ease-out all; }
    .top-grid .card .btn-primary.focus, .top-grid .card .btn-primary:hover, .top-grid .card .btn-primary:focus, .top-grid .card .btn-primary:active {
      border: 0;
      box-shadow: none !important;
      background: #222; }

.video-mang-scnt {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden; }
  .video-mang-scnt > div {
    padding: 0; }
  .video-mang-scnt .video-bx {
    position: absolute;
    right: 0;
    top: 0;
    height: 515px; }
    .video-mang-scnt .video-bx img {
      position: relative;
      width: 100%; }
    .video-mang-scnt .video-bx .ply-btn {
      background: url(../img/play-btn.png) no-repeat center top;
      -webkit-transition: 0.2s ease-out all;
      -moz-transition: 0.2s ease-out all;
      -ms-transition: 0.2s ease-out all;
      -o-transition: 0.2s ease-out all;
      transition: 0.2s ease-out all;
      width: 76px;
      height: 76px;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%; }
  .video-mang-scnt .video-bx:hover .ply-btn {
    background: url(../img/play-btn-02.png) no-repeat center top; }
  .video-mang-scnt .content-box {
    background: #f4f4f4;
    width: 100%;
    padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 28px; }
  .video-mang-scnt article {
    width: 75%; }
    .video-mang-scnt article h2 {
      font: 700 36px/43px "Poppins", sans-serif;
      color: #222;
      margin-bottom: 20px; }
    .video-mang-scnt article strong {
      font: 16px/23px "Hind Vadodara", sans-serif;
      text-transform: uppercase;
      color: #888;
      margin-bottom: 30px;
      display: block; }
    .video-mang-scnt article .content {
      position: relative;
      margin-top: 25px;
      padding-top: 25px;
      padding-bottom: 15px; }
      .video-mang-scnt article .content:before {
        content: "";
        height: 1px;
        width: 220px;
        background: #8a171a;
        position: absolute;
        display: inline-block;
        top: 0; }
    .video-mang-scnt article p {
      font: 15px/23px "Hind Vadodara", sans-serif;
      color: #444;
      margin-bottom: 23px; }
    .video-mang-scnt article .btn-primary {
      background: #848587;
      border: 0;
      font: 600 13px/23px "Poppins", sans-serif;
      color: #fff;
      border-radius: 0;
      padding: 8px 38px;
      text-transform: uppercase;
      border-radius: 2px;
      -webkit-transition: 0.2s ease-out all;
      -moz-transition: 0.2s ease-out all;
      -ms-transition: 0.2s ease-out all;
      transition: 0.2s ease-out all; }
    .video-mang-scnt article .btn-primary.focus, .video-mang-scnt article .btn-primary:hover, .video-mang-scnt article .btn-primary:focus, .video-mang-scnt article .btn-primary:active {
      border: 0;
      box-shadow: none !important;
      background: #222; }
    .video-mang-scnt article .btn-clr-rd {
      background: #8a171a;
      margin-left: 5px; }

.sctin-csmt {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  width: 100%; }
  .sctin-csmt h3 {
    font: 48px/43px "Poppins", sans-serif;
    color: #222;
    margin-bottom: 10px;
    position: relative; }
    .sctin-csmt h3:before {
      content: "";
      background: url("../img/sprite_icons.png") no-repeat -5px -4px;
      width: 70px;
      height: 6px;
      display: inline-block;
      position: absolute;
      bottom: -80px;
      left: 50%;
      transform: translate(-50%, -50%); }
  .sctin-csmt strong {
    font: 16px/23px "Hind Vadodara", sans-serif;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 30px;
    display: block; }
  .sctin-csmt .mid-grid {
    padding-top: 50px;
    padding-bottom: 70px; }
    .sctin-csmt .mid-grid.otr-dflx {
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
    .sctin-csmt .mid-grid h1 {
      font: 700 36px/43px "Poppins", sans-serif;
      color: #222;
      margin-bottom: 60px; }
    .sctin-csmt .mid-grid .card-body {
      padding: 35px 18px; }
    .sctin-csmt .mid-grid .card {
      border: 0;
      border-radius: 0;
      /*min-height: 325px;*/ }
      .sctin-csmt .mid-grid .card i {
        padding-top: 42px;
        position: relative; }
        .sctin-csmt .mid-grid .card i:after {
          content: "";
          height: 2px;
          width: 50px;
          background: #8a171a;
          position: absolute;
          display: inline-block;
          bottom: -14px;
          width: 32px;
          left: 50%;
          transform: translate(-50%, -50%); }
      .sctin-csmt .mid-grid .card .card-title {
        font: 700 16px/23px "Poppins", sans-serif;
        color: #222; }
      .sctin-csmt .mid-grid .card .content {
        min-height: 95px; }
        .sctin-csmt .mid-grid .card .content p {
          font: 16px/23px "Hind Vadodara", sans-serif;
          color: #444; }
      .sctin-csmt .mid-grid .card .btn-primary {
        background: #8a171a;
        border: 0;
        font: 16px/23px "Poppins", sans-serif;
        color: #fff;
        border-radius: 0;
        padding: 8px 38px;
        -webkit-transition: 0.2s ease-out all;
        -moz-transition: 0.2s ease-out all;
        -ms-transition: 0.2s ease-out all;
        transition: 0.2s ease-out all; }
      .sctin-csmt .mid-grid .card .btn-primary.focus, .sctin-csmt .mid-grid .card .btn-primary:hover, .sctin-csmt .mid-grid .card .btn-primary:focus, .sctin-csmt .mid-grid .card .btn-primary:active {
        border: 0;
        box-shadow: none !important;
        background: #222; }

.forms-otr {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f4f4f4; }
  .forms-otr h4 {
    font: 600 30px/43px "Poppins", sans-serif;
    color: #222;
    text-align: center;
    text-transform: uppercase; }
  .forms-otr .form-list {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .forms-otr .form-list ul li {
      list-style: none;
      width: 232px;
      margin: 0 10px; }
  .forms-otr .forms {
    display: flex;
    flex-wrap: wrap; }
    .forms-otr .forms ::-webkit-input-placeholder {
      opacity: 1;
      color: #222; }
    .forms-otr .forms :-moz-placeholder {
      opacity: 1;
      color: #222; }
    .forms-otr .forms ::-moz-placeholder {
      opacity: 1;
      color: #222; }
    .forms-otr .forms :-ms-input-placeholder {
      opacity: 1;
      color: #222; }
    .forms-otr .forms .place-holder, .forms-otr .forms .input-holder {
      position: relative; }
    .forms-otr .forms input[type="text"], .forms-otr .forms input[type="password"], .forms-otr .forms input[type="email"], .forms-otr .forms input[type="number"], .forms-otr .forms input[type="tel"], .forms-otr .forms input[type="url"],
    .forms-otr .forms textarea {
      font: 14px/23px "Poppins", sans-serif;
      color: #222;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 52px;
      padding: 9px 18px;
      border-radius: 0;
      vertical-align: middle;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: right center;
      border: 0;
      border: 1px solid #eee;
      outline: none;
      display: block;
      width: 100%;
      margin-bottom: 15px; }
    .forms-otr .forms textarea {
      resize: none;
      height: 85px;
      padding-top: 20px;
      margin-bottom: 55px; }
    .forms-otr .forms .submt-btn .sbmt {
      font: 14px/23px "Poppins", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: #d01818;
      padding: 14px 50px;
      border-radius: 2px;
      text-align: center;
      width: 100%;
      display: inline-block;
      color: #fff;
      border: 0; }
      .forms-otr .forms .submt-btn .sbmt:hover {
        background: #c21414; }

.fetrd-artcls {
  padding-top: 100px;
  padding-bottom: 115px;
  position: relative; }
  .fetrd-artcls:before, .fetrd-artcls:after {
    content: "";
    height: 100%;
    width: 380px;
    background: rgba(255, 255, 255, 0.56);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9; }
  .fetrd-artcls:after {
    right: 0;
    left: auto; }
  .fetrd-artcls h3 {
    text-align: center;
    font: 48px/43px "Poppins", sans-serif;
    color: #222;
    margin-bottom: 10px;
    position: relative; }
    .fetrd-artcls h3:before {
      content: "";
      background: url(../img/three-line.png) no-repeat center;
      height: 10px;
      width: 70px;
      display: inline-block;
      position: absolute;
      bottom: -80px;
      left: 50%;
      transform: translate(-50%, -50%); }
  .fetrd-artcls strong {
    font: 16px/23px "Hind Vadodara", sans-serif;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 30px;
    display: block;
    text-align: center; }
  .fetrd-artcls .featured-slide {
    padding-top: 38px;
    text-align: center; }
    .fetrd-artcls .featured-slide button {
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #ddd;
      position: relative;
      line-height: 27px;
      font-family: "fontello";
      line-height: 40px; }
      .fetrd-artcls .featured-slide button:hover {
        background: #222;
        color: #fff; }
    .fetrd-artcls .featured-slide .slick-prev {
      position: absolute;
      bottom: -50px;
      right: 47.5%;
      font-size: 0; }
      .fetrd-artcls .featured-slide .slick-prev:before {
        content: '\e800';
        font-size: 25px; }
    .fetrd-artcls .featured-slide .slick-next {
      position: absolute;
      bottom: -50px;
      left: 47.5%;
      font-size: 0; }
      .fetrd-artcls .featured-slide .slick-next:before {
        content: '\e801';
        font-size: 25px; }
  .fetrd-artcls .box-full, .fetrd-artcls .banner .banner-bg-1, .banner .fetrd-artcls .banner-bg-1, .fetrd-artcls .banner .banner-bg-2, .banner .fetrd-artcls .banner-bg-2, .fetrd-artcls .banner .banner-bg-3, .banner .fetrd-artcls .banner-bg-3, .fetrd-artcls .banner .banner-bg-4, .banner .fetrd-artcls .banner-bg-4 {
    text-align: left;
    margin: 0 15px; }
    .fetrd-artcls .box-full .box, .fetrd-artcls .banner .banner-bg-1 .box, .banner .fetrd-artcls .banner-bg-1 .box, .fetrd-artcls .banner .banner-bg-2 .box, .banner .fetrd-artcls .banner-bg-2 .box, .fetrd-artcls .banner .banner-bg-3 .box, .banner .fetrd-artcls .banner-bg-3 .box, .fetrd-artcls .banner .banner-bg-4 .box, .banner .fetrd-artcls .banner-bg-4 .box {
      background: #ccc;
      height: 222px;
      margin-bottom: 50px; }
    .fetrd-artcls .box-full strong, .fetrd-artcls .banner .banner-bg-1 strong, .banner .fetrd-artcls .banner-bg-1 strong, .fetrd-artcls .banner .banner-bg-2 strong, .banner .fetrd-artcls .banner-bg-2 strong, .fetrd-artcls .banner .banner-bg-3 strong, .banner .fetrd-artcls .banner-bg-3 strong, .fetrd-artcls .banner .banner-bg-4 strong, .banner .fetrd-artcls .banner-bg-4 strong {
      font: 600 18px/23px "Poppins", sans-serif;
      color: #222;
      text-align: left;
      margin-bottom: 15px; }
      .fetrd-artcls .box-full strong:before, .fetrd-artcls .banner .banner-bg-1 strong:before, .banner .fetrd-artcls .banner-bg-1 strong:before, .fetrd-artcls .banner .banner-bg-2 strong:before, .banner .fetrd-artcls .banner-bg-2 strong:before, .fetrd-artcls .banner .banner-bg-3 strong:before, .banner .fetrd-artcls .banner-bg-3 strong:before, .fetrd-artcls .banner .banner-bg-4 strong:before, .banner .fetrd-artcls .banner-bg-4 strong:before {
        content: "";
        width: 10px;
        height: 3px;
        background: #d01818;
        display: inline-block;
        margin-right: 15px;
        top: -5px;
        position: relative; }
    .fetrd-artcls .box-full p, .fetrd-artcls .banner .banner-bg-1 p, .banner .fetrd-artcls .banner-bg-1 p, .fetrd-artcls .banner .banner-bg-2 p, .banner .fetrd-artcls .banner-bg-2 p, .fetrd-artcls .banner .banner-bg-3 p, .banner .fetrd-artcls .banner-bg-3 p, .fetrd-artcls .banner .banner-bg-4 p, .banner .fetrd-artcls .banner-bg-4 p {
      font: 15px/23px "Hind Vadodara", sans-serif;
      color: #444; }

.sctn-btm {
  background: #f4f4f4;
  padding-top: 60px;
  padding-bottom: 60px; }
  .sctn-btm i {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 55px;
    color: #d01818; }
  .sctn-btm h4 {
    text-align: center;
    font: 35px/43px "Poppins", sans-serif;
    color: #222;
    margin-bottom: 10px; }
    .sctn-btm h4 span {
      color: #8a171a; }

.client-slide-otr {
  background: url(../img/bg-01.jpg) no-repeat center top;
  min-height: 522px;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 50px; }
  .client-slide-otr .client-slide {
    padding-top: 38px;
    text-align: center; }
    .client-slide-otr .client-slide button {
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #ddd;
      position: relative;
      line-height: 27px;
      font-family: "fontello";
      line-height: 40px; }
      .client-slide-otr .client-slide button:hover {
        background: #222;
        color: #fff; }
    .client-slide-otr .client-slide .slick-dots {
      bottom: -25px;
      display: block;
      list-style: outside none none;
      padding: 0;
      position: absolute;
      width: 100%;
      text-align: center; }
    .client-slide-otr .client-slide .slick-dots li {
      cursor: pointer;
      display: inline-block;
      height: 5px;
      margin: 0 4px;
      padding: 0;
      position: relative; }
    .client-slide-otr .client-slide .slick-dots li button {
      background: #fff;
      border: 0 none;
      color: transparent;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 12px;
      width: 12px;
      line-height: 0;
      outline: medium none;
      padding: 2px;
      border-radius: 50%; }
    .client-slide-otr .client-slide .slick-dots li button:hover {
      background: #d01818 !important; }
    .client-slide-otr .client-slide .slick-dots li.slick-active button {
      background: #d01818;
      width: 8px;
      height: 8px;
      -webkit-box-shadow: 0px 0px 0px 4px white;
      -moz-box-shadow: 0px 0px 0px 4px white;
      box-shadow: 0px 0px 0px 4px white; }
  .client-slide-otr .box-full, .client-slide-otr .banner .banner-bg-1, .banner .client-slide-otr .banner-bg-1, .client-slide-otr .banner .banner-bg-2, .banner .client-slide-otr .banner-bg-2, .client-slide-otr .banner .banner-bg-3, .banner .client-slide-otr .banner-bg-3, .client-slide-otr .banner .banner-bg-4, .banner .client-slide-otr .banner-bg-4 {
    text-align: left;
    margin: 0 15px;
    position: relative; }
    .client-slide-otr .box-full:after, .client-slide-otr .banner .banner-bg-1:after, .banner .client-slide-otr .banner-bg-1:after, .client-slide-otr .banner .banner-bg-2:after, .banner .client-slide-otr .banner-bg-2:after, .client-slide-otr .banner .banner-bg-3:after, .banner .client-slide-otr .banner-bg-3:after, .client-slide-otr .banner .banner-bg-4:after, .banner .client-slide-otr .banner-bg-4:after {
      content: "";
      width: 65px;
      height: 58px;
      position: absolute;
      display: inline-block;
      right: 40px;
      top: 90px;
      background: url(../img/quote.png) no-repeat center top; }
    .client-slide-otr .box-full .content, .client-slide-otr .banner .banner-bg-1 .content, .banner .client-slide-otr .banner-bg-1 .content, .client-slide-otr .banner .banner-bg-2 .content, .banner .client-slide-otr .banner-bg-2 .content, .client-slide-otr .banner .banner-bg-3 .content, .banner .client-slide-otr .banner-bg-3 .content, .client-slide-otr .banner .banner-bg-4 .content, .banner .client-slide-otr .banner-bg-4 .content {
      background: #fff;
      padding: 60px 30px 50px 60px;
      min-height: 263px; }
    .client-slide-otr .box-full .box, .client-slide-otr .banner .banner-bg-1 .box, .banner .client-slide-otr .banner-bg-1 .box, .client-slide-otr .banner .banner-bg-2 .box, .banner .client-slide-otr .banner-bg-2 .box, .client-slide-otr .banner .banner-bg-3 .box, .banner .client-slide-otr .banner-bg-3 .box, .client-slide-otr .banner .banner-bg-4 .box, .banner .client-slide-otr .banner-bg-4 .box {
      padding: 60px 0px;
      margin-bottom: 0px;
      position: relative; }
    .client-slide-otr .box-full i, .client-slide-otr .banner .banner-bg-1 i, .banner .client-slide-otr .banner-bg-1 i, .client-slide-otr .banner .banner-bg-2 i, .banner .client-slide-otr .banner-bg-2 i, .client-slide-otr .banner .banner-bg-3 i, .banner .client-slide-otr .banner-bg-3 i, .client-slide-otr .banner .banner-bg-4 i, .banner .client-slide-otr .banner-bg-4 i {
      border: 1px solid #ccc;
      width: 104px;
      height: 96px;
      position: absolute;
      top: 0;
      left: 60px; }
    .client-slide-otr .box-full strong, .client-slide-otr .banner .banner-bg-1 strong, .banner .client-slide-otr .banner-bg-1 strong, .client-slide-otr .banner .banner-bg-2 strong, .banner .client-slide-otr .banner-bg-2 strong, .client-slide-otr .banner .banner-bg-3 strong, .banner .client-slide-otr .banner-bg-3 strong, .client-slide-otr .banner .banner-bg-4 strong, .banner .client-slide-otr .banner-bg-4 strong {
      font: 600 16px/23px "Poppins", sans-serif;
      color: #222;
      display: block;
      text-align: left;
      margin-bottom: 10px; }
      .client-slide-otr .box-full strong:before, .client-slide-otr .banner .banner-bg-1 strong:before, .banner .client-slide-otr .banner-bg-1 strong:before, .client-slide-otr .banner .banner-bg-2 strong:before, .banner .client-slide-otr .banner-bg-2 strong:before, .client-slide-otr .banner .banner-bg-3 strong:before, .banner .client-slide-otr .banner-bg-3 strong:before, .client-slide-otr .banner .banner-bg-4 strong:before, .banner .client-slide-otr .banner-bg-4 strong:before {
        content: "";
        width: 10px;
        height: 3px;
        background: #d01818;
        display: inline-block;
        margin-right: 15px;
        top: -5px;
        position: relative; }
    .client-slide-otr .box-full span, .client-slide-otr .banner .banner-bg-1 span, .banner .client-slide-otr .banner-bg-1 span, .client-slide-otr .banner .banner-bg-2 span, .banner .client-slide-otr .banner-bg-2 span, .client-slide-otr .banner .banner-bg-3 span, .banner .client-slide-otr .banner-bg-3 span, .client-slide-otr .banner .banner-bg-4 span, .banner .client-slide-otr .banner-bg-4 span {
      color: #888;
      font: 13px/23px "Poppins", sans-serif;
      margin-bottom: 15px;
      width: 100%;
      float: left; }
    .client-slide-otr .box-full p, .client-slide-otr .banner .banner-bg-1 p, .banner .client-slide-otr .banner-bg-1 p, .client-slide-otr .banner .banner-bg-2 p, .banner .client-slide-otr .banner-bg-2 p, .client-slide-otr .banner .banner-bg-3 p, .banner .client-slide-otr .banner-bg-3 p, .client-slide-otr .banner .banner-bg-4 p, .banner .client-slide-otr .banner-bg-4 p {
      font: 15px/23px "Hind Vadodara", sans-serif;
      color: #444; }

.faq-sign-otr {
  padding-top: 90px;
  padding-bottom: 90px; }
  .faq-sign-otr .accordion {
    margin-top: 80px; }
    .faq-sign-otr .accordion .card-header {
      background: #fff;
      padding: 20px 0;
      padding-left: 23px;
      border-bottom: 1px solid #eee;
      position: relative;
      text-align: left; }
      .faq-sign-otr .accordion .card-header:before {
        content: "";
        width: 10px;
        height: 3px;
        background: #d01818;
        display: inline-block;
        top: 31px;
        position: absolute;
        left: 0; }
      .faq-sign-otr .accordion .card-header .btn {
        white-space: normal;
        text-align: left; }
    .faq-sign-otr .accordion button {
      font: 600 18px/23px "Poppins", sans-serif;
      color: #222; }
      .faq-sign-otr .accordion button:hover {
        text-decoration: none;
        color: #8a171a; }
    .faq-sign-otr .accordion .btn {
      padding: 0 0; }
    .faq-sign-otr .accordion .card {
      border: 0; }
    .faq-sign-otr .accordion .card-body {
      padding: 15px 0;
      font: 15px/23px "Hind Vadodara", sans-serif;
      color: #444; }
  .faq-sign-otr .faq-content {
    position: relative;
    display: flex;
    flex-wrap: wrap; }
    .faq-sign-otr .faq-content h4 {
      font: 700 36px/43px "Poppins", sans-serif;
      color: #222;
      margin-bottom: 20px;
      position: relative; }
      .faq-sign-otr .faq-content h4:before {
        content: "";
        background: url(../img/three-line.png) no-repeat center !important;
        height: 10px;
        width: 70px;
        display: inline-block;
        position: absolute;
        bottom: -80px;
        left: 38px;
        transform: translate(-50%, -50%); }
    .faq-sign-otr .faq-content strong {
      font: 16px/23px "Hind Vadodara", sans-serif;
      color: #888;
      margin-bottom: 30px;
      display: block; }
  .faq-sign-otr .sign-up-hm h5 {
    font: 700 36px/43px "Poppins", sans-serif;
    color: #222;
    margin-bottom: 20px; }
    .faq-sign-otr .sign-up-hm h5 span {
      color: #8a171a; }
  .faq-sign-otr .sign-up-hm p {
    font: 16px/23px "Hind Vadodara", sans-serif;
    color: #888; }
  .faq-sign-otr .sign-up-hm .forms-hm-otr {
    position: relative;
    background: transparent; }
    .faq-sign-otr .sign-up-hm .forms-hm-otr .forms {
      padding-top: 30px;
      margin-top: 25px;
      margin-left: -15px;
      margin-right: -15px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      /* Hide the browser's default checkbox */
      /* Create a custom checkbox */
      /* On mouse-over, add a grey background color */
      /* When the checkbox is checked, add a blue background */
      /* Create the checkmark/indicator (hidden when not checked) */
      /* Show the checkmark when checked */
      /* Style the checkmark/indicator */ }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms:before {
        content: "";
        width: 189px;
        height: 1px;
        background: #d01818;
        position: absolute;
        bottom: 0;
        display: inline-block;
        top: 0;
        left: 15px; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms ::-webkit-input-placeholder {
        opacity: 1;
        color: #222; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms :-moz-placeholder {
        opacity: 1;
        color: #222; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms ::-moz-placeholder {
        opacity: 1;
        color: #222; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms :-ms-input-placeholder {
        opacity: 1;
        color: #222; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .place-holder, .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .input-holder {
        position: relative; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms input[type="text"], .faq-sign-otr .sign-up-hm .forms-hm-otr .forms input[type="password"], .faq-sign-otr .sign-up-hm .forms-hm-otr .forms input[type="email"], .faq-sign-otr .sign-up-hm .forms-hm-otr .forms input[type="number"], .faq-sign-otr .sign-up-hm .forms-hm-otr .forms input[type="tel"], .faq-sign-otr .sign-up-hm .forms-hm-otr .forms input[type="url"],
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms textarea {
        font: 14px/23px "Poppins", sans-serif;
        color: #222;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 52px;
        padding: 9px 18px;
        border-radius: 0;
        vertical-align: middle;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: right center;
        border: 0;
        border: 1px solid #eee;
        outline: none;
        display: block;
        width: 100%;
        margin-bottom: 15px; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms textarea {
        resize: none;
        height: 162px;
        padding-top: 20px;
        margin-bottom: 20px; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .submt-btn .sbmt {
        font: 14px/23px "Poppins", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-transform: uppercase;
        background: #8a171a;
        padding: 11px 10px;
        border-radius: 2px;
        text-align: center;
        width: 185px;
        display: inline-block;
        color: #fff;
        border: 0; }
        .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .submt-btn .sbmt:hover {
          background: #c21414; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .check-box {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 24px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font: 16px/23px "Hind Vadodara", sans-serif;
        color: #888; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .check-box input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid #999;
        background-color: #fff; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .check-box:hover input ~ .checkmark {
        background-color: #fff; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .check-box input:checked ~ .checkmark {
        background-color: #8a171a; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .checkmark:after {
        content: "";
        position: absolute;
        display: none; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .check-box input:checked ~ .checkmark:after {
        display: block; }
      .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .check-box .checkmark:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }

footer {
  background: #313131;
  padding-top: 135px; }
  footer .ftr-logo-cnt img {
    margin-bottom: 17px; }
  footer .ftr-logo-cnt .scl-ftr {
    margin-top: 30px; }
    footer .ftr-logo-cnt .scl-ftr ul li {
      list-style: none;
      display: inline-block; }
      footer .ftr-logo-cnt .scl-ftr ul li a {
        width: 25px;
        height: 25px;
        color: #ccc;
        margin-right: 15px; }
        footer .ftr-logo-cnt .scl-ftr ul li a:hover {
          text-decoration: none;
          color: #fff; }
  footer p {
    font: 15px/23px "Hind Vadodara", sans-serif;
    color: #bbbaba; }
  footer .ftr-menu {
    margin-left: 50px; }
    footer .ftr-menu strong {
      position: relative;
      color: #fff;
      text-transform: uppercase;
      font: 18px/23px "Poppins", sans-serif;
      padding-left: 28px;
      margin-bottom: 20px;
      display: block; }
      footer .ftr-menu strong:before {
        content: "";
        width: 10px;
        height: 3px;
        background: #d01818;
        display: inline-block;
        top: 10px;
        position: absolute;
        left: 0; }
    footer .ftr-menu ul li {
      list-style: none;
      padding-bottom: 10px;
      position: relative;
      padding-left: 18px; }
      footer .ftr-menu ul li:before {
        content: '\e800';
        color: #bbbaba;
        position: absolute;
        left: 0;
        top: 2px;
        font-family: "fontello"; }
      footer .ftr-menu ul li a {
        font: 14px/23px "Poppins", sans-serif;
        color: #bbbaba; }
  footer .adrs {
    margin-left: 0; }
  footer address h6 {
    font: 18px/23px "Poppins", sans-serif;
    color: #fff; }
    footer address h6 span {
      color: #d01818; }
  footer .ftr-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 18px 0; }
    footer .ftr-contact ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      footer .ftr-contact ul li {
        list-style: none;
        display: inline-block;
        float: right;
        color: #fff;
        font: 13px/23px "Poppins", sans-serif;
        padding-left: 0; }
        footer .ftr-contact ul li svg:not(:root) {
          fill: #fff;
          width: 15px;
          height: 15px;
          margin: 0 8px -2px 0; }
        footer .ftr-contact ul li:before {
          content: "";
          display: none; }
        footer .ftr-contact ul li i {
          margin-right: 15px; }
        footer .ftr-contact ul li a {
          color: #fff; }
  footer .ftr-strip {
    background: #111;
    height: 85px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 135px; }
  footer p {
    color: #888;
    margin-bottom: 0; }
    footer p a {
      color: #888;
      margin: 0 10px;
      position: relative; }
      footer p a:hover {
        color: #d01818; }
      footer p a:first-child:after {
        content: "";
        height: 15px;
        width: 1px;
        background: #888;
        display: inline-block;
        position: absolute;
        right: -11px;
        top: 4px; }

.active {
  -webkit-box-shadow: 0px 3px 0px 0px #8a171b;
  -moz-box-shadow: 0px 3px 0px 0px #8a171b;
  box-shadow: 0px 3px 0px 0px #8a171b;
  color: #010101 !important; }

.clr-rd {
  color: #8a171a !important;
  position: relative; }

.line:after {
  content: "";
  height: 17px;
  top: 16px;
  width: 1px;
  background: #8a171a;
  display: inline-block;
  position: absolute;
  right: -15px; }

.pricingSection {
  position: relative;
  padding-top: 145px; }
  .pricingSection .bannerPricing {
    background: url("../img/Pricing-Background.jpeg") center no-repeat;
    background-size: cover;
    min-height: 800px; }
    .pricingSection .bannerPricing .pricingHeader {
      text-align: center;
      padding-top: 46px; }
      .pricingSection .bannerPricing .pricingHeader h3 {
        font: 700 33px/23px "Poppins", sans-serif;
        margin-bottom: 11px; }
      .pricingSection .bannerPricing .pricingHeader h4 {
        font: 500 15px/23px "Poppins", sans-serif;
        text-transform: uppercase;
        color: #8a171a; }
    .pricingSection .bannerPricing .pricingaMainOtr {
      margin-top: 70px; }
      .pricingSection .bannerPricing .pricingaMainOtr .pricingOtrSec .pricingOtr {
        background: #fff;
        padding: 50px 0px 27px;
        text-align: center;
        box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.05); }
        .pricingSection .bannerPricing .pricingaMainOtr .pricingOtrSec .pricingOtr .priceHead {
          font: 700 24px/23px "Poppins", sans-serif;
          margin-bottom: 4px; }
          .pricingSection .bannerPricing .pricingaMainOtr .pricingOtrSec .pricingOtr .priceHead .perMnth {
            font: 500 17px/23px "Poppins", sans-serif;
            color: #8a171a; }
        .pricingSection .bannerPricing .pricingaMainOtr .pricingOtrSec .pricingOtr .pricesub {
          font: 500 16px/23px "Poppins", sans-serif;
          text-transform: uppercase; }
        .pricingSection .bannerPricing .pricingaMainOtr .pricingOtrSec .pricingOtr .dollr {
          font: 500 20px/23px "Poppins", sans-serif; }
        .pricingSection .bannerPricing .pricingaMainOtr .pricingOtrSec .pricingOtr .price {
          font: 700 35px/23px "Poppins", sans-serif; }
        .pricingSection .bannerPricing .pricingaMainOtr .pricingOtrSec .pricingOtr ul {
          margin-top: 25px; }
          .pricingSection .bannerPricing .pricingaMainOtr .pricingOtrSec .pricingOtr ul li {
            list-style: none;
            font: 14px/23px "Poppins", sans-serif;
            text-transform: uppercase;
            padding: 10px 3px 10px;
            margin-bottom: 8px; }
            .pricingSection .bannerPricing .pricingaMainOtr .pricingOtrSec .pricingOtr ul li:nth-child(odd) {
              background: #f5f4f4; }
          .pricingSection .bannerPricing .pricingaMainOtr .pricingOtrSec .pricingOtr ul .btnsignup {
            margin-top: 15px; }
            .pricingSection .bannerPricing .pricingaMainOtr .pricingOtrSec .pricingOtr ul .btnsignup .signupBtn {
              background: #717171;
              border: none;
              font: 500 16px/23px "Poppins", sans-serif;
              text-transform: uppercase;
              color: #fff;
              border-radius: 4px;
              width: 140px;
              height: 42px; }
      .pricingSection .bannerPricing .pricingaMainOtr .pricingOtr.priceActive {
        color: #fff;
        background: #8a171a; }
        .pricingSection .bannerPricing .pricingaMainOtr .pricingOtr.priceActive:before {
          content: "";
          width: 70px;
          height: 70px;
          position: absolute;
          top: -34px;
          right: 37px;
          border-radius: 50px;
          background: #8a171a url(../img/star.png) no-repeat center;
          background-size: 40px; }
        .pricingSection .bannerPricing .pricingaMainOtr .pricingOtr.priceActive .perMnth {
          color: #fff !important; }
        .pricingSection .bannerPricing .pricingaMainOtr .pricingOtr.priceActive li:nth-child(odd) {
          background: #ce5b5e !important; }
        .pricingSection .bannerPricing .pricingaMainOtr .pricingOtr.priceActive .btnsignup .signupBtn {
          background: #fff !important;
          color: #333 !important; }

.free-demo-btn {
  position: fixed;
  z-index: 100;
  color: #fff;
  top: 280px;
  right: 0;
  background: #d05558;
  padding: 13px 18px 12px;
  width: 55px;
  height: 251px; }
  .free-demo-btn a {
    text-decoration: none; }
  .free-demo-btn span {
    -webkit-transform: rotate(270deg) translate(0px, 0px);
    -ms-transform: rotate(270deg) translate(0px, 0px);
    transform: rotate(270deg) translate(0px, 0px);
    font: 400 16px/23px "Poppins", sans-serif;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    width: 223px;
    height: 223px; }

.freeDemoModal .modal-title {
  text-transform: uppercase;
  font: 700 18px/23px "Poppins", sans-serif; }
.freeDemoModal .forms-otr {
  background: #fff;
  padding-top: 10px; }
  .freeDemoModal .forms-otr ul {
    flex-direction: column; }
    .freeDemoModal .forms-otr ul li {
      list-style: none; }

.signupModal {
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */ }
  .signupModal .forms-otr ul li textarea {
    resize: none;
    height: 162px;
    margin-bottom: 20px; }
  .signupModal .check-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 24px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: 16px/23px "Hind Vadodara", sans-serif;
    color: #888; }
  .signupModal .check-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .signupModal .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #999;
    background-color: #fff; }
  .signupModal .check-box:hover input ~ .checkmark {
    background-color: #fff; }
  .signupModal .check-box input:checked ~ .checkmark {
    background-color: #8a171a; }
  .signupModal .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .signupModal .check-box input:checked ~ .checkmark:after {
    display: block; }
  .signupModal .check-box .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.modal-open {
  padding-right: 0px !important; }

@media (max-width: 1679px) {
  .banner .bnr-caption-otr .bnr-txt .light {
    font: 100 26px/23px "Poppins", sans-serif; }

  .banner .bnr-caption-otr .bnr-txt h2 {
    font: 700 30px/35px "Poppins", sans-serif; }

  .banner .bnr-caption-otr .bnr-txt p {
    font: 400 14px/23px "Poppins", sans-serif; }

  .video-mang-scnt .content-box {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 12px; }

  .video-mang-scnt article h2 {
    font: 700 27px/23px "Poppins", sans-serif;
    color: #222;
    margin-bottom: 10px; }

  .banner .bnr-caption-otr .btn {
    padding: 8px 29px;
    font: 600 14px/23px "Poppins", sans-serif; }

  .banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4, .banner .box-full, .banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4 {
    height: 424px;
    background-size: 100% !important; }

  .top-grid .card .btn-primary {
    font: 13px/23px "Poppins", sans-serif;
    padding: 5px 35px; }

  .top-grid h1 {
    font: 700 31px/23px "Poppins", sans-serif; }

  .video-mang-scnt article strong {
    font: 13px/23px "Hind Vadodara", sans-serif;
    margin-bottom: 0;
    display: block; }

  .video-mang-scnt article p {
    font: 13px/23px "Hind Vadodara", sans-serif; }

  .video-mang-scnt .video-bx {
    height: 520px;
    background: #f4f4f4; }

  .video-mang-scnt article p {
    margin-bottom: 7px; }

  .video-mang-scnt article .content {
    padding-bottom: 5px; }

  .video-mang-scnt article .content {
    position: relative;
    margin-top: 15px;
    padding-top: 15px; }

  .sctin-csmt h3 {
    font: 29px/33px "Poppins", sans-serif; }

  .forms-otr h4 {
    font: 600 29px/33px "Poppins", sans-serif; }

  .fetrd-artcls {
    padding-top: 50px; }

  footer .ftr-menu ul li a {
    font: 12px/23px "Poppins", sans-serif; }

  footer p {
    font: 13px/23px "Hind Vadodara", sans-serif; }

  footer .ftr-logo-cnt img {
    margin-bottom: 17px;
    width: 165px; }

  footer .ftr-menu strong {
    font: 15px/23px "Poppins", sans-serif; }

  footer .ftr-strip {
    height: 55px; }

  footer {
    padding-top: 45px; }

  header {
    border-bottom: 1px solid #ddd; }
    header .logo img {
      padding-top: 0px;
      width: 200px; }

  footer .ftr-strip {
    margin-top: 40px; }

  .faq-sign-otr .accordion button {
    font: 600 16px/23px "Poppins", sans-serif; }

  .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .submt-btn .sbmt {
    width: 157px;
    padding: 8px 10px; }

  .faq-sign-otr .faq-content h4 {
    font: 700 29px/33px "Poppins", sans-serif; }

  .faq-sign-otr .sign-up-hm h5 {
    font: 700 29px/33px "Poppins", sans-serif; }

  .faq-sign-otr .accordion {
    margin-top: 0; }

  .client-slide-otr {
    padding-top: 30px; }

  .sctn-btm {
    padding: 30px 0; }

  .fetrd-artcls h3 {
    font: 29px/33px "Poppins", sans-serif; }

  .sctin-csmt {
    padding-top: 50px; }

  .sctn-btm h4 {
    text-align: center;
    font: 29px/36px "Poppins", sans-serif; }

  .sctn-btm i {
    font-size: 42px; }

  .faq-sign-otr {
    padding-top: 60px; }

  .fetrd-artcls:after, .fetrd-artcls:before {
    width: 270px; }

  .fetrd-artcls .featured-slide .slick-next {
    left: 46.5%; } }
@media (max-width: 1199px) {
  .banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4 {
    height: 360px;
    background-size: cover !important; }

  .min-hd {
    height: 55px; }

  .top-cnt-scnt ul {
    width: 100%; }

  .banner {
    padding-top: 117px; }

  header {
    height: 119px; }

  header .logo {
    width: 190px;
    height: auto;
    float: left;
    padding-top: 3px; }

  header .search-otr {
    padding-top: 25px;
    position: relative;
    top: -12px;
    z-index: 99999; }

  .main-nav ul {
    width: 100%; }

  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -60px; }

  header .navbar {
    padding: 5px 0 0; }

  header .sig-otr {
    list-style: none;
    padding-top: 30px;
    order: 1;
    width: 100%;
    text-align: right;
    padding-right: 70px; }

  header .search-otr .searchbox-open {
    width: 710px; }

  .fetrd-artcls .featured-slide .slick-prev {
    position: absolute;
    bottom: -50px;
    right: 44.5%; }

  .fetrd-artcls:after, .fetrd-artcls:before {
    display: none; }

  .main-nav {
    padding: 18px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 59px; }

  .banner .bnr-caption-otr {
    padding-top: 70px;
    background: rgba(57, 57, 57, 0.79);
    padding: 50px;
    margin-top: 50px; } }
@media (max-width: 1023px) {
  header .search-otr .searchbox-open {
    width: 100%; }

  .faq-sign-otr .accordion {
    margin-top: 0; }

  .main-nav {
    padding: 11px 0; }

  header .search-otr {
    padding-right: 65px;
    padding-top: 20px; }

  .video-mang-scnt > div {
    padding: 0 15px; }

  .bg-wt {
    background: #fff; }

  header .sig-otr {
    padding-top: 0; }

  header .logo {
    padding-top: 3px; }

  .banner {
    padding-top: 114px; }

  .banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4, .banner .box-full, .banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4 {
    height: auto;
    padding-bottom: 60px; }

  .top-grid .card {
    margin-bottom: 30px;
    width: 100%; }

  .video-mang-scnt .video-bx {
    position: static;
    height: auto; }

  .top-grid {
    padding-top: 50px;
    padding-bottom: 30px; }

  .video-mang-scnt .content-box {
    padding-bottom: 52px; }

  .video-mang-scnt article h2 {
    font: 700 27px/34px "Poppins", sans-serif; }

  .video-mang-scnt article strong {
    font: 14px/19px "Hind Vadodara", sans-serif; }

  .sctin-csmt h3 {
    font: 29px/37px "Poppins", sans-serif; }

  .sctin-csmt .mid-grid {
    padding-top: 50px;
    padding-bottom: 20px; }

  .forms-otr {
    padding-top: 30px;
    padding-bottom: 30px; }

  .forms-otr .forms {
    justify-content: center; }

  .forms-otr .form-list ul li {
    list-style: none;
    width: 342px; }

  .sctn-btm {
    background: #f4f4f4;
    padding-top: 30px;
    padding-bottom: 30px; }

  .client-slide-otr {
    background: url(../img/bg-01.jpg) no-repeat center top;
    min-height: auto;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 50px; }

  .video-mang-scnt article {
    width: 95%; }

  header {
    border-bottom: 1px solid #ddd; }

  .video-mang-scnt article p {
    font: 16px/23px "Hind Vadodara", sans-serif; } }
@media (max-width: 767px) {
  .client-slide-otr .box-full:after, .client-slide-otr .banner .banner-bg-1:after, .banner .client-slide-otr .banner-bg-1:after, .client-slide-otr .banner .banner-bg-2:after, .banner .client-slide-otr .banner-bg-2:after, .client-slide-otr .banner .banner-bg-3:after, .banner .client-slide-otr .banner-bg-3:after, .client-slide-otr .banner .banner-bg-4:after, .banner .client-slide-otr .banner-bg-4:after {
    content: "";
    right: 10px;
    background: url(../img/quote.png) no-repeat center top;
    background-size: 75%; }

  .top-grid .card .content {
    min-height: auto;
    margin-bottom: 17px; }

  .video-mang-scnt article .content {
    margin-bottom: 15px; }

  .video-mang-scnt .content-box {
    padding-bottom: 32px; }

  .sctin-csmt .mid-grid .card .content {
    min-height: auto; }

  .sctin-csmt .mid-grid .card .card-title {
    font: 700 19px/23px "Poppins", sans-serif; }

  .client-slide-otr .box-full .content, .client-slide-otr .banner .banner-bg-1 .content, .banner .client-slide-otr .banner-bg-1 .content, .client-slide-otr .banner .banner-bg-2 .content, .banner .client-slide-otr .banner-bg-2 .content, .client-slide-otr .banner .banner-bg-3 .content, .banner .client-slide-otr .banner-bg-3 .content, .client-slide-otr .banner .banner-bg-4 .content, .banner .client-slide-otr .banner-bg-4 .content {
    padding: 60px 20px 50px 20px; }

  .fetrd-artcls {
    padding-bottom: 25px; }

  .fetrd-artcls .box-full .box, .fetrd-artcls .banner .banner-bg-1 .box, .banner .fetrd-artcls .banner-bg-1 .box, .fetrd-artcls .banner .banner-bg-2 .box, .banner .fetrd-artcls .banner-bg-2 .box, .fetrd-artcls .banner .banner-bg-3 .box, .banner .fetrd-artcls .banner-bg-3 .box, .fetrd-artcls .banner .banner-bg-4 .box, .banner .fetrd-artcls .banner-bg-4 .box {
    margin-bottom: 20px; }

  .fetrd-artcls .featured-slide {
    padding-top: 20px; }

  .banner .bnr-caption-otr {
    margin-top: 30px; }

  .banner .bnr-caption-otr {
    padding: 20px; }

  .banner {
    padding-top: 60px; }

  header {
    height: 64px; }

  .min-hd {
    display: none; }

  header .search-otr {
    top: -68px; }

  .mob-btn {
    top: -40px !important; }

  .banner .banner-bg-1, .banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4, .banner .box-full, .banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4 {
    height: auto;
    padding-bottom: 25px; }

  .banner .slick-dots {
    bottom: -30px; }

  .banner .bnr-caption-otr .bnr-txt h2 {
    font: 700 24px/27px "Poppins", sans-serif; }
    .banner .bnr-caption-otr .bnr-txt h2 br {
      display: none; }

  .banner .bnr-caption-otr .bnr-txt p {
    font: 400 13px/23px "Poppins", sans-serif; }

  /*     header {
  height: auto;
  } */
  .video-mang-scnt article .btn-primary {
    padding: 7px 23px; }

  .faq-sign-otr .faq-content h4:before {
    display: none; }

  .faq-sign-otr .accordion {
    margin-top: 0px; }

  .faq-sign-otr .faq-content strong {
    margin-bottom: 0px; }

  .sctn-btm h4 {
    font: 23px/29px "Poppins", sans-serif; }

  .video-mang-scnt article h2 {
    font: 700 23px/29px "Poppins", sans-serif; }

  .faq-sign-otr .accordion button {
    font: 600 15px/22px "Poppins", sans-serif; }

  .sctin-csmt h3 {
    font: 23px/29px "Poppins", sans-serif; }

  .fetrd-artcls h3 {
    font: 23px/29px "Poppins", sans-serif; }

  .faq-sign-otr .faq-content h4 {
    font: 700 23px/29px "Poppins", sans-serif;
    margin-bottom: 15px; }

  .video-mang-scnt .content-box {
    padding-top: 33px; }

  .sctin-csmt, .fetrd-artcls, .faq-sign-otr {
    padding-top: 33px;
    padding-left: 15px;
    padding-right: 15px; }

  .sctin-csmt .mid-grid .card {
    border: 1px solid #ebebeb;
    border-radius: 0;
    margin-bottom: 25px; }

  .faq-sign-otr .sign-up-hm h5 {
    font: 700 23px/29px "Poppins", sans-serif;
    color: #222;
    margin-bottom: 20px;
    margin-top: 25px; }

  .top-grid h1 {
    font: 700 23px/29px "Poppins", sans-serif;
    margin-bottom: 30px; }

  .forms-otr h4 {
    font: 600 23px/29px "Poppins", sans-serif; }

  .forms-otr .form-list ul li {
    width: 100%;
    margin: 0 10px; }

  .fetrd-artcls .featured-slide .slick-prev {
    display: none !important; }

  .fetrd-artcls .featured-slide .slick-next {
    display: none !important; }

  footer .ftr-strip {
    height: auto; }
    footer .ftr-strip p {
      font: 12px/20px "Hind Vadodara", sans-serif; }

  .faq-sign-otr {
    padding-bottom: 40px; }

  .client-slide-otr .box-full .box, .client-slide-otr .banner .banner-bg-1 .box, .banner .client-slide-otr .banner-bg-1 .box, .client-slide-otr .banner .banner-bg-2 .box, .banner .client-slide-otr .banner-bg-2 .box, .client-slide-otr .banner .banner-bg-3 .box, .banner .client-slide-otr .banner-bg-3 .box, .client-slide-otr .banner .banner-bg-4 .box, .banner .client-slide-otr .banner-bg-4 .box {
    padding: 60px 0px 14px; }

  .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .submt-btn .sbmt {
    width: 120px;
    padding: 8px 10px; }

  footer .ftr-menu strong:before {
    display: none; }

  footer .ftr-menu ul li:before {
    display: none; }

  footer .ftr-menu ul li {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    padding-left: 0px;
    border-bottom: 1px solid #3a3a3a; }
    footer .ftr-menu ul li:last-child {
      border: 0; }

  .ftr-logo-cnt img {
    width: 180px; }

  .banner-bg-1.slick-slide.slick-current.slick-active {
    background-position-x: -370px !important; }

  footer .ftr-contact ul {
    justify-content: center; }

  footer .ftr-menu strong {
    position: relative;
    color: #fff;
    padding: 5px 0;
    border-bottom: 2px solid #8a171a;
    text-transform: uppercase;
    font: 18px/23px "Poppins", sans-serif;
    padding-left: 28px;
    margin-bottom: 0;
    display: block; }

  footer .ftr-menu strong {
    padding-left: 0px; }

  footer address h6 {
    margin-top: 20px; }

  footer {
    background: #313131;
    padding-top: 33px;
    text-align: center; }

  .ftr-logo-cnt {
    margin-bottom: 25px; }

  footer .ftr-menu {
    margin-left: 0; }

  footer .ftr-contact {
    justify-content: center;
    padding-top: 0; }
    footer .ftr-contact ul li {
      border-bottom: 0; }

  footer .ftr-strip {
    margin-top: 0;
    padding: 15px;
    text-align: center; }

  .banner .bnr-caption-otr .btn {
    font: 600 12px/23px "Poppins", sans-serif;
    padding: 5px 11px;
    margin-bottom: 10px; }

  header .search-otr .searchbox-input {
    font-size: 16px; }

  footer address {
    margin-bottom: 0; } }
@media (max-width: 479px) {
  header .logo {
    width: 150px;
    padding-top: 10px; }

  header .search-otr {
    top: -63px;
    padding-right: 50px; }

  .show-menu .main-nav {
    top: 61px !important; }

  .mob-btn {
    top: -34px !important; } }
@media only screen and (min-width: 1024px) {
  /*=== Append and Prepend ===*/
  .desk-hide {
    display: none; }

  /*=== Append and prepend ====*/
  /*==== Menu ====*/
  .flx-algin {
    display: flex;
    justify-content: flex-end; }

  .menu-wrp {
    position: absolute;
    right: 85px; }

  .main-nav {
    padding: 18px 0; }
    .main-nav > ul {
      margin: 0;
      padding: 0; }
      .main-nav > ul > li {
        display: inline-block;
        position: relative;
        margin-right: 30px; }
        .main-nav > ul > li:last-child {
          margin-right: 0; }
        .main-nav > ul > li.submenu:after {
          content: "";
          position: absolute;
          height: 0;
          width: 0;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 6px solid #989898;
          right: 2px;
          top: 20px;
          pointer-events: none; }
        .main-nav > ul > li > a {
          display: block;
          padding: 15px 0 0 !important;
          text-transform: uppercase;
          font: 14px/23px "Poppins", sans-serif;
          color: #010101;
          -webkit-transition: 0.2s ease-out all;
          -moz-transition: 0.2s ease-out all;
          -ms-transition: 0.2s ease-out all;
          transition: 0.2s ease-out all; }
          .main-nav > ul > li > a:hover {
            color: #8a171b !important; }
          .main-nav > ul > li > a .active {
            -webkit-box-shadow: 0px 3px 0px 0px #8a171b;
            -moz-box-shadow: 0px 3px 0px 0px #8a171b;
            box-shadow: 0px 3px 0px 0px #8a171b;
            color: #010101 !important; }
        .main-nav > ul > li .active {
          color: #007dc5; }
        .main-nav > ul > li:hover > a {
          color: #007dc5; }
        .main-nav > ul > li:hover > ul {
          visibility: visible;
          opacity: 1; }
        .main-nav > ul > li ul {
          position: absolute;
          margin: 0;
          padding: 0;
          background: #fff;
          width: 250px;
          visibility: hidden;
          opacity: 0;
          font-size: 14px;
          display: block !important;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          box-shadow: 0 5px 20px -9px rgba(0, 0, 0, 0.5);
          overflow: hidden; }
          .main-nav > ul > li ul li {
            display: block;
            border-bottom: 1px solid #e8e8e8;
            position: relative; }
            .main-nav > ul > li ul li:last-child {
              border: 0; }
            .main-nav > ul > li ul li a {
              padding: 8px 20px;
              display: block;
              text-decoration: none;
              font-size: 13px;
              color: #656565; }
            .main-nav > ul > li ul li:hover > ul {
              visibility: visible;
              opacity: 1;
              left: 250px;
              top: 0; }
            .main-nav > ul > li ul li:hover > a {
              background: #1e7fb8;
              color: #fff; }
            .main-nav > ul > li ul li.submenu::after {
              content: "";
              position: absolute;
              height: 0;
              width: 0;
              border-bottom: 3px solid transparent;
              border-left: 6px solid #fff;
              border-top: 3px solid transparent;
              right: 5px;
              top: 13px;
              pointer-events: none; }

  .mob-btn {
    display: none; }

  /*==== Menu End ====*/ }
@media only screen and (max-width: 1023px) {
  /*==== Menu ====*/
  .main-nav {
    position: fixed;
    width: 100%;
    top: 53px;
    opacity: 0;
    right: 0;
    background: #fff;
    height: auto;
    transition: all ease 0.2s;
    z-index: 1005;
    overflow-y: auto;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35); }
    .main-nav ul {
      margin: 0;
      padding: 0;
      display: block;
      margin-top: 0px; }
      .main-nav ul.mnav {
        margin-bottom: 30px; }
      .main-nav ul li {
        display: block;
        padding: 0 27px;
        position: relative;
        text-transform: capitalize;
        font-size: 13px;
        /* &:hover{
        	border-bottom: 1px solid #757575;
        } */ }
        .main-nav ul li span {
          display: none; }
        .main-nav ul li a {
          color: #0d2518;
          border-bottom: 1px solid #dcdcdc;
          text-decoration: none;
          font-size: 1em;
          display: block;
          padding: 15px 0px;
          padding-right: 40px;
          font: 500 15px/30px "Poppins", sans-serif; }
          .main-nav ul li a:hover {
            background: #f5f5f5; }
        .main-nav ul li.submenu i {
          position: absolute;
          width: 43px;
          height: 60px;
          top: 0;
          right: 27px;
          cursor: pointer;
          -webkit-transition: all ease 0.5s;
          -moz-transition: all ease 0.5s;
          transition: all ease 0.5s; }
          .main-nav ul li.submenu i:after {
            content: "";
            height: 0;
            width: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 6px solid #b3b3b3;
            position: absolute;
            right: 18px;
            top: 28px;
            z-index: 10; }
      .main-nav ul ul {
        margin: 0;
        display: none; }
        .main-nav ul ul li:last-child {
          border-bottom: 0; }
        .main-nav ul ul li:first-child {
          border-top: 0px solid #e8e8e8; }
        .main-nav ul ul li a {
          padding-left: 0px; }
        .main-nav ul ul li ul a {
          padding-left: 30px; }

  .show-menu .main-nav {
    top: 60px;
    opacity: 1; }
  .show-menu .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001; }

  .mob-btn {
    position: absolute;
    float: right;
    padding: 5px 7px;
    margin: 0px;
    background-color: transparent;
    cursor: pointer;
    right: 15px;
    top: 20px;
    z-index: 99999; }
    .mob-btn span {
      display: block;
      width: 30px;
      height: 2px;
      border-radius: 1px;
      background: #767676;
      -webkit-transition: 0.2s ease-out all;
      -moz-transition: 0.2s ease-out all;
      -ms-transition: 0.2s ease-out all;
      transition: 0.2s ease-out all; }
    .mob-btn span + span {
      margin-top: 5px; }

  /*==== Menu End ====*/
  /*=== Append and Prepend ===*/
  .extra-link {
    display: none; }

  /*==== Append and Prepend End ====*/ }
.show-menu .mob-btn span {
  -webkit-transition: 0.2s ease-out all;
  -moz-transition: 0.2s ease-out all;
  -ms-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all; }
.show-menu .mob-btn span:first-child {
  transform: rotate(-40deg);
  margin-top: 5px; }
.show-menu .mob-btn span:nth-child(2) {
  display: none; }
.show-menu .mob-btn span:last-child {
  transform: rotate;
  transform: rotate(40deg);
  margin-top: -2px; }

/*# sourceMappingURL=main.css.map */
