<cfinclude template="site_header.cfm">
<cfparam name="url.PageId" default="0">
<!--- <cfset RecordsPerPage = 2> --->
<!--- <cfinclude template="schedule_demo.cfm"> --->
<!--- <cfset local.objBlog = createObject("component","cfc.blog")>
<cfset local.blogData = local.objBlog.getBlogData()>
<cfset TotalPages = (local.blogData.Recordcount/RecordsPerPage)-1>
<cfset StartRow = (val(url.PageId)*RecordsPerPage)+1>
<cfset EndRow = StartRow+RecordsPerPage-1> --->
<section>
	<div class="mainDiv">
		<div class="container">
			<div class="row">
				<cfoutput>
					<div class="blogMain">
						<!--- <cfif local.blogData.recordCount>
							<cfloop query="local.blogData">	
								<cfif CurrentRow gte StartRow >
									<div class="row margin" >
										<div class="col-md-12">
											<h1 class="blogHead">
												#trim(local.blogData.Title)#
											</h1>
											<p><span class="red">Posted Date : <span class="blk">#DateFormat(local.blogData.Created_Date, "mm/dd/yyyy")#</span> </span>
										</div>
										<div class="col-md-12">
											<p class="textJustify ">
												 #Left(trim(local.blogData.Description),250)#.....
											</p>
										</div>
										<div class="viewBtn">
											<a href="blogDetails.cfm?blogId=#local.blogData.Blog_ID#" class="clrRed">View More >></a>
										</div>
									</div>
								</cfif>
								<cfif CurrentRow eq EndRow>
							       <cfbreak>
							    </cfif>
							</cfloop>
						<cfelse>
							<p class="blogHead">
								There is no blogs published yet!
							</p>
						</cfif> --->
						<div class="row margin" >
							<div class="col-md-12">
								<h1 class="blogHead">
									How to Become a Successful Salon Owner
								</h1>
							</div>
							<div class="col-md-12">
								<p class="textJustify ">
									Whether you are starting the next big social media site or becoming a salon owner, a combination of a few characteristics will help you become a successful business owner. Becoming a salon owner, let alone a successful salon owner.....
								</p>
							</div>
							<div class="viewBtn">
								<a href="blogDetails.cfm" class="clrRed" id="blogVw">View More >></a>
							</div>
						</div>
						<div class="row margin" >
							<div class="col-md-12">
								<h1 class="blogHead">
									Salon Software for Booth Renters
								</h1>
							</div>
							<div class="col-md-12">
								<p class="textJustify ">
									You started renting a salon booth, now what?  It is time to take charge of your business and clientele list!  With a salon software, booth renters can easily manage their schedule.....
								</p>
							</div>
							<div class="viewBtn">
								<a href="blogDetails.cfm?Id=1" class="clrRed" id="blogVwm">View More >></a>
							</div>
						</div>
				</cfoutput>	
			</div>
		</div>
	</div>
</section>
<cfinclude template="site_footer.cfm">