<cfquery name="getTrialMail" datasource="#request.dsn#">
   SELECT  Demo_Id, Email, FirstName, LastName, Mobile
   FROM personolized_demo
   where 1 = 1
   and TimeSch IS NULL
   and Selected_Date IS NULL
   and mailSent = 0;
</cfquery>
<cfif getTrialMail.recordcount>
	<cfloop query="getTrialMail">
		<cfmail from="#getTrialMail.Email#" to="salonworks@salonworks.com" bcc="ciredrofdarb@gmail.com" subject="Free Request" 
		server="smtp-relay.sendinblue.com" port="587" username="salonworks@salonworks.com" password="ZxhMVOAmav7FtIYR" usetls="true">
			<h2>Schedule Time Demo Request</h2>
			<div>
				Name: #getTrialMail.FirstName#  #getTrialMail.LastName# <br>
				Mobile: #getTrialMail.Email#<br>
				Email: #getTrialMail.Mobile#<br>
			</div>
		</cfmail>	
			<cfquery name="getTrialMail" datasource="#request.dsn#">
			   UPDATE personolized_demo
			   SET mailSent = <cfqueryparam value="1" cfsqltype="cf_sql_integer">
			   where Demo_Id = <cfqueryparam value="#getTrialMail.Demo_id#" cfsqltype="cf_sql_varchar">
			</cfquery>

	</cfloop>
</cfif>