<div id="customBtn" onclick="facebooklogin();">Log in with Facebook</div>


<script type="text/javascript">
 function facebooklogin(){
    alert(1);
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=601335550321622&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    window.fbAsyncInit = function() {
      FB.init({
        appId: '601335550321622',
        cookie: true, 
        xfbml: true, 
        version: 'v2.2' 
      });
      FB.getLoginStatus(function(response) {
        console.log(response);
         if (response.status === 'connected') {
             testAPI();
          } else if (response.status === 'not_authorized') {
            console.log("The person is logged into Facebook, but not your app.");
          } else {
          }
      });

    };

 function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      var facebookId = response.id;
      var facebookName = response.name.split(' ');
      console.log(facebookName);
    }); 
  }

}



// function facebooklogin(){
  
//     function statusChangeCallback(response) {
//       alert(1);
//       console.log(response);
//       if (response.status === 'connected') {
//         testAPI();
//       } else if (response.status === 'not_authorized') {
//         console.log("The person is logged into Facebook, but not your app.");
//       } else {
//       }
//     }

//     function checkLoginState() {
//       alert(2);
//       FB.getLoginStatus(function(response) {
//         statusChangeCallback(response);
//       });
//     }

//     window.fbAsyncInit = function() {
//       FB.init({
//         appId: '601335550321622',
//         cookie: true, 
//         xfbml: true, 
//         version: 'v2.2' 
//       });
//       FB.getLoginStatus(function(response) {
//         console.log(response);
//         statusChangeCallback(response);
//       });

//     };

//     (function(d, s, id) {
//       var js, fjs = d.getElementsByTagName(s)[0];
//       if (d.getElementById(id)) return;
//       js = d.createElement(s); js.id = id;
//       js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=601335550321622&autoLogAppEvents=1';
//       fjs.parentNode.insertBefore(js, fjs);
//     }(document, 'script', 'facebook-jssdk'));

//     function testAPI() {
//     console.log(3);
//     console.log('Welcome!  Fetching your information.... ');
//     FB.api('/me', function(response) {
//       var facebookId = response.id;
//       var facebookName = response.name.split(' ');
//       console.log(facebookId);
//     });
//     }
// }

</script>