@charset "utf-8";
/* CSS Document */

body{
		background:url(index_files/bg.jpg) no-repeat fixed center top;
}


.details{
	margin-top:15px;
	padding-bottom:20px;
	overflow:auto;

}

 .details .welcome{
	 float:none;
}

 .details .welcome .feature_top{
	 padding-bottom:15px;
	 border-bottom:1px dashed #dcdbdb;
 }
 
 .details .welcome .txt{
	color:#7f7e7e;
	font-size:20px;
	text-align:justify;
	padding-left:5px;
	vertical-align:top;
}

 .details .welcome .txt ul{
	 padding-left:15px;
	 padding-right:12px;
	 list-style:none;
 }
 
 .details .welcome .txt li{
	 padding-bottom:45px;
	 padding-top:45px;
	 border-bottom:1px dashed #dcdbdb;
 }
 
 .details .welcome .txt li table td{
	 vertical-align:top;
 }
 
 .details .welcome .txt li .head{
	 color:#333;
	 font-size:24px;
	 padding-bottom:25px;
	 padding-top:10px;
 }
