<cfset app="salonworks">
<cfif len(app) neq "">
	<cfoutput>#app#</cfoutput>
<!--- </cfif> --->
<!--- <cfscript>
	local.getTxnReqst = {
		"body" = {
			"getTransactionDetailsRequest"= {
				"merchantAuthentication"= {
		    		"name"= "7xG5qVRm65k",
		    		"transactionKey"= "97p5B2MD2v4v7tA3"
				},
				"transId"= "40022826459"
			}	
		},
		"headerData" = {
			"Authorization" = "Basic N3hHNXFWUm02NWs6OTdwNUIyTUQydjR2N3RB",
			"Content-Type" = "application/json"
		},
		"method" = "POST" ,
		"endPoint" = "https://apitest.authorize.net/xml/v1/request.api"
	};
	/* httpService = new http();
	httpService.setMethod( local.getTxnReqst.method );
	httpService.setUrl(local.getTxnReqst.endPoint);

	for( local.headeritem in local.getTxnReqst.headerData ) {
		httpService.addParam(type="header", name="#local.headeritem#", value="#local.getTxnReqst.headerData[local.headeritem]#");
	}
	httpService.addParam(type="body", value="#serializejson(local.getTxnReqst.body)#");
	local.txnresponse  =  httpService.send().getPrefix();
	writeDump(local.txnresponse);
	if(local.txnresponse.status_code == 200) {
		writeDump(local.txnresponse.filecontent);
		local.txnFileContent = deserializeJSON(local.txnresponse.filecontent);
		writeDump(local.txnFileContent);
	} */
	var httpService = new http();
    		httpService.setMethod("POST");
   			httpService.setUrl("https://apitest.authorize.net/xml/v1/request.api");
   			// Set headers.
			httpService.addParam(type="header", name="Authorization", value="Basic N3hHNXFWUm02NWs6OTdwNUIyTUQydjR2N3RBMw==");
		    httpService.addParam(type="header", name="Content-Type", value="application/json");
		    httpService.addParam(type="body", value="#serializejson(local.getTxnReqst.body)#");

		    var response  =  httpService.send().getPrefix();
			writedump(response);
		    if(response.status_code == 200 ) {
		    	var fileContentJSON = response.fileContent;
		    	/* var newStr = fileContentJSON.substring(1, Len(fileContentJSON)-1); */
		    	writeDump(Replace(fileContentJSON, '[',''));
		    	if( structKeyExists(fileContent, "totalNumInResultSet") && isNumeric(fileContent.totalNumInResultSet) && fileContent.totalNumInResultSet > 0 ) {
		    		var transactions = fileContent.transactions;
		    		for( var transaction in transactions ) {
		    			updateTransactionHistory(
		    				transactionID = transaction.transId,
		    				amount = transaction.settleAmount,
		    				subscriptionID = arguments.subscriptionID,
		    				companyID = arguments.companyID
		    			);
		    		}
		    	}

		    }
</cfscript>
   --->