<cfset variables.page_title = "Company Reports">
<cfinclude template="header.cfm">
<style>
	.form-group {
		margin-bottom:0px;
	}
</style>
<cfoutput>	
	<cfinclude template="company_elements.cfm">
</cfoutput>
<cfinclude template="footer.cfm">