.servicesDiv {
	padding-left: 2%;
}
.bold {
	font-weight: bold;
	padding-bottom: 10px;
}
.top{
	padding-top: 10px;
}
.bottom{
	padding-bottom: 10px;
}
#emailSubject{
	width: 72.75%;
}
.emailSubjectTextDiv{
	padding-left: 14px;
    padding-bottom: 3%;
}
.emailSubjectDiv{
	display: grid;
}
.hiddenDiv{
	display: none;
}
.Success {
    font-size: 15px;
    color: green;
    padding-left: 2%;
    padding-bottom: 1%;
}
.NoservicesDiv{
	padding-left: 4%;
    padding-top: 10%;
    color:#FF0000;
}
.page-header{
	padding-bottom:11px;
}
.page-header h1
{
	font-size:20px;
}
.headingDash h2
{
	    color: #4c4d4e;
    font-size: 21px;
}
.OtrIcons
{
	    margin-bottom: 24px;
}
.OtrIcons .bgIcn
{
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    padding: 20px 12px 10px;
         color: #848d92;
    text-align: center;
    width:150px;
       height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        margin-bottom: 7px;
        box-shadow:0px 1px 2px 1px rgba(204, 204, 204, 0.3);
            cursor:pointer;
}
.OtrIcons .bgIcn:hover
{
	    background: #62a8d1;
	    color:#fff;

}
.OtrIcons .bgIcn i {
    font-size:28px;
     
    }
    .OtrIcons .bgIcn p {
    font-size: 14px;
    margin-top: 7px;
}
.pl-0
{
	padding-left:0;
}
.boxOtr
{
	/*padding:0;*/
}
.inner-div-container {
	padding: 0 !important;
}
.inner-div-dash {
	padding: 5px 15px;
    box-shadow: 0px 2px 2px 0px;
    margin-bottom: 5px;
    background: #f2f2f2;
    border-radius: 5px;
}
.inner-div-dash p {
	margin-bottom: 0;
	line-height: 34px;
}
.inner-div-dash h6{
	font-weight: bold;
}
.head-row-dash {
	background-color: #868685;
	color: #fff;
	font-weight: 500;
	font-size: 10px;
	padding: 15px;
}
.boxOtr .boxbgOtr .hed
{
	font-size: 20px;
} 
.bdtLeft
{
	    border-left: 13px solid #fff;
}
.boxOtr .boxbgOtr 
{
	    background: #f2f2f2;
    padding: 10px 18px 10px;
}
.boxOtr .boxbgOtr h4
{
	    font-size: 14px;
    color: #9c9a9a;
} 
.totOtr h3,.subOtr h3
{
	    font-size: 16px;
    margin-bottom: 5px;
}
.totOtr .tot
{
	    font-size: 22px;
    font-weight: bold;
    color: #438eb9;
        border-bottom: 2px solid #dee1e2;
    padding-bottom: 9px;
}
.subOtr .price
{
    font-size: 19px;
    font-weight: bold;
    color: #383a3c;

}
.d-flex
{
	display:flex;
	flex-direction:row;
	    align-items: stretch;
    margin-bottom: 25px;
}
.boxbgOtr .contentDtl
{
	margin-top: 10px;
    border-left: 2px solid #62a8d1;
    font-size: 14px;
    margin-bottom: 30px;
}

.boxbgOtr .noticeDtl
{
	margin-top: 10px;
    border-left: 2px solid #62a8d1;
    font-size: 14px;
    margin-bottom: 10px;
}


.chartOtr
{
	margin-top:15px;
}

.cursor{
	cursor: pointer;
}

.headingDash{
	text-align: center;
    margin-bottom: 25px;
    color: #2679b5 !important;
}
.IcnOtr
{
	    max-width: 770px;
    margin: 0 auto;
}
.bgIcnOtr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}

@media only screen and (max-width:991px)    
{
	.d-flex
	{
		flex-direction: column;
	}
	.boxOtr .boxbgOtr
	{
		border-left:none;
		margin-bottom:15px;
	}
	.chartOtr
	{
		text-align:center;
	}
	canvas#myChart {
    width: 300px !important;
    height: 300px !important;
}
}
@media only screen and (max-width:770px)   
{
		.IcnOtr {
    max-width: 100%;
}
}

@media only screen and (max-width:767px)       
{
	.bgIcnOtr
	{
		width:100%;

	}
.bgIcnOtr
{
	    width: 33% !important;
}

}
@media only screen and (max-width:592px)
{
	.bgIcnOtr {
       width: 50% !important;
}
.OtrIcons .bgIcn
{
	    width: 130px;
    height: 130px;
}
.IcnOtr {
    max-width: 80%;
}
}
@media only screen and (max-width:479px)  
{
	canvas#myChart {
    width: 250px !important;
    height: 250px !important;
}
.IcnOtr {
    max-width: 100%;
        padding: 0;
}
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
    width: 430px !important;
}

button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
    width: 5px;
}
