@media (#{$lg-1200}) {
	
}


@media (#{$sm-1679}) {
  .banner .bnr-caption-otr .bnr-txt .light{  
   font:100 26px/23px $primary-font;
}
.banner .bnr-caption-otr .bnr-txt h2{
   font: 700 30px/35px "Poppins", sans-serif;
}
.banner .bnr-caption-otr .bnr-txt p{
    font:400 14px/23px "Poppins", sans-serif;
}
	.video-mang-scnt .content-box {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 12px;
 }
 .video-mang-scnt article h2 {
    font: 700 27px/23px "Poppins", sans-serif;
    color: #222;
    margin-bottom: 10px;
}
.banner .bnr-caption-otr .btn{
        padding: 8px 29px;
    font: 600 14px/23px "Poppins", sans-serif;
}
.banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4, .banner .box-full{
    height: 424px;
    background-size: 100% !important;
}
.top-grid .card .btn-primary{
   font: 13px/23px "Poppins", sans-serif;
   padding: 5px 35px;
}
.top-grid h1{
    font:700 31px/23px "Poppins", sans-serif;
}
.video-mang-scnt article strong {
    font: 13px/23px "Hind Vadodara", sans-serif;
    margin-bottom: 0;
    display: block;
}
.video-mang-scnt article p {
    font: 13px/23px "Hind Vadodara", sans-serif;
    }
    .video-mang-scnt .video-bx{
    	height: 520px;
    	    background: #f4f4f4;
    }
    .video-mang-scnt article p{
    	margin-bottom: 7px;
    }
    .video-mang-scnt article .content{
    	padding-bottom: 5px;
    }
    .video-mang-scnt article .content {
    position: relative;
    margin-top: 15px;
    padding-top: 15px;
}
.sctin-csmt h3 {
    font: 29px/33px "Poppins", sans-serif;
    }
    .forms-otr h4 {
    font: 600 29px/33px "Poppins", sans-serif;
}
    .fetrd-artcls{
    	padding-top: 50px;
    	
    }
    footer .ftr-menu ul li a {
    font: 12px/23px "Poppins", sans-serif;
}
footer p {
    font: 13px/23px "Hind Vadodara", sans-serif;
    }
    footer .ftr-logo-cnt img {
    margin-bottom: 17px;
    width: 165px;
}
    footer .ftr-menu strong{
            font: 15px/23px "Poppins", sans-serif;
    }
    footer .ftr-strip{
        height:55px;
    }
    footer{
            padding-top: 45px;
    }
    header{
        border-bottom: 1px solid #ddd;
        .logo{
            img{
padding-top: 0px;
            width: 200px;
            }
        }
    }
    footer .ftr-strip{
        margin-top: 40px;
    }
    .faq-sign-otr .accordion button{
        font: 600 16px/23px "Poppins", sans-serif;
    }
    .faq-sign-otr .sign-up-hm .forms-hm-otr .forms .submt-btn .sbmt{
        width: 157px;
            padding: 8px 10px;
    }
.faq-sign-otr .faq-content h4 {
    font: 700 29px/33px "Poppins", sans-serif;
}
.faq-sign-otr .sign-up-hm h5{
    font: 700 29px/33px "Poppins", sans-serif;


}
.faq-sign-otr .accordion {
    margin-top: 0;
}
    .client-slide-otr{
            padding-top: 30px;
    }
.sctn-btm{
    padding: 30px 0;
}
.fetrd-artcls h3{
	 font: 29px/33px "Poppins", sans-serif;
}
.sctin-csmt {
    padding-top: 50px;
    }
    .sctn-btm h4 {
    text-align: center;
    font: 29px/36px "Poppins", sans-serif;
 }
 .sctn-btm i {
    font-size: 42px;
}
.faq-sign-otr {
    padding-top: 60px;
    }
    .fetrd-artcls:after, .fetrd-artcls:before {
    width: 270px;
  }
  .fetrd-artcls .featured-slide .slick-next{
  	    left: 46.5%;
  }
}


@media (#{$sm-1199}) {


.banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4{
    height: 360px;
   background-size: cover !important;
}
.min-hd{
    height: 55px;
}
.top-cnt-scnt ul {
    width: 100%;
}
.banner {
 
    padding-top:117px;
}
header {
    height: 119px;
    }
header{
    
    .logo{
    width:190px;
    height: auto;
    float: left;
    padding-top: 3px;
    }
  }
  header .search-otr {
    padding-top: 25px;
    position: relative;
    top: -12px;
    z-index: 99999;
}
.main-nav ul{
    width: 100%;
}
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    position: absolute;
    right: 0;
       top: -60px;
}
header .navbar {
    padding: 5px 0 0;
    }
header .sig-otr {
    list-style: none;
    padding-top:30px;
    order: 1;
    width: 100%;
    text-align: right;
    padding-right: 70px;
    }
    header .search-otr .searchbox-open {
    width: 710px;
 }
 .fetrd-artcls .featured-slide .slick-prev {
    position: absolute;
    bottom: -50px;
    right: 44.5%;
}
.fetrd-artcls:after, .fetrd-artcls:before{
    display: none;
}
.main-nav {
    
    padding: 18px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 59px;
}
.banner .bnr-caption-otr {
    padding-top: 70px;
    background: rgba(57, 57, 57, 0.79);
    padding: 50px;
    margin-top: 50px;
}

}
@media (#{$sm-1023}) {
     header .search-otr .searchbox-open {
    width:100%;
 }
.faq-sign-otr .accordion {
    margin-top: 0;
}

    .main-nav {
    
padding:11px 0;
}
    header .search-otr{
            padding-right: 65px;
            padding-top: 20px;
    }
    .video-mang-scnt>div {
    padding: 0 15px;
  }

.bg-wt
{
    background: #fff;
}
header .sig-otr{
    padding-top: 0;
}
header .logo{
    padding-top: 3px;
}
.banner {
    padding-top: 114px;
}
.banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4, .banner .box-full{
    height: auto;
    padding-bottom: 60px;
}
.top-grid .card{
    margin-bottom: 30px;
    width: 100%;
}
.video-mang-scnt .video-bx {
    position: static;
    height: auto;
 }
 .top-grid {
    padding-top: 50px;
    padding-bottom: 30px;
}
.video-mang-scnt .content-box {

    padding-bottom: 52px;
}
.video-mang-scnt article h2 {
    font: 700 27px/34px "Poppins", sans-serif;
    }
    .video-mang-scnt article strong {
    font: 14px/19px "Hind Vadodara", sans-serif;
 }
 .sctin-csmt h3 {
    font: 29px/37px "Poppins", sans-serif;
}
.sctin-csmt .mid-grid {
    padding-top: 50px;
    padding-bottom: 20px;
}
.forms-otr {
    padding-top: 30px;
    padding-bottom: 30px;
}
.forms-otr .forms{
    justify-content: center;
}
.forms-otr .form-list ul li {
    list-style: none;
    width: 342px;
}
.sctn-btm {
    background: #f4f4f4;
    padding-top: 30px;
    padding-bottom: 30px;
}
.client-slide-otr {
    background: url(../img/bg-01.jpg) no-repeat center top;
    min-height: auto;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 50px;
}
.video-mang-scnt article {
    width: 95%;
}
header{
    border-bottom: 1px solid #ddd;
}
.video-mang-scnt article p {
    font: 16px/23px "Hind Vadodara", sans-serif;
}
}
@media (#{$sm-767}) {
    .client-slide-otr .box-full:after {
    content: "";
    right: 10px;
    background: url(../img/quote.png) no-repeat center top;
    background-size: 75%;
}
    .top-grid .card .content {
    min-height: auto;
    margin-bottom: 17px;
}
.video-mang-scnt article .content{
    margin-bottom: 15px;
}
.video-mang-scnt .content-box {
    padding-bottom: 32px;
}
.sctin-csmt .mid-grid .card .content {
    min-height: auto;
}
.sctin-csmt .mid-grid .card .card-title{
    font: 700 19px/23px "Poppins", sans-serif;
}
    .client-slide-otr .box-full .content{
        padding: 60px 20px 50px 20px;
    }
    .fetrd-artcls{
        padding-bottom: 25px;
    }
    .fetrd-artcls .box-full .box{
        margin-bottom: 20px;
    }
    .fetrd-artcls .featured-slide{
        padding-top: 20px;
    }
.banner .bnr-caption-otr{
    margin-top: 30px;
}
    .banner .bnr-caption-otr{
        padding: 20px;
    }
    .banner {
    padding-top: 60px;
}
    header {
    height: 64px;
}
    .min-hd{
        display: none;
    }
    header .search-otr{
        top:-68px;
    }
    .mob-btn{
        top:-40px !important;
    }
    .banner .banner-bg-1, .banner .banner-bg-1, .banner .banner-bg-2, .banner .banner-bg-3, .banner .banner-bg-4, .banner .box-full{
        height: auto;
        padding-bottom:25px;
    }
    .banner .slick-dots {
    bottom: -30px;
}
    .banner .bnr-caption-otr .bnr-txt h2 {
   font: 700 24px/27px "Poppins", sans-serif;
    br{
        display: none;
    }

}
.banner .bnr-caption-otr .bnr-txt p{
        font:400 13px/23px "Poppins", sans-serif;
    }
/*     header {
height: auto;
} */
.video-mang-scnt article .btn-primary{
        padding: 7px 23px;
}
.faq-sign-otr .faq-content h4:before{
    display: none;
}
.faq-sign-otr .accordion{
    margin-top:0px;
}
.faq-sign-otr .faq-content strong{
    margin-bottom: 0px;
}
.sctn-btm h4{
    font:23px/29px "Poppins", sans-serif;
}
.video-mang-scnt article h2 {
    font: 700 23px/29px "Poppins", sans-serif;
}
.faq-sign-otr .accordion button{
    font:600 15px/22px "Poppins", sans-serif;
}
.sctin-csmt h3 {
    font: 23px/29px "Poppins", sans-serif;
}
.fetrd-artcls h3 {
    font: 23px/29px "Poppins", sans-serif;
}
.faq-sign-otr .faq-content h4{
     font: 700 23px/29px "Poppins", sans-serif;
     margin-bottom: 15px;
}
.video-mang-scnt .content-box {
    padding-top: 33px;
    }
    .sctin-csmt, .fetrd-artcls, .faq-sign-otr{
       padding-top: 33px;  
       padding-left: 15px;
       padding-right: 15px;
    }
.sctin-csmt .mid-grid .card {
    border: 1px solid #ebebeb;
    border-radius: 0;
    margin-bottom: 25px;
}
    .faq-sign-otr .sign-up-hm h5 {
    font: 700 23px/29px "Poppins", sans-serif;
    color: #222;
    margin-bottom: 20px;
    margin-top: 25px;
}
.top-grid h1{
        font: 700 23px/29px "Poppins", sans-serif;
        margin-bottom: 30px;
}
.forms-otr h4 {
    font: 600 23px/29px "Poppins", sans-serif;
    }

    .forms-otr .form-list ul li {

    width: 100%;
    margin: 0 10px;
}
.fetrd-artcls .featured-slide .slick-prev {
   display: none !important;
}
.fetrd-artcls .featured-slide .slick-next {
   display: none !important;
}
footer .ftr-strip{
    height: auto;
    p{
        font:12px/20px "Hind Vadodara", sans-serif;
    }
}
.faq-sign-otr{
    padding-bottom: 40px;
}
.client-slide-otr .box-full .box {
    padding: 60px 0px 14px;
}
.faq-sign-otr .sign-up-hm .forms-hm-otr .forms .submt-btn .sbmt{
    width: 120px;
    padding: 8px 10px;
}
footer .ftr-menu strong:before{
    display: none;
}
footer .ftr-menu ul li:before{
    display: none;
}
footer .ftr-menu ul li {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    padding-left: 0px; 
    border-bottom: 1px solid #3a3a3a;
    &:last-child{
        border:0;
  }
}

.ftr-logo-cnt img{
    width: 180px;
}
.banner-bg-1.slick-slide.slick-current.slick-active{
    background-position-x:-370px !important;
}
footer .ftr-contact ul{
    justify-content: center;
}
footer .ftr-menu strong {
    position: relative;
    color: #fff;
    padding: 5px 0;
     border-bottom: 2px solid #8a171a;
    text-transform: uppercase;
    font: 18px/23px "Poppins", sans-serif;
    padding-left: 28px;
    margin-bottom: 0;
    display: block;
}
footer .ftr-menu strong{
   
    padding-left:0px;
}
footer address h6{
    margin-top: 20px;
}
footer {
    background: #313131;
    padding-top: 33px;
    text-align: center;
}
.ftr-logo-cnt{
    margin-bottom: 25px;
}
footer .ftr-menu {
    margin-left: 0;
    }
    footer .ftr-contact{
        justify-content: center;
        padding-top: 0;
        ul li{
            border-bottom: 0;
        }
    }
    footer .ftr-strip{
            margin-top: 0;
    padding:15px;
    text-align: center;
    }
    .banner .bnr-caption-otr .btn{
        font:600 12px/23px "Poppins", sans-serif;
        padding: 5px 11px;
        margin-bottom: 10px;
    }
    header .search-otr .searchbox-input{
            font-size: 16px;
    }
   footer address {
    margin-bottom: 0;
  }
}

@media (#{$sm-479})  {
header .logo {
    width: 150px;
    padding-top: 10px;

    }
header .search-otr {
    top: -63px;
    padding-right: 50px;
}
.show-menu .main-nav {
    top: 61px !important;
    }
    .mob-btn {
    top: -34px!important;
 }
}