@media (#{$sm-1699}) 
{
		.nav-otr .container-secn .nav-item a
		{
			    font: 500 12px/27px "Roboto", sans-serif;
			        margin-left: 3px;
		}
		.sldr-otr .carousel-item {
    margin-top: 69px;
}
		.sldr-otr .caption-2 h4 {
    font: 400 14px/18px "Roboto", sans-serif !important;
}
		.form-web-otr .slt-otr
		{
			padding:0px;
		}
		.form-web-otr .slt-otr .txt-rt
		{
			width:100%;
		}
		.dot-cm-otr
		{
			padding:0;
		}
		.container-secn,.nav-otr .container-secn
		 {
	    		    max-width: 1000px;
		 }
		 .nav-otr .container-secn .navbar-brand img 
		 {
	    		width: 110px;
		 }
		 .sldr-otr .carousel-caption h2 {
	    font: 700 32px/36px "Roboto", sans-serif;
	        margin-bottom: 9px;
	}
	.sldr-otr .carousel-caption
	{
		    top: 180px;
	}
	.form-web-otr .dot-cm {
    margin-top: 25px;
}
	.sldr-otr .carousel-caption h4 {
	    font: 100 25px/24px "Roboto", sans-serif;
	    }
	    .sldr-otr .carousel-caption .btn-s-1 {  
	    padding: 8px 29px 8px;
	    font: 500 14px/24px "Roboto", sans-serif;
	}
	.form-web-otr .info-sec-dot {
    
    right: -26px;
    top: 26px;
}
	.sldr-otr .carousel-caption .btn-s-2
	{
		font: 500 14px/24px "Roboto", sans-serif;
	    padding: 7px 23px 7px;
	}
	.sldr-otr .bg-btm-sldr .email-sec .search-txt
	{
		    width: 570px;
	    height: 43px;
	        font: 300 14px/27px "Roboto", sans-serif;
	}
	.sldr-otr .bg-btm-sldr .email-sec .search-but
	{
		    padding: 9px 45px 9px;
		    font: 500 14px/24px "Roboto", sans-serif;
	}
	.sldr-otr .bg-btm-sldr
	{
		    padding: 18px 0px 18px !important;
	}
	.featr-otr .fetr-sec h3 {
	    font: 600 28px/27px "Roboto", sans-serif;
	}
	.featr-otr .fetr-sec .fetr-cont {
	    font: 400 14px/22px "Roboto", sans-serif;
	}
	.featr-otr .ft-right {
	    padding-right: 35px;
	}
	.ft-pd img
	{
		    width:60px;
	}
	.triangle-mdl.triangle-lft.cf {
	    position: absolute !important;
	    right: inherit;
	    top: 194px !important;
	    left: 50px !important;
	}
	.video-otr .bg-vido-lft h2 {
	    font: 600 35px/27px "Roboto", sans-serif;
	    }

	   .video-otr .bg-vido-lft h3 {
	    font: 300 30px/35px "Roboto", sans-serif;
	}
	.video-otr .bg-vido-lft h3
	{
		width: 283px;
	}
	.video-otr .bg-vido-lft article
	{
		padding-right: 70px;
	}
	.video-otr .bg-vido-lft,.video-otr .bg-video
	{
		    height: 340px;
	}
	.video-otr .bg-video
	{

	    background-size: cover;
	}
	.featr-otr .fetr-sec .txt-h3 {
	    font: 600 20px/24px "Roboto", sans-serif;
	    margin-top: 16px;
	    }
	    .featr-otr .ft-pd {
	    padding: 85px 30px 10px;
	}
	.featr-otr .fetr-sec {
	    padding-top: 99px;
	    padding-bottom: 75px;
	}
	.video-learn .modal-dialog {
	    max-width: 590px;
	}
	.video-learn iframe {
	    height: 375px;
	}
	.video-learn .close
	{
		    padding: 15px 11px 15px;
		    width:auto;
		       height:auto;

	     font-size: 16px;
	}
	.img-mbl img
	{
		    height: 380px;

	}
	.triangle-mdlm.triangle-mdl-btmm.cf {
    left: 191px !important;
    right: inherit;
    top: 150px !important;
}
	.triangle {
    top: -53px !important;
    left: 176px !important;
}
	.trial-sec h2
	{
		    font-size: 35px;
    margin-bottom: 0px;
	}
	.trial-sec h3
	{
		font-size:32px;
		    margin-bottom:4px;
	}
	.trial-sec h4
	{
		    margin-bottom: 3px;
	}
	.btn-c-primary
	{
		padding: 8px 34px 8px;
	    font: 500 14px/24px "Roboto", sans-serif;
	}
	.trial-sec {
	    padding: 85px 0px 80px;
	}
	.triangle-mdlm.triangle-mdl-btmm.cf .t-10,.triangle-mdlm.triangle-mdl-btmm.cf .t-13,.triangle-mdlm.triangle-mdl-btmm.cf .t-3,.triangle-mdlm.triangle-mdl-btmm.cf .t-4
	{
		 display:none;
	}
	.img-mbl
	{
		text-align:center;
	}
	.pricing-secn
	{
		min-height:700px;
		    padding: 64px 0px 52px;
	}
	.pricing-secn .hed h3 {
    font: 700 33px/40px "Roboto", sans-serif;
		}
	.pricing-secn .hed h4
	{
		    font-size: 16px;
	}
	.form-web-otr .cont-form-secn h3 {
    font: 600 33px/40px "Roboto", sans-serif;
}
.form-web-otr .cont-form-secn h5 {
    font: 400 14px/22px "Roboto", sans-serif;
    }
    .form-web-otr .cont-form-secn h3
    {
    	    margin-bottom: 10px;
    color: #21242c;
    margin-top: 7px;
    }
    .form-web-otr .cont-otr-frm {
    padding:70px 0px 56px;
}
.stepwizard .btn
{
	width:45px;
    height: 45px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
        font: 400 17px/35px "Roboto", sans-serif;
}
.form-web-otr .line-sec:before {
  
    width: 67px;
  right: -7px;
    top: 22px;
}
.form-web-otr .txt-frm-otr h4 {
    font: 500 16px/21px "Roboto", sans-serif;
    margin-top: 22px;
    margin-bottom: 9px;
}
.form-web-otr .info-sec i {
    font-size: 13px;
}
.form-web-otr .txt-frm-otr .txt-frm .cm-pr
{
	    font: 400 13px/27px "Roboto", sans-serif;
	    padding-right:0px;
}
.form-web-otr .txt-frm-otr .txt-frm .form-control {
   		
    height: 39px;
    text-indent: 5px;
    font: 400 13px/27px "Roboto", sans-serif;
    margin-bottom: 8px;
    margin-top: 15px;
}
.form-web-otr .num-otr {
    margin-top: 8px;
}
.form-web-otr .txt-frm-otr .frms-btn
{
	    padding: 11px 0px 11px;
    font: 400 14px/22px "Roboto", sans-serif;
}
.triangle-btr
{
	    top: 523px !important;
}
.footer img
{
	    height: 100px;
}
.footer {
    padding: 57px 25px 15px;
}
.footer .footer_list li
{
	font-size:13px;
}
.footer .footer_list li:before
{
	width: 0;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #2995d3;
    content: "";
    height: 0px;
    position: absolute;
    border-top: 4px solid transparent;
    left: 1px;
    margin-top: 3px;

}
.footer .sal-txt h3 {
    font: 500 16px/22px "Roboto", sans-serif;
}
.footer .sal-txt .sl-desc {
    font: 400 13px/21px "Roboto", sans-serif;
}
.footer .plf {
    padding-left: 15px;
}
.footer .trm li ,.footer .social li{
    font: 400 13px/21px "Roboto", sans-serif;
}
.footer .social li i {
    background: #b6b3b3;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    color: #333;
    text-align: center;
    line-height: 24px;
    font-size: 11px;
}
.footer .trm,.footer .social
{
	padding-top: 15px;
}
.footer .ftr-pd {
   
    margin-top: 25px;
}
.footer .sal-txt .sl-icn span {
    padding-left: 5px;
    
    font-size:13px;
}
}
@media (max-width: 1550px)
{
		.sldr-otr .carousel-caption {
    top: 120px;
}
.carousel-caption.d-md-block.caption-2 h2 {
    font: 700 28px/32px "Roboto", sans-serif;
    margin-bottom: 9px;
}

}
@media (#{$sm-1440}) 
{
	.trial-sec
	{
		padding: 85px 0px 50px;
	}
	
}
@media (max-width: 1270px)
{
	.sldr-otr .carousel-caption {
    top: 85px;
}
}
@media (#{$sm-1199}) 
{
	.container-secn, .nav-otr .container-secn {
    max-width: 92%;
}
.form-web-otr .slt-otr .sel-rt select
{
	    width: 107px;
}
.triangle-mdl.triangle-lft.cf {
    display: none;
}
.form-web-otr .line-sec:before {
    width: 57px;
    }
.form-web-otr
{
	    padding-left: 55px;
}
.triangle-mdl-btmm1 {
   
    left: -15px !important;
    }
.triangle-btr {
    top: 499px !important;
}
.sldr-otr .carousel-caption {
    top: 45px;
}
.form-web-otr .info-sec-dot {
    right: -42px;
}
.footer {
    padding: 57px 0px 15px;
}
}
@media (#{$sm-1023}) 
{
	.triangle-btr {
    top: 457px !important;
}
.sal-txt.plf
{
	padding:0px;
}
.form-web-otr .slt-otr
{
	padding:0;
}
.form-web-otr .line-sec:before {
    width: 46px;
}

}
@media (#{$sm-991}) 
{
	.sldr-otr .bg-btm-sldr
	{
		position:relative;
		    background: #f5f4f4;
	}
	.stepwizard
	{
		text-align:center;
	}
	.stepwizard-row.setup-panel.row
	{
		display: inline-block;
    width: auto;
	}

	.form-web-otr .num-otr {
    margin-top: 8px;
    float: none;
    display: inline-block;
    width: 127px;
}
	.form-web-otr .slt-otr .sel-rt select
{
	    width: 120px;
}
	.form-web-otr .info-sec-dot {
    right: 42px;
}
	.sldr-otr .carousel-caption
	{
		left:50% ;
	}
	.sldr-otr .carousel-caption h2 {
    font: 700 31px/35px "Roboto", sans-serif;
}
.navbar-collapse
{
	border-top: 1px solid #eeeaea;
}
button.navbar-toggler
{
	border: none;
}
.log-dash
{
	display:none;
}
.nav-otr .container-secn .nav-item a
{
	    border-bottom: 1px solid #edeaea;
	        margin-left: 0px;
    padding-left: 18px;
}
.triangle-mdl.cf,.triangle.cf,.triangle-mdlm.triangle-mdl-btmm.cf {
    display: none;
}
.featr-otr .ft-brd
{
	border:none;
}
	.featr-otr
{
	    padding: 17px 0px 33px;
}
.featr-otr .fetr-sec
{
	min-width:100%;
}
.featr-otr .fetr-sec h3,.featr-otr .fetr-sec .fetr-cont,.video-otr .bg-vido-lft h3
{
	text-align:center;
}
.featr-otr .fetr-sec {
    padding-top: 30px;
    padding-bottom: 15px;
}
.triangle-mdlm1.triangle-mdl-btmm1.cf,.triangle-btr.cf
{
	display:none;
}
.form-sec-otr
{
	    min-width: 100%;
}
.form-web-otr .cont-form-secn h3,.form-web-otr .cont-form-secn h5
{
	text-align: center;
}
.img-secn
{
	display:none;
}
.form-web-otr {
    padding-left:15px;
    padding-right:25px;
}
.form-web-otr .cont-otr-frm {
    padding: 40px 0px 56px;
}
.form-web-otr .num-otr {
    margin-top: 8px;
   
    width: 127px;
}
.txt-frm-otr {
    min-width: 100%;
}
	.form-web-otr .line-sec:before {
   right: -18px;
    width: 34px;
}
}
@media (#{$sm-768}) 
{
	.sldr-otr .carousel-indicators {
    bottom: 96px;
}
.video-otr .bg-vido-lft h3
{
	border:none;
}
	.carousel-item  img
	{
		    height: 280px;
	}
	.carousel-caption 
	{
		left:0% !important;
		right:0% !important;
		width:100% !important;
		top:48px !important;
	}
	.sldr-otr .carousel-caption h2,.sldr-otr .carousel-caption h4
	{
		text-align:center;
		    text-shadow: 2px 2px #362b2b;
	}
	.sldr-otr .carousel-caption h4
	{
		font-weight:300 !important;
		    padding: 0px 35px;
	}
	.btr-carsl
	{
		width:350px;
		float:none;
		margin:0 auto;
	}
		
.img-mbl img {
    height: 340px;
}
.footer .ftr-pd {
    margin-top: 0px;
}

.form-web-otr .container
{
	max-width:100% !important;
	min-width:100% !important;
}
.form-web-otr .info-sec
{
	    right: -21px;
}
.form-web-otr .line-sec:before
{
	    right: 4px;
	        width: 75px
}

.trial-sec {
    padding: 35px 0px 30px;
}
.video-otr .bg-vido-lft h3 {
    width: 70%;
    float: none;
    margin: 0 auto;
}
.video-otr .bg-vido-lft h2
{
	text-align:center;
}
.video-otr .bg-vido-lft
{
	height:auto;
	    min-height: 210px;
}
.video-otr .bg-video {
    height: 240px;
}
.video-otr .bg-vido-lft article
{
	padding-right:0px;
}
.video-otr .bg-vido-lft article {
    max-width: 100%;
    width: 100%;
    position: relative;
    left: 0;
    top: 21%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: none;
} 
.video-otr .bg-vido-lft h3 {
    font: 300 28px/35px "Roboto", sans-serif;
}

.video-otr .bg-vido-lft:after
{
	content:none;
}
.form-web-otr .info-sec-dot {
    right: 12px;
}
.sal-txt
{
	padding:0;
}
.featr-otr {
    padding: 17px 0px 3px;
}
.featr-otr {
    padding: 1px 0px 3px;
}
.ft-img
{
	min-width:100%;
	text-align:center;
}
.sal-txt.plf
{
	padding-left:0px;
}

.sal-txt h3
{
	margin-bottom:4px;
}
.ft-list,.ft-img,.sal-txt
{
	min-width:100%;

     margin-bottom: 18px;
}
.form-web-otr .line-sec:before {
    right: -23px;
    width: 45px;
}
.footer {
    padding: 17px 25px 15px;
}
	.sldr-otr .bg-btm-sldr .email-sec .search-txt {
    width: 60%;
}
}
@media (max-width:670px)
{
	.img-mbl img
	{
		display:none;
	}


	.pricing-secn .hed h3 {
    font: 700 29px/36px "Roboto", sans-serif;
}
	.form-web-otr .info-sec-dot {
    right: -7px;
}

	.form-web-otr .cont-form-secn h3 {
    font: 600 28px/36px "Roboto", sans-serif;
}
		.form-web-otr .line-sec:before {
    right: -24px;
    width: 47px;
}
.stepwizard .btn {
    width: 40px;
    height: 40px;
   
    font: 400 15px/29px "Roboto", sans-serif;
}
	.wd-full
	{
		    min-width: 100%;
	}
	.trial-sec {
    padding: 40px 0px 40px;
}
.trial-sec .trial-sec_r
{
	text-align:center;
}
.trial-sec h2 {
    font-size: 30px;
    }
    .trial-sec h3 {
    font-size: 28px;
}

.trial-sec h4
{
	font-size:17px;
}
.form-web-otr .slt-otr {
    padding: 0px 15px;
}

}
@media (max-width:575px)
{
	.form-web-otr .dot-cm {
    margin-top: 14px;
    padding-right: 6px;
    padding-left: 15px;
}
.sldr-otr .carousel-caption h2 {
    font: 700 28px/35px "Roboto", sans-serif;
}
.sldr-otr .bg-btm-sldr .email-sec .search-txt {
    width: 75%;
}
.social
{
	    min-width: 100%;
	     padding-top:0px;

}
.sldr-otr .bg-btm-sldr .email-sec .search-txt
{
	height: 39px;
}
.email-sec {
    padding: 0;
}
.sldr-otr .bg-btm-sldr .email-sec .search-but {
    padding: 8px 26px 7px;
    }
    .sldr-otr .bg-btm-sldr .email-sec .search-txt
    {
    	text-indent:15px;
    }
.sl-otr
{
	
    width: 150px;
    float: none;
    margin: 0 auto;
}
.footer .trm, .footer .social
{
	
	text-align: center;
	
}
.footer .social
{
	padding-top:4px;
}
.footer .social li:nth-child(1)
{
	margin-left:0px;
	

}
.form-web-otr .info-sec-dot
{
	right:auto;
	    top: 16px;
}
.carousel-caption.d-md-block.caption-2 h2 {
    
        padding: 0px 9px;
}
}
@media (#{$sm-479}) 
{
.video-otr .bg-vido-lft h2 {
    font: 600 33px/27px "Roboto", sans-serif;
}

.featr-otr {
    padding: 1px 10px 3px;
}
.pricing-secn {
    min-height: 500px;
}

.trial-sec h3 {
    font-size: 25px;
}
.trial-sec h4 {
    font-size: 16px;
}
.video-otr .bg-vido-lft h2 {
    font: 600 30px/24px "Roboto", sans-serif;
}
.trial-sec h2 {
    font-size: 26px;
        line-height: 29px;
}
.video-otr .bg-vido-lft h3 {
    font: 300 25px/31px "Roboto", sans-serif;
}
.form-web-otr .line-sec:before {
    right: -22px;
    width: 41px;
        top: 18px;
}
.form-web-otr .num-otr
{

     width: 95px;
}
.video-otr .bg-vido-lft article
{
	top:23%;
}
.video-otr .bg-vido-lft h3 {
    width: 100%;
    }
    .pricing-secn .hed h3 {
    font: 700 27px/30px "Roboto", sans-serif;
}
.pricing-secn .hed h4 {
    font-size: 14px;
}
.form-web-otr .cont-form-secn h3 {
    font: 600 26px/36px "Roboto", sans-serif;
}
}
@media (max-width:430px)
{
	.sldr-otr .carousel-caption h2 {
    font: 700 25px/31px "Roboto", sans-serif;
}
.carousel-caption.d-md-block.caption-2 h2 {
    font: 700 19px/25px "Roboto", sans-serif;
        padding: 0px 9px;
}
.sldr-otr .carousel-caption h4 {
    font: 100 20px/21px "Roboto", sans-serif;
}
.sldr-otr .carousel-caption h4 {
   
    padding: 0px 15px;
}
.sldr-otr .caption-2 h4 {
    font: 100 14px/16px "Roboto", sans-serif !important;
}
.btr-carsl {
    width: 100%;
}
.carousel-caption
{
	    top: 20px !important;
}
.wd-ff
{
	width:100%;
}
.wd-ff input
{
width:80%;
}
input.btn-s-2 {
    margin-top: 9px;
}
}
@media (max-width:340px)
{
	.sel-rt,.txt-rt-lt,.form-web-otr .txt-frm-otr .txt-frm .form-control
	{
		width:100%;
	}
	.form-web-otr .num-otr {
    width: 87px;
}
}