


/* triangle 1 */

.triangle-ftr{

    position: absolute !important;
    left: inherit !important;
    right: 196px;
    top: -4px !important;


}
    
.triangle-btr{

      width: 170px;
    height: 120px;
    float: left;
    position: absolute;
        top: 748px;

    right: 130px;

    .t-1{

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 15px solid #2995d3;
        position: absolute;
        left: 0px;
        top: 30px;
    }
    .t-2{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 19px solid #2995d3;
        position: absolute;
        left: 36px;
        top: 39px;
    }

    .t-3{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 19px solid #2995d3;
        position: absolute;
        right: 48px;
        top: 18px;
    }
    .t-4{

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 15px solid #2995d3;
        position: absolute;
        right:23px;
        top: 30px;
    }
    .t-5{

        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 11px solid #2995d3;
        position: absolute;
        right: 53px;
        top: 53px;
    }
    .t-6{

        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 11px solid #2995d3;
        position: absolute;
        left: 3px;
        top: 85px;
    }
    .t-7{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 19px solid #2995d3;
        position: absolute;
        left: 22px;
        top: 70px;
    }
    .t-8{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 19px solid #2995d3;
        position: absolute;
        left: 57px;
        top: 64px;
    }

    .t-9{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 19px solid #2995d3;
        position: absolute;
        left: 96px;
        top: 71px;
    }
    .t-10{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 19px solid #2995d3;
        position: absolute;
        left: 139px;
        top: 70px;
    }
    .t-11{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 19px solid #2995d3;
        position: absolute;
        left: 36px;
        top: 93px;
    }
    .t-12{

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 15px solid #2995d3;
        position: absolute;
        left: 79px;
        bottom: -9px;
    }

    .t-13{

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 15px solid #2995d3;
        position: absolute;
        right: 35px;
        bottom: 5px;
    }




}
.triangle{

	      width: 170px;
    height: 120px;
    float: left;
    position: absolute;
    top: -47px;
    left: 189px;

    .t-1{

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 15px solid #2995d3;
        position: absolute;
        left: 0px;
        top: 30px;
    }
    .t-2{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 19px solid #2995d3;
        position: absolute;
        left: 36px;
        top: 39px;
    }

    .t-3{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 19px solid #2995d3;
        position: absolute;
        right: 48px;
        top: 18px;
    }
    .t-4{

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 15px solid #2995d3;
        position: absolute;
        right:23px;
        top: 30px;
    }
    .t-5{

        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 11px solid #2995d3;
        position: absolute;
        right: 53px;
        top: 53px;
    }
    .t-6{

        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 11px solid #2995d3;
        position: absolute;
        left: 3px;
        top: 85px;
    }
    .t-7{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 19px solid #2995d3;
        position: absolute;
        left: 22px;
        top: 70px;
    }
    .t-8{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 19px solid #2995d3;
        position: absolute;
        left: 57px;
        top: 64px;
    }

    .t-9{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 19px solid #2995d3;
        position: absolute;
        left: 96px;
        top: 71px;
    }
    .t-10{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 19px solid #2995d3;
        position: absolute;
        left: 139px;
        top: 70px;
    }
    .t-11{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 19px solid #2995d3;
        position: absolute;
        left: 36px;
        top: 93px;
    }
    .t-12{

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 15px solid #2995d3;
        position: absolute;
        left: 79px;
        bottom: -9px;
    }

    .t-13{

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 15px solid #2995d3;
        position: absolute;
        right: 35px;
        bottom: 5px;
    }




}
.triangle-lft{

     position: absolute !important;
   
   right: inherit;
    top: 337px !important;

    .t-1{

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 15px solid #e5b84a;
        position: absolute;
        left: 0px;
        top: 30px;
    }
    .t-2{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 19px solid #e5b84a;
        position: absolute;
        left: 36px;
        top: 39px;
    }

    .t-3{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 19px solid #e5b84a;
        position: absolute;
        right: 48px;
        top: 18px;
    }
    .t-4{

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 15px solid #e5b84a;
        position: absolute;
        right:23px;
        top: 30px;
    }
    .t-5{

        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 11px solid #e5b84a;
        position: absolute;
        right: 53px;
        top: 53px;
    }
    .t-6{

        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 11px solid #e5b84a;
        position: absolute;
        left: 3px;
        top: 85px;
    }
    .t-7{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 19px solid #e5b84a;
        position: absolute;
        left: 22px;
        top: 70px;
    }
    .t-8{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 19px solid #e5b84a;
        position: absolute;
        left: 57px;
        top: 64px;
    }

    .t-9{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 19px solid #e5b84a;
        position: absolute;
        left: 96px;
        top: 71px;
    }
    .t-10{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 19px solid #e5b84a;
        position: absolute;
        left: 139px;
        top: 70px;
    }
    .t-11{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 19px solid #e5b84a;
        position: absolute;
        left: 36px;
        top: 93px;
    }
    .t-12{

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 15px solid #e5b84a;
        position: absolute;
        left: 79px;
        bottom: -9px;
    }

    .t-13{

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 15px solid #e5b84a;
        position: absolute;
        right: 35px;
        bottom: 5px;
    }




}

/* triangle 1 End */





/* triangle middle */

.triangle-mdl-btm{
    position: absolute !important;
    left: 404px !important;
   right: inherit;
    top: 337px !important;
}



.triangle-mdl{

    width: 170px; 
    height:120px;
    float: left;
    position: absolute;
    top: -17px;
    left: 111px;
    z-index:1;

    .t-1{

        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 23px solid #488db4;
        position: absolute;
        left: 0px;
        top: 30px;
    }
    .t-2{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 30px solid #488db4;
        position: absolute;
        left: 63px;
        top: 39px;
    }

    .t-3{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 30px solid #488db4;
        position: absolute;
        right: -24px;
        top: 18px;
    }
    .t-4{

        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 23px solid #488db4;
        position: absolute;
        right: -60px;
        top: 30px;
    }
    .t-5{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 17px solid #488db4;
        position: absolute;
        right: -16px;
        top: 77px;
    }
    .t-6{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 17px solid #488db4;
        position: absolute;
        left: 3px;
        top: 144px;
    }
    .t-7{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-top: 30px solid #488db4;
        position: absolute;
        left: 33px;
        top: 104px;
    }
    .t-8{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 30px solid #488db4;
        position: absolute;
        left: 94px;
        top: 94px;
    }

    .t-9{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-top: 30px solid #488db4;
        position: absolute;
        left: 155px;
        top: 113px;
    }
    .t-10{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-top: 30px solid #488db4;
        position: absolute;
        left: 240px;
            top: 108px;
    }
    .t-11{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 30px solid #488db4;
        position: absolute;
        left: 62px;
        top: 153px;
    }
    .t-12{

        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 23px solid #488db4;
        position: absolute;
            left: 122px;
        bottom: -89px;
    }

    .t-13{

        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 23px solid #488db4;
        position: absolute;
        right: -65px;
        bottom: -55px;
    }




}
/* triangle middle End*/
.triangle-mdl-btmm{
       position: absolute !important;
    left: 237px !important;
    right: inherit;
    top: 288px !important;
}



.triangle-mdlm{

    width: 170px; 
    height:120px;
    float: left;
    position: absolute;
    top: -17px;
    left: 111px;
    z-index:1;

    .t-1{

        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 23px solid #7cbb39;
        position: absolute;
        left: 0px;
        top: 30px;
    }
    .t-2{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 30px solid #7cbb39;
        position: absolute;
        left: 63px;
        top: 39px;
    }

    .t-3{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 30px solid #7cbb39;
        position: absolute;
        right: -24px;
        top: 18px;
    }
    .t-4{

        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 23px solid #7cbb39;
        position: absolute;
        right: -60px;
        top: 30px;
    }
    .t-5{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 17px solid #7cbb39;
        position: absolute;
        right: -16px;
        top: 77px;
    }
    .t-6{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 17px solid #7cbb39;
        position: absolute;
        left: 3px;
        top: 144px;
    }
    .t-7{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-top: 30px solid #7cbb39;
        position: absolute;
        left: 33px;
        top: 104px;
    }
    .t-8{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 30px solid #7cbb39;
        position: absolute;
        left: 94px;
        top: 94px;
    }

    .t-9{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-top: 30px solid #7cbb39;
        position: absolute;
        left: 155px;
        top: 113px;
    }
    .t-10{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-top: 30px solid #7cbb39;
        position: absolute;
        left: 240px;
            top: 108px;
    }
    .t-11{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 30px solid #7cbb39;
        position: absolute;
        left: 62px;
        top: 153px;
    }
    .t-12{

        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 23px solid #7cbb39;
        position: absolute;
            left: 122px;
        bottom: -89px;
    }

    .t-13{

        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 23px solid #7cbb39;
        position: absolute;
        right: -65px;
        bottom: -55px;
    }




}
.triangle-mdl-btmm1
{
      position: absolute !important;
    left: -39px !important;
    right: inherit;
    top: 153px !important;

}
.triangle-mdlm1{

    width: 170px; 
    height:120px;
    float: left;
    position: absolute;
    top: -17px;
    left: 111px;
    z-index:1;

    .t-1{

        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 23px solid #7cbb39;
        position: absolute;
        left: 0px;
        top: 30px;
    }
    .t-2{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 30px solid #7cbb39;
        position: absolute;
        left: 63px;
        top: 39px;
    }

    .t-3{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 30px solid #7cbb39;
        position: absolute;
        right: -24px;
        top: 18px;
    }
    .t-4{

        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 23px solid #7cbb39;
        position: absolute;
        right: -60px;
        top: 30px;
    }
    .t-5{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 17px solid #7cbb39;
        position: absolute;
        right: -16px;
        top: 77px;
    }
    .t-6{

        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 17px solid #7cbb39;
        position: absolute;
        left: 3px;
        top: 144px;
    }
    .t-7{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-top: 30px solid #7cbb39;
        position: absolute;
        left: 33px;
        top: 104px;
    }
    .t-8{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 30px solid #7cbb39;
        position: absolute;
        left: 94px;
        top: 94px;
    }

    .t-9{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-top: 30px solid #7cbb39;
        position: absolute;
        left: 155px;
        top: 113px;
    }
    .t-10{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-top: 30px solid #7cbb39;
        position: absolute;
        left: 240px;
            top: 108px;
    }
    .t-11{

        width: 0;
        height: 0;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-bottom: 30px solid #7cbb39;
        position: absolute;
        left: 62px;
        top: 153px;
    }
    .t-12{

        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 23px solid #7cbb39;
        position: absolute;
            left: 122px;
        bottom: -89px;
    }

    .t-13{

        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 23px solid #7cbb39;
        position: absolute;
        right: -65px;
        bottom: -55px;
    }




}


@-webkit-keyframes Slide {
    0% {bottom: 0;}
    25% {bottom: 150%;}
    50% {bottom: 150%;}
    75% {bottom: 150%;}
    100% {bottom: 0%;}
}



.slide {
  position: relative;
  bottom: 0;
  left: 0;

  height: 100%;
  -webkit-animation-name: Slide;
  -webkit-animation-duration:5s;
  -webkit-animation-timing-function: ease-in-out;
   animation-iteration-count:1;
}

.diapo1, .diapo2 {
  width: 100%;
  height:1051px !important; 
  background-size: cover;
}

.diapo1 {
  background: url(../img/display.png) center no-repeat; 
}

.diapo2 {
  background: url(../img/display.png) center no-repeat; 

}











