	#container h1
	{
		font-size: 2.125em; /* 34 */
		line-height: 0.882em; /* 30 (34) */
		text-transform: uppercase;
	}
	#container h1 span
	{
		font-size: 0.588em; /* 20 (34) */
		line-height: 1em; /* 20 (20) */
		color: #aaa;
		display: block;
	}
	#container h1 a:hover,
	#container h1 a:hover span,
	#container h1 a:focus,
	#container h1 a:focus span
	{
		color: #666;
	}

	#container h2
	{
		border-top: 1px solid #ddd;
		padding-top: 1.875em; /* 30 */
		margin-top: 1.875em; /* 30 */
		margin-bottom: 0.625em; /* 10 */
	}
	#container h2 span
	{
		color: #666;
	}
	#container h2[data-caption]:before
	{
		font-size: 0.875rem;
		font-weight: 300;
		color: #fff;
		background-color: #c00;
		display: inline-block;
		content: attr( data-caption );
		padding: 0.125rem 0.313rem; /* 2 5 */
		margin-right: 0.625rem; /* 10 */

		-webkit-transform: rotate( -8deg );
		-ms-transform: rotate( -8deg );
		transform: rotate( -8deg );
	}

	#container ul
	{
	}
	#container li
	{
		display: inline-block;
		margin: 0.625em; /* 10 */
	}
	#container img
	{
		width: 8.75em; /* 140 */
		height: 8.75em; /* 140 */
		border-color: #eee;
		border: 0.625em solid rgba( 255, 255, 255, .5 ); /* 10 */

		-webkit-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */
		box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */

		-webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
		transition: box-shadow .3s ease, border-color .3s ease;
	}
	#container img:hover,
	#container img:focus
	{
		border-color: #fff;

		-webkit-box-shadow: 0 0 0.938em rgba( 0, 0, 0, .25 ); /* 15 */
		box-shadow: 0 0 0.938em rgba( 0, 0, 0, .25 ); /* 15 */
	}

	footer
	{
		font-size: 0.875em; /* 14 */
		color: #aaa;
		border-top: 1px solid #ddd;
		padding-top: 2.143em; /* 30 (14) */
		margin-top: 2.143em; /* 30 (14) */
	}


	/* IMAGE LIGHTBOX SELECTOR */

	#imagelightbox
	{
		cursor: pointer;
		position: fixed;
		z-index: 10000;

		-ms-touch-action: none;
		touch-action: none;

		-webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
		box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
	}


	/* ACTIVITY INDICATION */

	#imagelightbox-loading,
	#imagelightbox-loading div
	{
		border-radius: 50%;
	}
	#imagelightbox-loading
	{
		width: 2.5em; /* 40 */
		height: 2.5em; /* 40 */
		background-color: #444;
		background-color: rgba( 0, 0, 0, .5 );
		position: fixed;
		z-index: 10003;
		top: 50%;
		left: 50%;
		padding: 0.625em; /* 10 */
		margin: -1.25em 0 0 -1.25em; /* 20 */

		-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
		box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
	}
		#imagelightbox-loading div
		{
			width: 1.25em; /* 20 */
			height: 1.25em; /* 20 */
			background-color: #fff;

			-webkit-animation: imagelightbox-loading .5s ease infinite;
			animation: imagelightbox-loading .5s ease infinite;
		}

		@-webkit-keyframes imagelightbox-loading
		{
			from { opacity: .5;	-webkit-transform: scale( .75 ); }
			50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
			to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
		}
		@keyframes imagelightbox-loading
		{
			from { opacity: .5;	transform: scale( .75 ); }
			50%	 { opacity: 1;	transform: scale( 1 ); }
			to	 { opacity: .5;	transform: scale( .75 ); }
		}


	/* OVERLAY */

	#imagelightbox-overlay
	{
		background-color: #fff;
		background-color: rgba( 255, 255, 255, .9 );
		position: fixed;
		z-index: 9998;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}


	/* "CLOSE" BUTTON */

	#imagelightbox-close
	{
		width: 2.5em; /* 40 */
		height: 2.5em; /* 40 */
		text-align: left;
		background-color: #666;
		border-radius: 50%;
		position: fixed;
		z-index: 10002;
		top: 2.5em; /* 40 */
		right: 2.5em; /* 40 */

		-webkit-transition: color .3s ease;
		transition: color .3s ease;
	}
		#imagelightbox-close:hover,
		#imagelightbox-close:focus
		{
			background-color: #111;
		}
		#imagelightbox-close:before,
		#imagelightbox-close:after
		{
			width: 2px;
			background-color: #fff;
			content: '';
			position: absolute;
			top: 20%;
			bottom: 20%;
			left: 50%;
			margin-left: -1px;
		}
		#imagelightbox-close:before
		{
			-webkit-transform: rotate( 45deg );
			-ms-transform: rotate( 45deg );
			transform: rotate( 45deg );
		}
		#imagelightbox-close:after
		{
			-webkit-transform: rotate( -45deg );
			-ms-transform: rotate( -45deg );
			transform: rotate( -45deg );
		}


	/* CAPTION */

	#imagelightbox-caption
	{
		text-align: center;
		color: #fff;
		background-color: #666;
		position: fixed;
		z-index: 10001;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0.625em; /* 10 */
	}


	/* NAVIGATION */

	#imagelightbox-nav
	{
		background-color: #444;
		background-color: rgba( 0, 0, 0, .5 );
		border-radius: 20px;
		position: fixed;
		z-index: 10001;
		left: 50%;
		bottom: 3.75em; /* 60 */
		padding: 0.313em; /* 5 */

		-webkit-transform: translateX( -50% );
		-ms-transform: translateX( -50% );
		transform: translateX( -50% );
	}
		#imagelightbox-nav button
		{
			width: 1em; /* 20 */
			height: 1em; /* 20 */
			background-color: transparent;
			border: 1px solid #fff;
			border-radius: 50%;
			display: inline-block;
			margin: 0 0.313em; /* 5 */
		}
		#imagelightbox-nav button.active
		{
			background-color: #fff;
		}


	/* ARROWS */

	.imagelightbox-arrow
	{
		width: 3.75em; /* 60 */
		height: 7.5em; /* 120 */
		background-color: #444;
		background-color: rgba( 0, 0, 0, .5 );
		vertical-align: middle;
		display: none;
		position: fixed;
		z-index: 10001;
		top: 50%;
		margin-top: -3.75em; /* 60 */
	}
	.imagelightbox-arrow:hover,
	.imagelightbox-arrow:focus
	{
		background-color: #666;
		background-color: rgba( 0, 0, 0, .75 );
	}
	.imagelightbox-arrow:active
	{
		background-color: #111;
	}
		.imagelightbox-arrow-left
		{
			left: 2.5em; /* 40 */
		}
		.imagelightbox-arrow-right
		{
			right: 2.5em; /* 40 */
		}
		.imagelightbox-arrow:before
		{
			width: 0;
			height: 0;
			border: 1em solid transparent;
			content: '';
			display: inline-block;
			margin-bottom: -0.125em; /* 2 */
		}
			.imagelightbox-arrow-left:before
			{
				border-left: none;
				border-right-color: #fff;
				margin-left: -0.313em; /* 5 */
			}
			.imagelightbox-arrow-right:before
			{
				border-right: none;
				border-left-color: #fff;
				margin-right: -0.313em; /* 5 */
			}

	#imagelightbox-loading,
	#imagelightbox-overlay,
	#imagelightbox-close,
	#imagelightbox-caption,
	#imagelightbox-nav,
	.imagelightbox-arrow
	{
		-webkit-animation: fade-in .25s linear;
		animation: fade-in .25s linear;
	}
		@-webkit-keyframes fade-in
		{
			from	{ opacity: 0; }
			to		{ opacity: 1; }
		}
		@keyframes fade-in
		{
			from	{ opacity: 0; }
			to		{ opacity: 1; }
		}

	@media only screen and (max-width: 41.250em) /* 660 */
	{
		#container
		{
			width: 100%;
		}
		#imagelightbox-close
		{
			top: 1.25em; /* 20 */
			right: 1.25em; /* 20 */
		}
		#imagelightbox-nav
		{
			bottom: 1.25em; /* 20 */
		}

		.imagelightbox-arrow
		{
			width: 2.5em; /* 40 */
			height: 3.75em; /* 60 */
			margin-top: -2.75em; /* 30 */
		}
		.imagelightbox-arrow-left
		{
			left: 1.25em; /* 20 */
		}
		.imagelightbox-arrow-right
		{
			right: 1.25em; /* 20 */
		}
	}

	@media only screen and (max-width: 20em) /* 320 */
	{
		.imagelightbox-arrow-left
		{
			left: 0;
		}
		.imagelightbox-arrow-right
		{
			right: 0;
		}
	}

	.galleryPortFolio{
	}
	.eachPhotoWrap{
		width: 24%;
		height: 333px;
		float:left;
		overflow:hidden;
		-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
		
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border: 1px solid #E2E2E2;
		margin:5px;
		padding:5px;
		cursor:pointer;
	}
	.image {
		text-align:center;
	}
	.eachPhotoWrap .description{
		height: 120px;
	}
	.galleryPopup{	
		position: absolute;
		top: 20px;
		left: 200px;
		z-index:1000;
	}
	.popImage_img
	{
		position: fixed;
		z-index: 9999;
	 
		-ms-touch-action: none;
		touch-action: none;
	}
	
	
	#imagelightbox{
		z-index: 2000000;
	}
	.clear{
		clear:both;
	}
	
	/* ------------------ RESPONSIVE DESIGN ------------ */

	@media screen and (max-width:1920px)  {
		.eachPhotoWrap{
			width: 23%;
		}
	}

	@media screen and (max-width:967px)  {
		.eachPhotoWrap {
			width: 22%;
		}
		.eachPhotoWrap .description {
			font-size: 12px;
		}
	}

	@media screen and (max-width:768px) {
		.eachPhotoWrap {
			width: 31%;
		}
	}

	@media screen and (max-width:700px) {
	  .eachPhotoWrap .description {
			font-size: 11px;
		}
	}

	@media screen and (max-width:604px) {

	}

	@media screen and (max-width:568px) {
	  
	}

	@media screen and (max-width:480px) {
		.eachPhotoWrap {
			width: 46%;
		}
		.eachPhotoWrap .description {
			font-size: 9px;
		}
		.eachPhotoWrap .image img {
			height: 132px;
		}
	}

	@media screen and (max-width:360px) {
		.eachPhotoWrap .description {
			font-size: 8px;
		}
		.eachPhotoWrap .image img {
			height: 103px;
		}
		.eachPhotoWrap {
			width: 30%;
		}
	}
	 
	@media screen and (max-width:320px) { 
		.eachPhotoWrap {
			width: 46%;
		}
		.eachPhotoWrap .description {
			font-size: 9px;
		}
		.eachPhotoWrap .image img{
			height: 100px;
		}
	}

	@media screen and (max-width:240px) { 
		.eachPhotoWrap {
			width: 95%;
		}
		.eachPhotoWrap .description {
			height: 65px;
		}
	}