// <cfcomponent displayname="blog">
// 	 <cffunction name="getBlogData" description="To get the blog data from db">
//       <cfquery name="qGetBlogData" datasource="#request.dsn#">
//           SELECT * FROM Blog_Post ; 
//       </cfquery>
//       <cfreturn qGetBlogData>
//     </cffunction>	

//     <cffunction name="getBlogDataDetails" description="To get the blog data details from db">
//       <cfargument name="blogId" type="any">
//         <cfquery name="qGetBlogDataDetails" datasource="#request.dsn#">
//             SELECT * FROM Blog_Post WHERE Blog_ID = <cfqueryparam value="#arguments.blogId#" cfsqltype="cf_sql_integer">; 
//         </cfquery>
//         <cfreturn qGetBlogDataDetails>
//     </cffunction>
// </cfcomponent>

