<cfcomponent displayname="mailgin api">
    <cffunction name="sendMailViaMailgun" access="public" returntype="any">
        <cfargument name="mailTo" type="any" >
        <cfargument name="mailFrom" type="any" >
        <cfargument name="mailSubject" type="any" >
        <cfargument name="mailText" type="any" >
		<cfargument name="mailHtml" type="any" >
		<cfargument name="mailAttachment" type="any" >
        <!--- <cfhttp result="result" method="POST" charset="utf-8" url="https://api.mailgun.net/v3/www.salonworks.com/messages" >
            <cfhttpparam type="header" name="Authorization" value="Basic #ToBase64("api:2b0795a45b102335e2c837f76882265d-6140bac2-95071457")#" />
            <cfhttpparam type="header" name="Accept" value="application/json"  />
            <cfhttpparam type="formfield" name="from" value="#arguments.mailFrom#" >
            <cfhttpparam type="formfield" name="to" value="#arguments.mailTo#"  />
            <cfhttpparam type="formfield" name="subject" value="#arguments.mailSubject#"  />
            <cfhttpparam type="formfield" name="text" value="#arguments.mailText#"  />
			<cfhttpparam type="formfield" name="html" value="#mailHtml#"  />
        </cfhttp> --->
		
		
		
		<cfhttp result="result" url="https://api.mailgun.net/v3/sandbox051322dac6dd42c48f620b345bbfc56d.mailgun.org/messages" method="POST">
			<cfhttpparam type="header" name="Authorization" value="Basic #ToBase64("api:6e9f1cf7dabb9e69d11809ba556debf5-3fb021d1-4381e279")#" />
			<cfhttpparam type="FORMFIELD" name="from" value="#arguments.mailFrom#">
			<cfhttpparam type="FORMFIELD" name="to" value="aswathi.k@spericorn.com">
			<cfhttpparam type="FORMFIELD" name="subject" value="#arguments.mailSubject#">
			<cfhttpparam type="FORMFIELD" name="text" value="#arguments.mailText#">
			<cfhttpparam type="formfield" name="html" value="#arguments.mailHtml#">
			<cfif structKeyExists(arguments,"mailAttachment") and len(arguments.mailAttachment)>
				<cfhttpparam type="file" name="attachment" file="C:/Sites/Salonworks/www/mailguntest.txt">
			</cfif>
		</cfhttp>
		<cfreturn #result# >
    </cffunction>
</cfcomponent>
