<link href="/templates/0001/inner.css" rel="stylesheet" type="text/css" />
	<div class="col-md-8" id="page-content">
		<div class="midContent">
			<cfinclude template="/customer_sites/customer_appointment_history.cfm">
		</div>
	</div>
	<div class="col-md-4">
		<div class="block-header">
			<h2>
			<span class="title">INFO</span>
			</h2>
		</div>
		<cfinclude template="#templatePath#info_sidebar.cfm">					
	</div>