@charset "utf-8";
/* CSS Document */

.content{
	float:left;
	/*width:580px;*/
	width:100%;
	padding-top:10px;
}

.content .heading{
	color:#3c3c3c;
	font-family:"Times New Roman", Times, serif;
	font-size:36px;
	text-align:left;
}

.content .subhead{
	color:#9b9b9b;
	font-size:18px;
	text-align:left;
}

.content .infobox{
	margin-top:35px;
	margin-left:15px;
	color:#3c3c3c;
	font-size:18px;
	text-align:left;
}

.content .infobox .Icontain{
	padding-bottom:15px;
	text-align:left;
}

.content .infobox .Icontain table td{
	padding-bottom:5px;
}
.content .infobox .Icontain .fields{
	width:340px;
	background-color:#ece5d1;
	border:1px solid #cac0a6;
	height:29px;
	color:#3c3c3c;
	font-size:17px;
	padding-left:10px;
	text-align:left;
}

.content .infobox .Icontain .dateInitial{
	width:180px;
	height:29px;
	background-color:#ece5d1;
	border:1px solid #cac0a6;
	color:#3c3c3c;
	font-size:17px;
	padding-left:10px;
	background-image: url(main_files/calendar.png);
	background-position:right;
	background-repeat:no-repeat;
}

.content .infobox .Icontain .lists{
	width:355px;
	background-color:#ece5d1;
	border:1px solid #cac0a6;
	height:32px;
	color:#3c3c3c;
	font-size:15px;
	padding-left:10px;
	text-align:left;
}

.content .infobox .Icontain .slots{
	width:194px;
	background-color:#ece5d1;
	border:1px solid #cac0a6;
	height:32px;
	color:#3c3c3c;
	font-size:15px;
	padding-left:10px;
	text-align:left;
}

.content .infobox .Icontain .msg{
	width:340px;
	background-color:#ece5d1;
	border:1px solid #cac0a6;
	height:120px;
	color:#3c3c3c;
	font-size:17px;
	padding-left:10px;
	text-align:left;
}

.content .infobox .Icontain .Sbutton{
	background-color:#f6958a;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	padding-top:10px;
	text-decoration:none;
	padding-left:25px;
	padding-right:25px;
	padding-bottom:11px;
}

.content .note{
	color:#9b9b9b;
	font-size:16px;
	text-align:left;
	margin-top:15px;
}

.content .locate{
	text-align:left;
	margin-top:20px;
}

.content .locate .map{
	width:130px;
	font-weight:bold;
	padding:5px;
	text-align:center;
	background-color:#ece5d1;
	border:1px solid #94866b;
	color:#f6958a;
	border-bottom:0 !important;
}

.content .locate .map1{
	background-color:#ece5d1;
	padding:5px;
	border:1px solid #94866b;
	width:380px;
}




.content .team{
	margin-top:35px;
	padding-bottom:20px;
	border-bottom:2px solid #e8e8e8;
	color:#9b9b9b;
	font-size:16px;
	text-align:left;
	padding-left:5px;
}

.content .team img{
	border:4px solid #ffffff;
	box-shadow:0px 1px 8px 1px #666;
	border-radius:150px;
	width:180px;
	height:180px;
}

.content .team .head{
	color:#3c3c3c;
	font-weight:bold;
	padding-bottom:5px;
}

.content .team .profile{
	color:#3c3c3c;
	padding-bottom:5px;
}


