<cfoutput>
<p style="word-wrap: break-word;">#qLocation.Parking_Fees#</p>
<!--- <textarea name="Parking_Fees" class="form-control" id="Parking_Fees" value="#qLocation.Parking_Fees#" rows="4" cols="50" size="30" maxlength="250" disabled style="cursor: auto;resize: none;background:##fff">#qLocation.Parking_Fees#</textarea> --->
</cfoutput>