<!--- <cfinclude template="header.cfm"> --->
<cfinvoke component="admin.services" method="getServices" returnvariable="qService">  
	<cfinvokeargument name="Company_ID" value="#variables.Company_ID#"> 
	<cfinvokeargument name="Professional_ID" value="#session.professional_ID#">
</cfinvoke>
<!--- <cfdump var="#qService#">
<cfinclude template="footer.cfm"> --->