// Brand colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$blue:       #4078c0 !default;
$gray-light: #ddd    !default;
$gray:       #767676 !default;
$gray-dark:  #333    !default;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border
$base-border-color: $gray-light;
$base-border: 1px solid $base-border-color;


// Font stack
//––––––––––––––––––––––––––––––––––––––––––––––––––
$body-font: Arial,Helvetica,sans-serif !default;
$primary-font: 'Poppins', sans-serif !default;
$secondary-font: 'Hind Vadodara', sans-serif !default;

// The base body size
//––––––––––––––––––––––––––––––––––––––––––––––––––
$body-font-size: 14px !default;


// Breakpoints
//––––––––––––––––––––––––––––––––––––––––––––––––––

$lg-320    	: "min-width: 320px";
$lg-480   	: "min-width: 480px";
$lg-768    	: "min-width: 768px";
$lg-992   	: "min-width: 992px";
$lg-1024   	: "min-width: 1024px";
$lg-1200 	: "min-width: 1200px";

$sm-479   	: "max-width: 479px";
$sm-767    	: "max-width: 767px";
$sm-991   	: "max-width: 991px";
$sm-1023   	: "max-width: 1023px";
$sm-1199 	: "max-width: 1199px";
$sm-1679 	: "max-width: 1679px";
