/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
     @include placeholder{
      opacity: 1;color: #a5aeb7;
    } */
/* @include transition (.2s ease-out all); */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input,
select,
textarea,
button {
  font: 14px/1.4 Arial, Helvetica, sans-serif; }
  input:hover, input:focus, input:active,
  select:hover,
  select:focus,
  select:active,
  textarea:hover,
  textarea:focus,
  textarea:active,
  button:hover,
  button:focus,
  button:active {
    outline: 0; }

body {
  font: 14px/1.4 Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff; }

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd; }
  hr:before {
    display: table;
    content: ""; }
  hr:after {
    display: table;
    clear: both;
    content: ""; }

.browserupgrade {
  background: #f00;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0.8em;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; }
  .browserupgrade a {
    font-weight: bold;
    color: #ff0; }

.cf:before {
  display: table;
  content: ""; }

.cf:after {
  display: table;
  clear: both;
  content: ""; }

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

figure {
  margin: 0;
  padding: 0; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 0.7em;
  line-height: 1.2; }

h1, .h1 {
  font-size: 30px; }

h2, .h2 {
  font-size: 21px; }

h3, .h3 {
  font-size: 16px; }

h4, .h4 {
  font-size: 14px; }

h5, .h5 {
  font-size: 12px; }

h6, .h6 {
  font-size: 11px; }

a {
  color: #4078c0;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: 0; }
  a:focus {
    text-decoration: none; }

a[href^=tel] {
  cursor: default; }

p {
  margin: 0 0 0.7em; }

small {
  font-size: 90%; }

blockquote {
  margin: 0; }

ul,
ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }

ol ol,
ul ol {
  list-style-type: lower-roman; }

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha; }

dd {
  margin-left: 0; }

tt,
code {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; }

pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Arial, Helvetica, sans-serif; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

label {
  font-size: 13px;
  font-weight: bold;
  outline: none; }
  label:focus {
    outline: none; }

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.form-control {
  height: 38px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  display: block;
  width: 100%;
  -webkit-transition: all ease .1s;
  -o-transition: all ease .1s;
  transition: all ease .1s; }
  .form-control.focus, .form-control:focus {
    border-color: #4078c0;
    -webkit-box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5); }

textarea {
  resize: none;
  height: auto; }

.form-group {
  margin-bottom: 15px; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.35em; }

input.input-contrast,
.input-contrast {
  background-color: #fafafa; }
  input.input-contrast:focus,
  .input-contrast:focus {
    background-color: #fff; }

::-webkit-input-placeholder {
  color: #aaa; }

:-ms-input-placeholder {
  color: #aaa; }

::-ms-input-placeholder {
  color: #aaa; }

::placeholder {
  color: #aaa; }

button:focus, button.focus, input[type="submit"]:focus, input[type="submit"].focus {
  outline: 0; }

.form-box input:-moz-placeholder {
  opacity: 1;
  /* Firefox 18- */
  color: #333 !important; }

.form-box input::-moz-placeholder {
  opacity: 1;
  /* Firefox 19+ */
  color: #333 !important; }

.form-box ::-webkit-input-placeholder {
  color: #333 !important;
  opacity: 1 !important;
  /* for chrome */ }

.form-box textarea:-moz-placeholder {
  opacity: 1;
  /* Firefox 18- */
  color: #333 !important; }

.form-box textarea::-moz-placeholder {
  opacity: 1;
  /* Firefox 19+ */
  color: #333 !important; }

.form-box ::-webkit-input-placeholder {
  opacity: 1 !important;
  /* for chrome */
  color: #333 !important; }

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 2px solid #ddd;
  font-weight: 600;
  padding: 0.7em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.7em 0; }

tr,
td,
th {
  vertical-align: middle; }

.container-secn {
  max-width: 1350px; }

.container-secn-trm {
  max-width: 980px; }

.modal-backdrop.fade.show.modal-backdrop-white {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3 !important;
  width: 100%;
  height: 100%;
  z-index: 1040; }

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

.nav-otr {
  position: fixed;
  z-index: 1020;
  width: 100%;
  float: left;
  background: #fff;
  -webkit-box-shadow: rgba(85, 78, 78, 0.25) 1px 1px 2px;
  box-shadow: rgba(85, 78, 78, 0.25) 1px 1px 2px; }
  .nav-otr .container-secn {
    max-width: 1350px;
    background: #fff !important;
    padding: 0; }
    .nav-otr .container-secn .navbar-brand {
      padding-bottom: 0px; }
      .nav-otr .container-secn .navbar-brand img {
        width: 155px; }
    .nav-otr .container-secn .nav-item a {
      text-transform: uppercase;
      font: 500 15px/27px "Roboto", sans-serif;
      margin-left: 12px;
      color: #4d4b4b; }
    .nav-otr .container-secn .nav-item .log-clr {
      color: #2995d3 !important; }
      .nav-otr .container-secn .nav-item .log-clr i {
        padding-right: 5px; }
    .nav-otr .container-secn .nav-item .log-dash {
      color: #c4c2c2 !important; }

.sldr-otr .carousel-item {
  margin-top: 95px; }

.sldr-otr .carousel-indicators {
  bottom: 142px; }

.sldr-otr .carousel-indicators .active {
  background-color: #cf9c67; }

.sldr-otr .caption-2 {
  width: auto !important; }
  .sldr-otr .caption-2 h4 {
    font: 300 18px/24px "Roboto", sans-serif !important;
    text-transform: capitalize !important;
    text-align: left; }
  .sldr-otr .caption-2 .btr-carsl {
    margin-top: 28px; }

.sldr-otr .carousel-caption {
  position: absolute;
  right: 9%;
  top: 190px;
  width: 520px;
  left: 56%; }
  .sldr-otr .carousel-caption h2 {
    font: 700 48px/51px "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 14px; }
  .sldr-otr .carousel-caption h4 {
    font: 100 37px/28px "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: left; }
  .sldr-otr .carousel-caption .btn-s-1 {
    background: #2995d3;
    border: none;
    border-radius: 50px;
    padding: 10px 34px 10px;
    font: 500 17px/27px "Roboto", sans-serif; }
  .sldr-otr .carousel-caption .btn-s-2 {
    background: none;
    border: 1px solid #fff6f6;
    margin-left: 10px;
    border-radius: 50px;
    padding: 10px 34px 10px;
    font: 500 17px/27px "Roboto", sans-serif; }

.sldr-otr .bg-btm-sldr {
  position: absolute;
  right: 15%;
  bottom: 0px;
  left: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.65);
  padding: 28px 0px 28px !important; }
  .sldr-otr .bg-btm-sldr .email-sec .search-txt {
    background: #fff;
    width: 649px;
    height: 50px;
    text-indent: 30px;
    border-radius: 50px;
    border: 1.4px solid #34a2e1;
    font: 300 16px/27px "Roboto", sans-serif; }
  .sldr-otr .bg-btm-sldr .email-sec .search-but {
    background: #2995d3;
    border-radius: 50px;
    border: none;
    padding: 11.5px 51px 11px;
    color: #fff;
    margin-left: -62px;
    text-transform: uppercase;
    font: 500 18px/27px "Roboto", sans-serif;
    -webkit-transition: 0.2s ease-out all;
    -moz-transition: 0.2s ease-out all;
    -ms-transition: 0.2s ease-out all;
    -o-transition: 0.2s ease-out all;
    transition: 0.2s ease-out all; }
    .sldr-otr .bg-btm-sldr .email-sec .search-but:hover {
      background: #33a9ed; }

.featr-otr .fetr-sec {
  padding-top: 110px;
  padding-bottom: 106px; }
  .featr-otr .fetr-sec h3 {
    font: 600 40px/27px "Roboto", sans-serif; }
  .featr-otr .fetr-sec .fetr-cont {
    font: 400 15px/24px "Roboto", sans-serif; }
  .featr-otr .fetr-sec .txt-h3 {
    font: 600 27px/27px "Roboto", sans-serif;
    margin-top: 22px; }

.featr-otr .ft-brd {
  border-right: 1px solid #e0e0e0; }

.featr-otr .ft-pd {
  padding: 85px 55px 10px; }

.featr-otr .ft-right {
  padding-right: 85px; }

.featr-otur {
  margin-top: 45px;
  margin-bottom: 30px; }
  .featr-otur .row {
    padding: 50px 0px 55px;
    border-bottom: 1px solid #e7e5e5; }
  .featr-otur .tp-fv {
    margin-top: 45px; }
  .featr-otur .tp-sv {
    margin-top: 70px; }
  .featr-otur .tp-hv {
    margin-top: 75px; }
  .featr-otur .bkr-otr h3 {
    font: 300 40px/42px "Roboto", sans-serif;
    margin-bottom: 18px; }
  .featr-otur .bkr-cont {
    font: 300 16px/24px "Roboto", sans-serif; }
    .featr-otur .bkr-cont ul {
      margin-top: 14px; }
      .featr-otur .bkr-cont ul li {
        list-style: none;
        padding-left: 6px; }
        .featr-otur .bkr-cont ul li:before {
          font-family: 'Font Awesome 5 Free';
          content: "\f054";
          font-weight: 900;
          position: absolute;
          left: 2px;
          color: #2995d3; }

.video-otr .bg-vido-lft {
  background: #2995d3;
  color: #fff;
  text-align: right;
  height: 550px;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, -38% -544%);
  clip-path: polygon(0% 100%, 100% 100%, -38% -544%); }
  .video-otr .bg-vido-lft h2 {
    font: 600 48px/27px "Roboto", sans-serif;
    margin-bottom: 15px; }
  .video-otr .bg-vido-lft h3 {
    font: 300 35px/42px "Roboto", sans-serif;
    width: 395px;
    float: right;
    border-bottom: 1px solid #79bde2;
    padding-bottom: 20px; }
  .video-otr .bg-vido-lft article {
    max-width: 660px;
    width: 100%;
    position: absolute;
    left: 36%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.video-otr .bg-video {
  position: absolute;
  right: 15%;
  top: 9%;
  padding: 0; }
  .video-otr .bg-video .js-video {
    height: 460px;
    width: 100%;
    background: url(../img/video-bg.jpg);
    border: 22px solid #fff;
    background-size: cover;
    overflow: hidden;
    position: relative; }
  .video-otr .bg-video .play {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 73px;
    font-size: 26px;
    border: 13px solid rgba(255, 255, 255, 0.6);
    height: 90px;
    width: 90px;
    border-radius: 50%; }
  .video-otr .bg-video .play i {
    position: absolute;
    left: 0%;
    top: 0%;
    font-size: 73px;
    font-size: 26px;
    background: #ffffff;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    line-height: 65px;
    text-align: center; }
  .video-otr .bg-video .video-poster {
    background-repeat: no-repeat;
    position: absolute;
    height: 460px;
    width: 100%; }
  .video-otr .bg-video .play i:hover {
    cursor: pointer; }
  .video-otr .bg-video .js-video iframe {
    z-index: 5;
    position: relative; }

.video-learn .modal-dialog {
  max-width: 990px; }

.video-learn .modal-header {
  border: none; }

.video-learn .modal-content {
  background: transparent;
  border: none; }

.video-learn .close {
  background: #03A9F4;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  line-height: 0;
  color: #fff;
  font-size: 20px;
  margin-right: -3px;
  opacity: 1; }

.trial-sec {
  padding: 115px 0px 80px; }
  .trial-sec .img-mbl {
    z-index: 10; }
  .trial-sec .trial-sec_r {
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .trial-sec h2 {
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px; }
  .trial-sec h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    line-height: 40px;
    font-weight: 100;
    margin-bottom: 10px; }
  .trial-sec h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px; }

.btn-c-primary {
  background: #2995d3;
  border: none;
  display: inline-block;
  color: #fff;
  width: auto;
  border-radius: 50px;
  padding: 10px 40px 10px;
  font: 500 17px/27px "Roboto", sans-serif;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .btn-c-primary:hover {
    text-decoration: none;
    color: #fff;
    background: #2da2e5; }

.footer {
  background: #20242c;
  min-height: 200px;
  padding: 75px 25px 25px;
  color: #fff; }
  .footer .footer_list {
    padding: 0px;
    margin: 0px; }
    .footer .footer_list li {
      list-style: none;
      margin-bottom: 12px; }
      .footer .footer_list li:before {
        width: 0;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #2995d3;
        content: "";
        height: 0px;
        position: absolute;
        border-top: 6px solid transparent;
        left: 1px;
        margin-top: 3px; }
      .footer .footer_list li a {
        text-transform: uppercase;
        color: #fff;
        opacity: 0.75;
        text-decoration: none; }
        .footer .footer_list li a:hover {
          color: #fff;
          opacity: 0.95;
          text-decoration: none; }
  .footer .plf {
    padding-left: 67px; }
  .footer .sal-txt h3 {
    font: 500 18px/24px "Roboto", sans-serif; }
  .footer .sal-txt .sl-desc {
    font: 400 15px/24px "Roboto", sans-serif;
    color: #b6b3b3; }
  .footer .sal-txt .sl-icn {
    color: #b6b3b3;
    font: 400 15px/27px "Roboto", sans-serif; }
    .footer .sal-txt .sl-icn span {
      padding-left: 14px; }
    .footer .sal-txt .sl-icn i {
      color: #2995d3; }
    .footer .sal-txt .sl-icn .ph-sec {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .footer .ftr-pd {
    border-top: 1px solid #2d333f;
    margin-top: 55px; }
  .footer .trm {
    list-style: none;
    color: #b6b3b3;
    padding-top: 25px; }
    .footer .trm li {
      font: 400 15px/24px "Roboto", sans-serif; }
      .footer .trm li a {
        color: #b6b3b3;
        text-decoration: none; }
  .footer .social {
    list-style: none;
    color: #b6b3b3;
    padding-top: 25px;
    float: right; }
    .footer .social li {
      font: 400 15px/24px "Roboto", sans-serif;
      float: left;
      margin-left: 15px; }
      .footer .social li i {
        background: #b6b3b3;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        color: #333;
        text-align: center;
        line-height: 29px; }

.form-web-otr .imgr {
  position: relative;
  z-index: 100; }

.form-web-otr .cont-otr-frm {
  padding: 100px 0px 56px; }

.form-web-otr select {
  color: #969696; }

.form-web-otr .info-sec-dot {
  position: absolute;
  right: -5px;
  top: 45px; }
  .form-web-otr .info-sec-dot a {
    color: #434647; }
  .form-web-otr .info-sec-dot i {
    font-size: 16px; }

.form-web-otr .info-sec-bt {
  position: absolute;
  top: 1px;
  padding-left: 6px; }
  .form-web-otr .info-sec-bt a {
    color: #434647; }
  .form-web-otr .info-sec-bt i {
    font-size: 16px; }

.form-web-otr .info-sec {
  position: absolute;
  right: -26px;
  top: 45px; }
  .form-web-otr .info-sec a {
    color: #434647; }
  .form-web-otr .info-sec i {
    font-size: 16px; }

.form-web-otr .bdt-lft {
  border-right: 10px solid #fff; }

.form-web-otr .cont-form-secn h3 {
  font: 600 44px/53px "Roboto", sans-serif;
  margin-bottom: 15px;
  color: #21242c;
  margin-top: 14px; }
  .form-web-otr .cont-form-secn h3 span {
    color: #2995d3; }

.form-web-otr .cont-form-secn h5 {
  font: 400 16px/24px "Roboto", sans-serif;
  color: #605f5f; }
  .form-web-otr .cont-form-secn h5 span {
    color: #2995d3; }

.form-web-otr .line-sec:before {
  content: "";
  z-index: 10;
  height: 3px;
  width: 82px;
  display: inline-block;
  background: #e7eaeb;
  position: absolute;
  right: -2px;
  top: 29px; }

.form-web-otr .num-otr {
  margin-top: 35px; }
  .form-web-otr .num-otr .numbr {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #cbd9e1;
    color: #fff;
    text-align: center;
    font: 400 24px/60px "Roboto", sans-serif; }
  .form-web-otr .num-otr .active-sec {
    background: #2995d3; }

.form-web-otr .txt-frm-otr ::-webkit-input-placeholder {
  opacity: 1;
  color: #969696; }

.form-web-otr .txt-frm-otr :-moz-placeholder {
  opacity: 1;
  color: #969696; }

.form-web-otr .txt-frm-otr ::-moz-placeholder {
  opacity: 1;
  color: #969696; }

.form-web-otr .txt-frm-otr :-ms-input-placeholder {
  opacity: 1;
  color: #969696; }

.form-web-otr .txt-frm-otr h4 {
  font: 500 20px/27px "Roboto", sans-serif;
  margin-top: 37px;
  margin-bottom: 12px !important; }

.form-web-otr .txt-frm-otr .txt-frm label {
  font: 400 15px/24px "Roboto", sans-serif;
  color: #605f5f; }

.form-web-otr .txt-frm-otr .txt-frm .form-control {
  border: 1px solid #dfdddd;
  height: 42px;
  text-indent: 11px;
  font: 400 15px/27px "Roboto", sans-serif;
  margin-bottom: 15px; }

.form-web-otr .txt-frm-otr .txt-frm textarea.form-control {
  height: 80px !important; }

.form-web-otr .txt-frm-otr .txt-frm .cm-pr {
  font: 400 15px/27px "Roboto", sans-serif;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #605f5f; }

.form-web-otr .txt-frm-otr .frms-btn {
  background: #2995d3;
  border: none;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  padding: 13px 0px 15px;
  font: 400 16px/27px "Roboto", sans-serif;
  -webkit-transition: 0.2s ease-out all;
  -moz-transition: 0.2s ease-out all;
  -ms-transition: 0.2s ease-out all;
  -o-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all; }
  .form-web-otr .txt-frm-otr .frms-btn:hover {
    background: #33a9ed; }

.form-web-otr .sl-md {
  margin-bottom: 0px !important;
  margin-top: 17px !important; }

.form-web-otr .slt-otr {
  margin-bottom: 9px;
  float: left; }
  .form-web-otr .slt-otr .sel-rt select {
    height: 32px !important;
    text-indent: 0px !important;
    margin: 0 !important;
    width: 120px; }
  .form-web-otr .slt-otr .txt-rt {
    margin-right: 2px;
    margin-top: 2px;
    width: 81px; }
  .form-web-otr .slt-otr .txt-rt-lt {
    margin-right: 7px;
    margin-left: 6px;
    margin-top: 3px; }

.form-web-otr .fld {
  font-weight: 600 !important; }

.form-web-otr .dot-cm {
  margin-top: 45px;
  display: inline-block;
  font-weight: 600; }

.stepwizard-step .btn[disabled] {
  pointer-events: none;
  cursor: not-allowed; }

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
  opacity: 1 !important;
  background: #cbd9e1;
  color: #fff; }

.stepwizard .btn {
  background: #2995d3;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 50px !important;
  box-shadow: none;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font: 400 24px/48px "Roboto", sans-serif;
  border: none;
  -webkit-appearance: initial; }

.pricing-secn {
  background: url("../img/pricing.jpg") center center no-repeat;
  min-height: 1000px;
  padding: 110px 0px 52px; }
  .pricing-secn .hed h3 {
    font: 700 47px/48px "Roboto", sans-serif;
    margin-bottom: 7px; }
  .pricing-secn .hed h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px; }

.carousel.carousel-fade .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out; }

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0); }

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1; }

.carousel.carousel-fade .carousel-control {
  z-index: 3; }

.caption-animate .item.active .carousel-caption {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.caption-animate .item.active .carousel-caption.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.caption-animate .item.active .carousel-caption.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.caption-animate .item.active .carousel-caption.flipOutX,
.caption-animate .item.active .carousel-caption.flipOutY,
.caption-animate .item.active .carousel-caption.bounceIn,
.caption-animate .item.active .carousel-caption.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

.caption-animate .item .carousel-caption.fadeIn,
.caption-animate .item .carousel-caption.fadeInDown,
.caption-animate .item .carousel-caption.fadeInDownBig,
.caption-animate .item .carousel-caption.fadeInLeft,
.caption-animate .item .carousel-caption.fadeInLeftBig,
.caption-animate .item .carousel-caption.fadeInRight,
.caption-animate .item .carousel-caption.fadeInRightBig,
.caption-animate .item .carousel-caption.fadeInUp,
.caption-animate .item .carousel-caption.fadeInUpBig {
  opacity: 0; }

.carousel-caption h2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.carousel-caption h4 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.btr-carsl .wd-ff {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.carousel-caption h2:nth-child(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.carousel-caption button {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

.loginModal {
  font-family: 'Roboto', sans-serif; }
  .loginModal .modal-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 26px; }
  .loginModal .modal-body {
    padding: 15px  35px 35px; }
  .loginModal form {
    margin-top: 25px;
    margin-bottom: 15px; }
    .loginModal form .form-control {
      font-size: 15px;
      color: #777;
      background: whitesmoke;
      border: 1px solid #ccc;
      padding-left: 15px;
      padding-right: 15px; }
  .loginModal .modal-footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: whitesmoke;
    border-radius: 0rem 0rem 0.3rem 0.3rem; }
    .loginModal .modal-footer p {
      display: inline-block;
      text-align: center;
      color: #999;
      font-size: 14px; }
      .loginModal .modal-footer p a {
        color: #2995d3;
        display: block;
        font-weight: 500;
        margin-top: 5px;
        -webkit-transition: all 0.05s ease-in-out;
        -o-transition: all 0.05s ease-in-out;
        transition: all 0.05s ease-in-out; }
        .loginModal .modal-footer p a:hover {
          color: #30a1e2;
          text-decoration: none; }

.signup-trial {
  cursor: pointer; }

.btn-primary {
  background: #2995d3;
  border-color: #33a9ed; }
  .btn-primary:hover {
    background: #33a9ed;
    border-color: #33a9ed; }
  .btn-primary:focus {
    background: #33a9ed;
    border-color: #33a9ed; }
  .btn-primary:active {
    background-color: #2995d3 !important;
    border-color: #33a9ed !important; }

.link-default {
  color: #2995d3; }
  .link-default:hover {
    color: #30a1e2;
    /*text-decoration: none;*/ }

.modal {
  overflow-y: auto !important; }

body {
  padding-right: 0px !important; }

body.blur-modal > :not(.modal-load) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px); }

.modalSupport .modal-body h4 {
  font-size: 21px;
  margin-top: 15px; }

.modalSupport .modal-body textarea.form-control {
  height: 90px; }

.bg-trms {
  background: url("../img/banner.jpg");
  min-height: 350px;
  background-size: cover; }
  .bg-trms h2 {
    padding-top: 217px;
    color: #fff;
    /* padding-left: 257px; */
    font: 600 30px/24px "Roboto", sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #3f3637;
    text-align: center; }

.trm-cnd {
  padding: 65px 0px 65px; }
  .trm-cnd h3 {
    font: 600 27px/51px "Roboto", sans-serif; }
  .trm-cnd h4 {
    font: 500 21px/24px "Roboto", sans-serif;
    color: #534d4d; }
  .trm-cnd .cont-trm {
    font: 400 16px/24px "Roboto", sans-serif;
    color: #3f3b3b; }
    .trm-cnd .cont-trm ul li {
      list-style: none; }
    .trm-cnd .cont-trm .copy-ul {
      padding-left: 55px;
      margin-top: 10px; }
    .trm-cnd .cont-trm .tpr-tp {
      margin-top: 8px; }
  .trm-cnd .top-trm {
    margin-bottom: 31px; }

.iconWrapper {
  background: #2995d3;
  border-radius: 50%;
  font-size: 20px;
  height: 42px;
  margin: 0 auto 0.4em;
  position: relative;
  text-align: center;
  width: 42px;
  visibility: hidden;
  bottom: 29px;
  right: 20px;
  z-index: 100;
  position: fixed;
  -webkit-transition: 0.2s ease-out all;
  -moz-transition: 0.2s ease-out all;
  -ms-transition: 0.2s ease-out all;
  -o-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all; }
  .iconWrapper:hover {
    background: #31aaef; }
  .iconWrapper i {
    color: #FFFFFF !important;
    font-size: 23px;
    left: 12px;
    position: absolute;
    top: 9px; }
    .iconWrapper i:hover {
      top: 4px;
      -webkit-transition: 0.2s ease-out all;
      -moz-transition: 0.2s ease-out all;
      -ms-transition: 0.2s ease-out all;
      -o-transition: 0.2s ease-out all;
      transition: 0.2s ease-out all; }

.show-back-to-top {
  display: inline-block;
  visibility: visible; }

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1; }

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px; }

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all; }

.modalsucces .modal-dialog {
  max-width: 365px; }

.modalsucces .modal-header {
  border: none; }

.modalsucces .modal-body {
  text-align: center;
  margin-top: -24px;
  font: 400 19px/23px "Roboto", sans-serif;
  color: #333; }

.modalsucces .modal-footer {
  border: none;
  /* text-align: center; */
  /* float: left; */
  /* width: 100%; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -10px;
  /* background: #ccc; */
  margin-bottom: 15px; }
  .modalsucces .modal-footer .btn-secondary {
    text-align: center;
    width: 150px;
    background-color: #5fbc39;
    border-color: #5fbc39; }

.modal-load .modal-body {
  padding: 0; }

.modal-load .img-md img {
  width: 19px; }

.modal-load .modal-header {
  position: absolute;
  right: 0;
  z-index: 1;
  border: none; }

.modal-load .modal-dialog {
  max-width: 1050px;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(64, 58, 58, 0.35);
  box-shadow: 0px 4px 7px 0px rgba(64, 58, 58, 0.35);
  margin-top: 70px; }

.modal-load .modal-content {
  border-radius: 10px; }

.modal-load .md-content {
  padding: 59px 54px 15px; }
  .modal-load .md-content h3 {
    font: 600 32px/32px "Roboto", sans-serif;
    margin-bottom: 8px; }
  .modal-load .md-content h4 {
    font: 300 23px/24px "Roboto", sans-serif; }
  .modal-load .md-content .fr-ac {
    font-weight: 400; }
  .modal-load .md-content .sub-content {
    font: 300 16px/24px "Roboto", sans-serif; }
    .modal-load .md-content .sub-content .eml {
      color: #2995d3;
      text-decoration: underline;
      margin-top: 15px;
      display: inline-block; }

.modal-load .close {
  color: #fff;
  opacity: 0.6;
  font-size: 22px; }

.modal-load .md-bg-img {
  background: url(../img/load-md-img.png);
  min-height: 690px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom-right-radius: 10px; }

.modal-load .demo-site-but {
  background: #2995d3;
  border: 1px solid #2995d3;
  color: #fff;
  width: 280px;
  padding: 13px 37px 13px;
  border-radius: 9px;
  font: 400 18px/24px "Roboto", sans-serif; }
  .modal-load .demo-site-but:hover {
    background: #1776ad; }
  .modal-load .demo-site-but:active {
    border: 1px solid #42b4f5; }

.modal-load .or-option {
  margin-top: 20px;
  margin-bottom: 20px;
  font: 500 18px/24px "Roboto", sans-serif;
  color: #ccc; }

.modal-load .video-but {
  background: transparent;
  border: none;
  color: #fff;
  padding: 13px 37px 13px;
  width: 280px;
  border-radius: 9px;
  font: 400 18px/24px "Roboto", sans-serif;
  border: 1px solid #f9f9f9;
  text-shadow: 1px 1px 1px #3a3737; }
  .modal-load .video-but:hover {
    background: #fff;
    color: #333;
    text-shadow: none; }
  .modal-load .video-but:active {
    border: 1px solid #2995d3; }

.free-demo-btn {
  position: fixed;
  z-index: 100;
  color: #fff;
  bottom: 185px;
  right: 0;
  background: #2995d3;
  padding: 13px 18px 12px;
  width: 64px;
  height: 251px; }
  .free-demo-btn a {
    text-decoration: none; }
  .free-demo-btn span {
    -webkit-transform: rotate(270deg) translate(0px, 0px);
    -ms-transform: rotate(270deg) translate(0px, 0px);
    transform: rotate(270deg) translate(0px, 0px);
    font-size: 22px;
    display: block;
    text-align: center;
    font: 400 20px/23px "Roboto", sans-serif;
    color: #fff;
    width: 229px;
    height: 223px; }

.freedemo .modal-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 26px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500; }

.freedemo .form-group {
  margin-bottom: 18px; }

.freedemo .btn-primary {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px; }

.book-apnt {
  padding: 50px 0px 71px;
  max-width: 1050px; }
  .book-apnt .form-dtl {
    border: 1px solid #e8eaeb;
    padding: 25px 33px 32px; }
    .book-apnt .form-dtl h3 {
      font: 500 21px/27px "Roboto", sans-serif; }
    .book-apnt .form-dtl .form-control {
      border: 1px solid #dfdddd;
      height: 42px;
      text-indent: 2px;
      font: 400 15px/27px "Roboto", sans-serif;
      margin-bottom: 15px; }
    .book-apnt .form-dtl .txt-frm label {
      font: 400 15px/24px "Roboto", sans-serif; }
    .book-apnt .form-dtl .frms-btn {
      background: #2995d3;
      border: none;
      padding: 11px 18px 11px;
      color: #fff;
      margin-top: 4px;
      font: 400 15px/24px "Roboto", sans-serif;
      text-transform: uppercase; }
  .book-apnt .info-dtl h3 {
    font: 500 21px/27px "Roboto", sans-serif; }
  .book-apnt .info-dtl h4 {
    font: 500 16px/27px "Roboto", sans-serif;
    margin-bottom: 12px; }

.datepicker {
  width: 300px;
  font: 15px/27px "Roboto", sans-serif; }

.exm {
  margin-top: 4px;
  font: 14px/27px "Roboto", sans-serif; }

@media (max-width: 1699px) {
  .nav-otr .container-secn .nav-item a {
    font: 500 12px/27px "Roboto", sans-serif;
    margin-left: 3px; }
  .book-apnt .form-dtl h3 {
    font: 500 15px/24px "Roboto", sans-serif; }
  .book-apnt .form-dtl .txt-frm label {
    font: 400 14px/24px "Roboto", sans-serif; }
  .book-apnt .form-dtl .form-control {
    height: 38px;
    text-indent: 2px;
    font: 400 14px/25px "Roboto", sans-serif; }
  .book-apnt .form-dtl .frms-btn {
    font: 400 14px/24px "Roboto", sans-serif;
    padding: 9px 16px 9px; }
  .book-apnt .info-dtl h3 {
    font: 500 15px/27px "Roboto", sans-serif; }
  .book-apnt .info-dtl h4 {
    font: 500 14px/27px "Roboto", sans-serif; }
  .free-demo-btn {
    width: 45px;
    height: 210px; }
  .free-demo-btn span {
    width: 179px;
    height: 188px;
    text-align: center;
    font: 400 16px/23px "Roboto", sans-serif; }
  .modal-load .modal-body {
    padding-top: 0px !important; }
  .modal-load .md-content h3 {
    font: 600 25px/27px "Roboto", sans-serif; }
  .modal-load .md-content h4 {
    font: 300 19px/25px "Roboto", sans-serif; }
  .modal-load .md-content .sub-content {
    font: 300 15px/24px "Roboto", sans-serif; }
  .modal-load .modal-dialog {
    max-width: 980px; }
  .modal-load .md-bg-img {
    min-height: 650px; }
  .modal-load .demo-site-but, .modal-load .video-but {
    width: 255px;
    padding: 13px 37px 13px;
    border-radius: 5px;
    font: 400 16px/24px "Roboto", sans-serif; }
  .modalsucces .modal-body {
    font: 400 16px/21px "Roboto", sans-serif; }
  .modalsucces .modal-footer .btn-secondary {
    text-align: center;
    width: 135px; }
  .modalsucces .modal-dialog {
    max-width: 300px; }
  .modalsucces .modal-footer {
    margin-top: -15px; }
  .video-otr .bg-video .js-video, .video-otr .bg-video .video-poster {
    height: 373px; }
  .video-otr .bg-video .js-video iframe {
    height: 332px; }
  .featr-otur .bkr-otr h3 {
    font: 300 30px/32px "Roboto", sans-serif;
    margin-bottom: 13px; }
  .video-otr .bg-vido-lft {
    height: 460px; }
  .featr-otur .bkr-cont {
    font: 300 14px/22px "Roboto", sans-serif; }
  .form-web-otr .info-sec {
    top: 37px; }
  .modal-body {
    padding-top: 5px !important; }
  .iconWrapper {
    width: 35px;
    height: 35px; }
  .iconWrapper i {
    color: #FFFFFF !important;
    font-size: 19px;
    left: 10px;
    position: absolute;
    top: 7px; }
  .bg-trms {
    min-height: 250px; }
  .bg-trms h2 {
    padding-top: 152px;
    color: #fff;
    font: 600 25px/24px "Roboto", sans-serif; }
  .trm-cnd h3 {
    font: 600 24px/24px "Roboto", sans-serif;
    margin-bottom: 26px; }
  .trm-cnd .cont-trm {
    font: 400 14px/22px "Roboto", sans-serif; }
  .trm-cnd {
    padding: 55px 0px 45px; }
  .loginModal form .form-control {
    font-size: 14px; }
  .trm-cnd h4 {
    font: 500 18px/21px "Roboto", sans-serif;
    margin-bottom: 7px; }
  .modalSupport .modal-body h4 {
    font-size: 17px;
    margin-top: 5px; }
  .loginModal .modal-title {
    font-size: 21px;
    margin-top: 15px; }
  .sldr-otr .carousel-item {
    margin-top: 69px; }
  .sldr-otr .caption-2 .btr-carsl {
    margin-top: 19px; }
  .sldr-otr .caption-2 h4 {
    font: 400 14px/18px "Roboto", sans-serif !important; }
  .form-web-otr .slt-otr {
    padding: 0px; }
  .form-web-otr .slt-otr .txt-rt {
    width: 100%; }
  .dot-cm-otr {
    padding: 0; }
  .container-secn, .nav-otr .container-secn {
    max-width: 1000px; }
  .nav-otr .container-secn .navbar-brand img {
    width: 110px; }
  .sldr-otr .carousel-caption h2 {
    font: 700 32px/36px "Roboto", sans-serif;
    margin-bottom: 9px; }
  .sldr-otr .carousel-caption {
    top: 180px; }
  .form-web-otr .dot-cm {
    margin-top: 37px; }
  .sldr-otr .carousel-caption h4 {
    font: 100 25px/24px "Roboto", sans-serif; }
  .sldr-otr .carousel-caption .btn-s-1 {
    padding: 8px 29px 8px;
    font: 500 14px/24px "Roboto", sans-serif; }
  .form-web-otr .info-sec-dot {
    right: -26px;
    top: 37px; }
  .sldr-otr .carousel-caption .btn-s-2 {
    font: 500 14px/24px "Roboto", sans-serif;
    padding: 7px 23px 7px; }
  .sldr-otr .bg-btm-sldr .email-sec .search-txt {
    width: 570px;
    height: 43px;
    font: 300 14px/27px "Roboto", sans-serif; }
  .sldr-otr .bg-btm-sldr .email-sec .search-but {
    padding: 9px 45px 9px;
    font: 500 14px/24px "Roboto", sans-serif; }
  .sldr-otr .bg-btm-sldr {
    padding: 18px 0px 18px !important; }
  .featr-otr .fetr-sec h3 {
    font: 600 28px/27px "Roboto", sans-serif; }
  .featr-otr .fetr-sec .fetr-cont {
    font: 400 14px/22px "Roboto", sans-serif; }
  .featr-otr .ft-right {
    padding-right: 35px; }
  .ft-pd img {
    width: 60px; }
  .video-otr .bg-video .play i {
    font-size: 21px;
    height: 56px;
    width: 56px;
    line-height: 56px; }
  .video-otr .bg-video .play i {
    position: absolute;
    left: -6%;
    top: -6%; }
  .video-otr .bg-video .play {
    height: 75px;
    width: 75px; }
  .triangle-mdl {
    right: 30px !important; }
  .video-otr .bg-vido-lft h2 {
    font: 600 35px/27px "Roboto", sans-serif; }
  .video-otr .bg-vido-lft h3 {
    font: 300 30px/35px "Roboto", sans-serif; }
  .video-otr .bg-vido-lft h3 {
    width: 283px; }
  .video-otr .bg-vido-lft article {
    padding-right: 70px; }
  .featr-otr .fetr-sec .txt-h3 {
    font: 600 20px/24px "Roboto", sans-serif;
    margin-top: 16px; }
  .featr-otr .ft-pd {
    padding: 85px 30px 10px; }
  .featr-otr .fetr-sec {
    padding-top: 99px;
    padding-bottom: 75px; }
  .video-learn .modal-dialog {
    max-width: 590px; }
  .video-learn iframe {
    height: 375px; }
  .video-learn .close {
    padding: 15px 11px 15px;
    width: auto;
    height: auto;
    font-size: 16px; }
  .img-mbl img {
    height: 380px; }
  .triangle-mdlm.triangle-mdl-btmm.cf {
    left: 191px !important;
    right: inherit;
    top: 150px !important; }
  .triangle {
    top: -53px !important;
    left: 176px !important; }
  .trial-sec h2 {
    font-size: 35px;
    margin-bottom: 0px; }
  .trial-sec h3 {
    font-size: 32px;
    margin-bottom: 4px; }
  .trial-sec h4 {
    margin-bottom: 3px; }
  .btn-c-primary {
    padding: 8px 34px 8px;
    font: 500 14px/24px "Roboto", sans-serif; }
  .trial-sec {
    padding: 85px 0px 80px; }
  .triangle-mdlm.triangle-mdl-btmm.cf .t-10, .triangle-mdlm.triangle-mdl-btmm.cf .t-13, .triangle-mdlm.triangle-mdl-btmm.cf .t-3, .triangle-mdlm.triangle-mdl-btmm.cf .t-4 {
    display: none; }
  .img-mbl {
    text-align: center; }
  .pricing-secn {
    min-height: 700px;
    padding: 64px 0px 52px; }
  .pricing-secn .hed h3 {
    font: 700 33px/40px "Roboto", sans-serif; }
  .pricing-secn .hed h4 {
    font-size: 16px; }
  .form-web-otr .cont-form-secn h3 {
    font: 600 33px/40px "Roboto", sans-serif; }
  .form-web-otr .cont-form-secn h5 {
    font: 400 14px/22px "Roboto", sans-serif; }
  .form-web-otr .cont-form-secn h3 {
    margin-bottom: 10px;
    color: #21242c;
    margin-top: 7px; }
  .form-web-otr .cont-otr-frm {
    padding: 70px 0px 56px; }
  .stepwizard .btn {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    font: 400 17px/35px "Roboto", sans-serif; }
  .form-web-otr .line-sec:before {
    width: 67px;
    right: -7px;
    top: 22px; }
  .form-web-otr .txt-frm-otr h4 {
    font: 500 16px/21px "Roboto", sans-serif;
    margin-top: 22px;
    margin-bottom: 9px; }
  .form-web-otr .txt-frm-otr .txt-frm label {
    font: 400 13px/24px "Roboto", sans-serif;
    color: #605f5f;
    margin-bottom: 5px; }
  .form-web-otr .info-sec i {
    font-size: 13px; }
  .form-web-otr .txt-frm-otr .txt-frm .cm-pr {
    font: 400 13px/27px "Roboto", sans-serif;
    padding-right: 0px; }
  .form-web-otr .txt-frm-otr .txt-frm .form-control {
    height: 36px;
    text-indent: 5px;
    font: 400 13px/27px "Roboto", sans-serif;
    margin-bottom: 8px;
    margin-top: 0px; }
  .form-web-otr .num-otr {
    margin-top: 8px; }
  .form-web-otr .txt-frm-otr .frms-btn {
    padding: 11px 0px 11px;
    font: 400 14px/22px "Roboto", sans-serif; }
  .triangle-btr {
    top: 523px !important; }
  .footer img {
    height: 100px; }
  .footer {
    padding: 57px 25px 15px; }
  .footer .footer_list li {
    font-size: 13px; }
  .footer .footer_list li:before {
    width: 0;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #2995d3;
    content: "";
    height: 0px;
    position: absolute;
    border-top: 4px solid transparent;
    left: 1px;
    margin-top: 3px; }
  .footer .sal-txt h3 {
    font: 500 16px/22px "Roboto", sans-serif; }
  .footer .sal-txt .sl-desc {
    font: 400 13px/21px "Roboto", sans-serif; }
  .footer .plf {
    padding-left: 15px; }
  .footer .trm li, .footer .social li {
    font: 400 13px/21px "Roboto", sans-serif; }
  .footer .social li i {
    background: #b6b3b3;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    color: #333;
    text-align: center;
    line-height: 24px;
    font-size: 11px; }
  .footer .trm, .footer .social {
    padding-top: 15px; }
  .footer .ftr-pd {
    margin-top: 25px; }
  .footer .sal-txt .sl-icn span {
    padding-left: 5px;
    font-size: 13px; } }

@media (max-width: 1550px) {
  .sldr-otr .carousel-caption {
    top: 130px; }
  .sldr-otr .carousel-indicators {
    bottom: 40px; }
  .carousel-caption.d-md-block.caption-2 h2 {
    font: 700 28px/32px "Roboto", sans-serif;
    margin-bottom: 9px; } }

@media (max-width: 1440px) {
  .trial-sec {
    padding: 85px 0px 50px; } }

@media (max-width: 1280px) {
  .free-demo-btn {
    width: 39px;
    height: 175px; }
  .free-demo-btn span {
    width: 144px;
    height: 151px;
    font: 400 14px/10px "Roboto", sans-serif; } }

@media (max-width: 1270px) {
  .sldr-otr .carousel-caption {
    top: 85px; }
  .video-otr .bg-vido-lft article {
    left: 30%; }
  .video-otr .bg-video .js-video, .video-otr .bg-video .video-poster {
    height: 312px; }
  .video-otr .bg-video .js-video iframe {
    height: 274px; }
  .video-otr .bg-video {
    top: 14%; } }

@media (max-width: 1199px) {
  .container-secn, .nav-otr .container-secn {
    max-width: 92%; }
  .container-secn-trm.mx-auto.book-apnt {
    padding: 50px 0px 71px !important; }
  .free-demo-btn {
    bottom: 35px; }
  .trm-cnd .cont-trm .copy-ul {
    padding-left: 20px; }
  .bg-trms {
    min-height: 200px; }
  .bg-trms h2 {
    padding-top: 125px;
    color: #fff;
    /* padding-left: 257px; */
    font: 600 22px/24px "Roboto", sans-serif; }
  .trm-cnd {
    padding: 35px 0px 25px; }
  .container-secn-trm {
    max-width: 92%;
    padding: 0px 20px !important; }
  .form-web-otr .slt-otr .sel-rt select {
    width: 107px; }
  .video-otr .bg-vido-lft article {
    left: 24%;
    top: 50%; }
  .form-web-otr .line-sec:before {
    width: 57px; }
  .form-web-otr {
    padding-left: 55px; }
  .triangle-mdl-btmm1 {
    left: -15px !important; }
  .triangle-btr {
    top: 499px !important; }
  .sldr-otr .carousel-caption {
    top: 45px; }
  .form-web-otr .info-sec-dot {
    right: -42px; }
  .footer {
    padding: 57px 0px 15px; }
  .triangle-mdl {
    right: 0px !important; }
  .modal-load .modal-dialog {
    max-width: 85%; }
  .modal-load .md-bg-img {
    min-height: 712px; } }

@media (max-width: 1023px) {
  .triangle-btr {
    top: 457px !important; }
  .modal-load .md-content {
    padding: 52px 45px 15px; }
  .video-otr .bg-video {
    position: static;
    right: 0;
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .video-otr .bg-video .js-video, .video-otr .bg-video .video-poster {
    height: 520px; }
  .video-otr .bg-vido-lft article {
    left: 0;
    top: 0;
    position: static;
    width: 100%;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
    padding-right: 0px;
    max-width: 100%;
    text-align: center; }
  .video-otr .bg-vido-lft h3 {
    width: 100%; }
  .video-otr .bg-vido-lft h3 {
    border: none; }
  .video-otr .bg-video .js-video iframe {
    height: 478px; }
  .sal-txt.plf {
    padding: 0px; }
  .form-web-otr .slt-otr {
    padding: 0; }
  .form-web-otr .line-sec:before {
    width: 46px; }
  .video-otr .bg-vido-lft {
    min-height: 145px;
    height: auto;
    padding-top: 31px; }
  .triangle-mdl {
    display: none; }
  .video-otr .bg-vido-lft {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-clip-path: inherit;
    clip-path: inherit; } }

@media (max-width: 991px) {
  .sldr-otr .bg-btm-sldr {
    position: relative;
    background: #f5f4f4; }
  .modal-load .md-bg-img {
    min-height: 295px; }
  .modal-load .md-content {
    padding: 33px 45px 35px; }
  .md-content, .md-bg-img {
    max-width: 100%; }
  .float-left.sel-rt {
    width: 45%; }
  .form-web-otr .slt-otr .txt-rt-lt {
    width: 4%; }
  .loginModal form .form-control {
    font-size: 13px; }
  .sldr-otr .carousel-caption .btn-s-1 {
    padding: 8px 17px 8px; }
  .sldr-otr .carousel-caption .btn-s-2 {
    padding: 8px 17px 8px; }
  .carousel-caption.d-md-block.caption-2 h2 {
    font: 700 18px/24px "Roboto", sans-serif; }
  .stepwizard {
    text-align: center; }
  .stepwizard-row.setup-panel.row {
    display: inline-block;
    width: auto; }
  .form-web-otr .num-otr {
    margin-top: 8px;
    float: none;
    display: inline-block;
    width: 127px; }
  .form-web-otr .slt-otr .sel-rt select {
    width: 100%; }
  .form-web-otr .info-sec-dot {
    right: 42px; }
  .sldr-otr .carousel-caption {
    left: 50%; }
  .sldr-otr .carousel-caption h2 {
    font: 700 31px/35px "Roboto", sans-serif; }
  .navbar-collapse {
    border-top: 1px solid #eeeaea; }
  button.navbar-toggler {
    border: none; }
  .log-dash {
    display: none; }
  .nav-otr .container-secn .nav-item a {
    border-bottom: 1px solid #edeaea;
    margin-left: 0px;
    padding-left: 18px; }
  .triangle-mdl.cf, .triangle.cf, .triangle-mdlm.triangle-mdl-btmm.cf {
    display: none; }
  .featr-otr .ft-brd {
    border: none; }
  .featr-otr {
    padding: 17px 0px 33px; }
  .featr-otr .fetr-sec {
    min-width: 100%; }
  .featr-otr .fetr-sec h3, .featr-otr .fetr-sec .fetr-cont, .video-otr .bg-vido-lft h3 {
    text-align: center; }
  .featr-otr .fetr-sec {
    padding-top: 30px;
    padding-bottom: 15px; }
  .triangle-mdlm1.triangle-mdl-btmm1.cf, .triangle-btr.cf {
    display: none; }
  .form-sec-otr {
    min-width: 100%; }
  .form-web-otr .cont-form-secn h3, .form-web-otr .cont-form-secn h5 {
    text-align: center; }
  .img-secn {
    display: none; }
  .form-web-otr {
    padding-left: 15px;
    padding-right: 25px; }
  .form-web-otr .cont-otr-frm {
    padding: 40px 0px 56px; }
  .form-web-otr .num-otr {
    margin-top: 8px;
    width: 127px; }
  .txt-frm-otr {
    min-width: 100%; }
  .form-web-otr .line-sec:before {
    right: -18px;
    width: 34px; } }

@media (max-width: 768px) {
  .bkr-img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .book-apnt .form-dtl {
    padding: 15px 15px 32px; }
  .container-secn-trm.mx-auto.book-apnt {
    padding: 20px 20px 55px !important; }
  .info-dtl {
    padding: 0;
    margin-top: 19px; }
  .pad-zeros {
    padding: 0; }
  .info-dtl h3 {
    padding: 0; }
  .free-demo-btn {
    bottom: 35px;
    background: #3fa0d8; }
  .modal-load .modal-dialog {
    max-width: 100%;
    padding-left: 15px; }
  .featr-otur .row {
    padding: 30px 0px 55px; }
  .featr-otur .tp-hv {
    margin-top: 0px; }
  .featr-otur .tp-sv {
    margin-top: 0px; }
  .featr-otur {
    margin-top: 0px; }
  .featr-otur .tp-fv {
    margin-top: 0px; }
  .featr-otur .bkr-otr h3 {
    font: 300 26px/30px "Roboto", sans-serif; }
  .video-otr .bg-vido-lft h3 {
    border: none; }
  .carousel-item img {
    height: 320px; }
  .carousel-caption {
    left: 0% !important;
    right: 0% !important;
    width: 100% !important;
    top: 48px !important; }
  .sldr-otr .carousel-caption h2, .sldr-otr .carousel-caption h4 {
    text-align: center;
    text-shadow: 2px 2px #362b2b; }
  .sldr-otr .carousel-caption h4 {
    font-weight: 300 !important;
    padding: 0px 35px; }
  .btr-carsl {
    width: 350px;
    float: none;
    margin: 0 auto; }
  .img-mbl img {
    height: 340px; }
  .footer .ftr-pd {
    margin-top: 0px; }
  .form-web-otr .container {
    max-width: 100% !important;
    min-width: 100% !important; }
  .form-web-otr .info-sec {
    right: -21px; }
  .form-web-otr .line-sec:before {
    right: 4px;
    width: 75px; }
  .trial-sec {
    padding: 35px 0px 30px; }
  .video-otr .bg-vido-lft h3 {
    width: 70%;
    float: none;
    margin: 0 auto; }
  .video-otr .bg-vido-lft h2 {
    text-align: center; }
  .video-otr .bg-vido-lft {
    height: auto;
    min-height: auto;
    padding-bottom: 12px; }
  .video-otr .bg-vido-lft article {
    padding-right: 0px; }
  .video-otr .bg-vido-lft article {
    max-width: 100%;
    width: 100%;
    position: relative;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: none; }
  .video-otr .bg-vido-lft h3 {
    font: 300 28px/35px "Roboto", sans-serif; }
  .video-otr .bg-vido-lft:after {
    content: none; }
  .form-web-otr .info-sec-dot {
    right: 12px; }
  .sal-txt {
    padding: 0; }
  .featr-otr {
    padding: 17px 0px 3px; }
  .featr-otr {
    padding: 1px 0px 3px; }
  .ft-img {
    min-width: 100%;
    text-align: center; }
  .sal-txt.plf {
    padding-left: 0px; }
  .sal-txt h3 {
    margin-bottom: 4px; }
  .ft-list, .ft-img, .sal-txt {
    min-width: 100%;
    margin-bottom: 18px; }
  .form-web-otr .line-sec:before {
    right: -23px;
    width: 45px; }
  .footer {
    padding: 17px 25px 15px; }
  .sldr-otr .bg-btm-sldr .email-sec .search-txt {
    width: 60%; } }

@media (max-width: 670px) {
  .img-mbl img {
    display: none; }
  .bg-trms {
    background-position-y: 65px; }
  .pricing-secn .hed h3 {
    font: 700 29px/36px "Roboto", sans-serif; }
  .form-web-otr .info-sec-dot {
    right: -7px; }
  .form-web-otr .cont-form-secn h3 {
    font: 600 28px/36px "Roboto", sans-serif; }
  .form-web-otr .line-sec:before {
    right: -24px;
    width: 47px; }
  .stepwizard .btn {
    width: 40px;
    height: 40px;
    font: 400 15px/29px "Roboto", sans-serif; }
  .wd-full {
    min-width: 100%; }
  .trial-sec {
    padding: 40px 0px 40px; }
  .trial-sec .trial-sec_r {
    text-align: center; }
  .trial-sec h2 {
    font-size: 30px; }
  .trial-sec h3 {
    font-size: 28px; }
  .trial-sec h4 {
    font-size: 17px; }
  .form-web-otr .slt-otr {
    padding: 0px 15px; }
  .video-otr .bg-video .js-video, .video-otr .bg-video .video-poster {
    height: 312px; }
  .video-otr .bg-video .js-video iframe {
    height: 269px; } }

@media (max-width: 575px) {
  .form-web-otr .dot-cm {
    margin-top: 2px;
    padding-right: 6px;
    padding-left: 15px;
    margin-bottom: 5px; }
  .free-demo-btn {
    bottom: 283px; }
  .modalsucces .modal-dialog {
    max-width: initial; }
  .form-web-otr .txt-frm-otr .txt-frm .form-control {
    margin-bottom: 14px; }
  .sldr-otr .carousel-caption h2 {
    font: 700 28px/35px "Roboto", sans-serif; }
  .form-web-otr .txt-frm-otr .frms-btn {
    margin-top: 10px; }
  .sldr-otr .bg-btm-sldr .email-sec .search-txt {
    width: 75%; }
  .social {
    min-width: 100%;
    padding-top: 0px; }
  .modal-load .md-content {
    padding: 33px 20px 35px; }
  .sldr-otr .bg-btm-sldr .email-sec .search-txt {
    height: 39px; }
  .email-sec {
    padding: 0; }
  .sldr-otr .bg-btm-sldr .email-sec .search-but {
    padding: 8px 26px 7px; }
  .sldr-otr .bg-btm-sldr .email-sec .search-txt {
    text-indent: 15px; }
  .sl-otr {
    width: 150px;
    float: none;
    margin: 0 auto; }
  .footer .trm, .footer .social {
    text-align: center; }
  .footer .social {
    padding-top: 4px; }
  .footer .social li:nth-child(1) {
    margin-left: 0px; }
  .form-web-otr .info-sec-dot {
    right: auto;
    top: 3px; }
  .carousel-caption.d-md-block.caption-2 h2 {
    padding: 0px 9px; } }

@media (max-width: 479px) {
  .video-otr .bg-vido-lft h2 {
    font: 600 33px/27px "Roboto", sans-serif; }
  .loginModal .modal-body {
    padding: 15px 25px 35px; }
  .featr-otur .bkr-otr h3 {
    font: 300 24px/26px "Roboto", sans-serif; }
  .free-demo-btn {
    bottom: 166px; }
  .iconWrapper i {
    color: #FFFFFF !important;
    font-size: 19px;
    left: 10px;
    position: absolute;
    top: 8px; }
  .iconWrapper {
    background: #2995d3;
    font-size: 20px;
    height: 35px;
    width: 35px;
    bottom: 7px;
    right: 11px; }
  .featr-otr {
    padding: 1px 10px 3px; }
  .pricing-secn {
    min-height: 500px; }
  .trial-sec h3 {
    font-size: 25px; }
  .trial-sec h4 {
    font-size: 16px; }
  .video-otr .bg-vido-lft h2 {
    font: 600 30px/24px "Roboto", sans-serif; }
  .trial-sec h2 {
    font-size: 26px;
    line-height: 29px; }
  .video-otr .bg-vido-lft h3 {
    font: 300 25px/31px "Roboto", sans-serif; }
  .form-web-otr .line-sec:before {
    right: -22px;
    width: 41px;
    top: 18px; }
  .form-web-otr .num-otr {
    width: 95px; }
  .video-otr .bg-vido-lft h3 {
    width: 100%; }
  .pricing-secn .hed h3 {
    font: 700 27px/30px "Roboto", sans-serif; }
  .pricing-secn .hed h4 {
    font-size: 14px; }
  .form-web-otr .cont-form-secn h3 {
    font: 600 26px/36px "Roboto", sans-serif; } }

@media (max-width: 430px) {
  .sldr-otr .carousel-caption h2 {
    font: 700 25px/31px "Roboto", sans-serif; }
  .carousel-caption.d-md-block.caption-2 h2 {
    font: 700 19px/25px "Roboto", sans-serif;
    padding: 0px 9px; }
  .sldr-otr .carousel-caption h4 {
    font: 100 20px/21px "Roboto", sans-serif; }
  .sldr-otr .carousel-caption h4 {
    padding: 0px 15px; }
  .sldr-otr .carousel-indicators {
    bottom: 15px; }
  .sldr-otr .carousel-caption .btn-s-1, .sldr-otr .carousel-caption .btn-s-2 {
    padding: 6px 17px 6px; }
  .sldr-otr .caption-2 h4 {
    font: 100 14px/16px "Roboto", sans-serif !important; }
  .btr-carsl {
    width: 100%; }
  .carousel-caption {
    top: 7px !important; }
  .sldr-otr .caption-2 .btr-carsl {
    margin-top: 8px; }
  .sldr-otr .caption-2 h4 {
    margin-bottom: 0px; }
  .wd-ff {
    width: 100%; }
  .wd-ff input {
    width: 80%; }
  input.btn-s-2 {
    margin-top: 9px; } }

@media (max-width: 340px) {
  .sel-rt, .txt-rt-lt, .form-web-otr .txt-frm-otr .txt-frm .form-control {
    width: 100%; }
  .form-web-otr .num-otr {
    width: 87px; } }

/* triangle 1 */
.triangle-ftr {
  position: absolute !important;
  left: inherit !important;
  right: 196px;
  top: -4px !important; }

.triangle-btr {
  width: 170px;
  height: 120px;
  float: left;
  position: absolute;
  top: 748px;
  right: 130px; }
  .triangle-btr .t-1 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid #2995d3;
    position: absolute;
    left: 0px;
    top: 30px; }
  .triangle-btr .t-2 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #2995d3;
    position: absolute;
    left: 36px;
    top: 39px; }
  .triangle-btr .t-3 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #2995d3;
    position: absolute;
    right: 48px;
    top: 18px; }
  .triangle-btr .t-4 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid #2995d3;
    position: absolute;
    right: 23px;
    top: 30px; }
  .triangle-btr .t-5 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 11px solid #2995d3;
    position: absolute;
    right: 53px;
    top: 53px; }
  .triangle-btr .t-6 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 11px solid #2995d3;
    position: absolute;
    left: 3px;
    top: 85px; }
  .triangle-btr .t-7 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 19px solid #2995d3;
    position: absolute;
    left: 22px;
    top: 70px; }
  .triangle-btr .t-8 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #2995d3;
    position: absolute;
    left: 57px;
    top: 64px; }
  .triangle-btr .t-9 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 19px solid #2995d3;
    position: absolute;
    left: 96px;
    top: 71px; }
  .triangle-btr .t-10 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 19px solid #2995d3;
    position: absolute;
    left: 139px;
    top: 70px; }
  .triangle-btr .t-11 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #2995d3;
    position: absolute;
    left: 36px;
    top: 93px; }
  .triangle-btr .t-12 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid #2995d3;
    position: absolute;
    left: 79px;
    bottom: -9px; }
  .triangle-btr .t-13 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #2995d3;
    position: absolute;
    right: 35px;
    bottom: 5px; }

.triangle {
  width: 170px;
  height: 120px;
  float: left;
  position: absolute;
  top: -47px;
  left: 189px; }
  .triangle .t-1 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid #2995d3;
    position: absolute;
    left: 0px;
    top: 30px; }
  .triangle .t-2 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #2995d3;
    position: absolute;
    left: 36px;
    top: 39px; }
  .triangle .t-3 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #2995d3;
    position: absolute;
    right: 48px;
    top: 18px; }
  .triangle .t-4 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid #2995d3;
    position: absolute;
    right: 23px;
    top: 30px; }
  .triangle .t-5 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 11px solid #2995d3;
    position: absolute;
    right: 53px;
    top: 53px; }
  .triangle .t-6 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 11px solid #2995d3;
    position: absolute;
    left: 3px;
    top: 85px; }
  .triangle .t-7 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 19px solid #2995d3;
    position: absolute;
    left: 22px;
    top: 70px; }
  .triangle .t-8 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #2995d3;
    position: absolute;
    left: 57px;
    top: 64px; }
  .triangle .t-9 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 19px solid #2995d3;
    position: absolute;
    left: 96px;
    top: 71px; }
  .triangle .t-10 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 19px solid #2995d3;
    position: absolute;
    left: 139px;
    top: 70px; }
  .triangle .t-11 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #2995d3;
    position: absolute;
    left: 36px;
    top: 93px; }
  .triangle .t-12 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid #2995d3;
    position: absolute;
    left: 79px;
    bottom: -9px; }
  .triangle .t-13 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #2995d3;
    position: absolute;
    right: 35px;
    bottom: 5px; }

.triangle-lft {
  position: absolute !important;
  right: inherit;
  top: 175px !important; }
  .triangle-lft .t-1 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid #e5b84a;
    position: absolute;
    left: 0px;
    top: 30px; }
  .triangle-lft .t-2 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #e5b84a;
    position: absolute;
    left: 36px;
    top: 39px; }
  .triangle-lft .t-3 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #e5b84a;
    position: absolute;
    right: 48px;
    top: 18px; }
  .triangle-lft .t-4 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid #e5b84a;
    position: absolute;
    right: 23px;
    top: 30px; }
  .triangle-lft .t-5 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 11px solid #e5b84a;
    position: absolute;
    right: 53px;
    top: 53px; }
  .triangle-lft .t-6 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 11px solid #e5b84a;
    position: absolute;
    left: 3px;
    top: 85px; }
  .triangle-lft .t-7 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 19px solid #e5b84a;
    position: absolute;
    left: 22px;
    top: 70px; }
  .triangle-lft .t-8 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #e5b84a;
    position: absolute;
    left: 57px;
    top: 64px; }
  .triangle-lft .t-9 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 19px solid #e5b84a;
    position: absolute;
    left: 96px;
    top: 71px; }
  .triangle-lft .t-10 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 19px solid #e5b84a;
    position: absolute;
    left: 139px;
    top: 70px; }
  .triangle-lft .t-11 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 19px solid #e5b84a;
    position: absolute;
    left: 36px;
    top: 93px; }
  .triangle-lft .t-12 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid #e5b84a;
    position: absolute;
    left: 79px;
    bottom: -9px; }
  .triangle-lft .t-13 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #e5b84a;
    position: absolute;
    right: 35px;
    bottom: 5px; }

/* triangle 1 End */
/* triangle middle */
.triangle-mdl-btm {
  position: absolute !important;
  left: 404px !important;
  right: inherit;
  top: 337px !important; }

.triangle-mdl {
  width: 170px;
  height: 120px;
  float: left;
  position: absolute;
  top: -17px;
  right: 90px;
  z-index: 1; }
  .triangle-mdl .t-1 {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 23px solid #2995d3;
    position: absolute;
    left: 0px;
    top: 30px; }
  .triangle-mdl .t-2 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 30px solid #2995d3;
    position: absolute;
    left: 63px;
    top: 39px; }
  .triangle-mdl .t-3 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 30px solid #2995d3;
    position: absolute;
    left: 37px;
    top: -38px; }
  .triangle-mdl .t-4 {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 23px solid #2995d3;
    position: absolute;
    left: 101px;
    top: 8px; }
  .triangle-mdl .t-5 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 17px solid #2995d3;
    position: absolute;
    left: 42px;
    top: 24px; }
  .triangle-mdl .t-6 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 17px solid #2995d3;
    position: absolute;
    left: 3px;
    top: 144px; }
  .triangle-mdl .t-7 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 30px solid #2995d3;
    position: absolute;
    left: 33px;
    top: 104px; }
  .triangle-mdl .t-8 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 30px solid #2995d3;
    position: absolute;
    left: 94px;
    top: 94px; }
  .triangle-mdl .t-9 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 30px solid #2995d3;
    position: absolute;
    left: 19px;
    top: 166px; }
  .triangle-mdl .t-10 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 30px solid #2995d3;
    position: absolute;
    left: 240px;
    top: 108px; }
  .triangle-mdl .t-11 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 30px solid #2995d3;
    position: absolute;
    left: 62px;
    top: 153px; }
  .triangle-mdl .t-12 {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 23px solid #2995d3;
    position: absolute;
    left: 122px;
    bottom: -89px; }
  .triangle-mdl .t-13 {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 23px solid #2995d3;
    position: absolute;
    right: -65px;
    bottom: -55px; }

/* triangle middle End*/
.triangle-mdl-btmm {
  position: absolute !important;
  left: 237px !important;
  right: inherit;
  top: 288px !important; }

.triangle-mdlm {
  width: 170px;
  height: 120px;
  float: left;
  position: absolute;
  top: -17px;
  left: 111px;
  z-index: 1; }
  .triangle-mdlm .t-1 {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 23px solid #7cbb39;
    position: absolute;
    left: 0px;
    top: 30px; }
  .triangle-mdlm .t-2 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 30px solid #7cbb39;
    position: absolute;
    left: 63px;
    top: 39px; }
  .triangle-mdlm .t-3 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 30px solid #7cbb39;
    position: absolute;
    right: -24px;
    top: 18px; }
  .triangle-mdlm .t-4 {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 23px solid #7cbb39;
    position: absolute;
    right: -60px;
    top: 30px; }
  .triangle-mdlm .t-5 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 17px solid #7cbb39;
    position: absolute;
    right: -16px;
    top: 77px; }
  .triangle-mdlm .t-6 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 17px solid #7cbb39;
    position: absolute;
    left: 3px;
    top: 144px; }
  .triangle-mdlm .t-7 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 30px solid #7cbb39;
    position: absolute;
    left: 33px;
    top: 104px; }
  .triangle-mdlm .t-8 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 30px solid #7cbb39;
    position: absolute;
    left: 94px;
    top: 94px; }
  .triangle-mdlm .t-9 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 30px solid #7cbb39;
    position: absolute;
    left: 155px;
    top: 113px; }
  .triangle-mdlm .t-10 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 30px solid #7cbb39;
    position: absolute;
    left: 240px;
    top: 108px; }
  .triangle-mdlm .t-11 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 30px solid #7cbb39;
    position: absolute;
    left: 62px;
    top: 153px; }
  .triangle-mdlm .t-12 {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 23px solid #7cbb39;
    position: absolute;
    left: 122px;
    bottom: -89px; }
  .triangle-mdlm .t-13 {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 23px solid #7cbb39;
    position: absolute;
    right: -65px;
    bottom: -55px; }

.triangle-mdl-btmm1 {
  position: absolute !important;
  left: -39px !important;
  right: inherit;
  top: 153px !important; }

.triangle-mdlm1 {
  width: 170px;
  height: 120px;
  float: left;
  position: absolute;
  top: -17px;
  left: 111px;
  z-index: 1; }
  .triangle-mdlm1 .t-1 {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 23px solid #7cbb39;
    position: absolute;
    left: 0px;
    top: 30px; }
  .triangle-mdlm1 .t-2 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 30px solid #7cbb39;
    position: absolute;
    left: 63px;
    top: 39px; }
  .triangle-mdlm1 .t-3 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 30px solid #7cbb39;
    position: absolute;
    right: -24px;
    top: 18px; }
  .triangle-mdlm1 .t-4 {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 23px solid #7cbb39;
    position: absolute;
    right: -60px;
    top: 30px; }
  .triangle-mdlm1 .t-5 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 17px solid #7cbb39;
    position: absolute;
    right: -16px;
    top: 77px; }
  .triangle-mdlm1 .t-6 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 17px solid #7cbb39;
    position: absolute;
    left: 3px;
    top: 144px; }
  .triangle-mdlm1 .t-7 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 30px solid #7cbb39;
    position: absolute;
    left: 33px;
    top: 104px; }
  .triangle-mdlm1 .t-8 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 30px solid #7cbb39;
    position: absolute;
    left: 94px;
    top: 94px; }
  .triangle-mdlm1 .t-9 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 30px solid #7cbb39;
    position: absolute;
    left: 155px;
    top: 113px; }
  .triangle-mdlm1 .t-10 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 30px solid #7cbb39;
    position: absolute;
    left: 240px;
    top: 108px; }
  .triangle-mdlm1 .t-11 {
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 30px solid #7cbb39;
    position: absolute;
    left: 62px;
    top: 153px; }
  .triangle-mdlm1 .t-12 {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 23px solid #7cbb39;
    position: absolute;
    left: 122px;
    bottom: -89px; }
  .triangle-mdlm1 .t-13 {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 23px solid #7cbb39;
    position: absolute;
    right: -65px;
    bottom: -55px; }

@-webkit-keyframes Slide {
  0% {
    bottom: 0; }
  25% {
    bottom: 150%; }
  50% {
    bottom: 150%; }
  75% {
    bottom: 150%; }
  100% {
    bottom: 0%; } }

.slide {
  position: relative;
  bottom: 0;
  left: 0;
  height: 100%;
  -webkit-animation-name: Slide;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.diapo1, .diapo2 {
  width: 100%;
  height: 1051px !important;
  background-size: cover; }

.diapo1 {
  background: url(../img/display.png) center no-repeat; }

.diapo2 {
  background: url(../img/display.png) center no-repeat; }
  .com-nme
  {
    font: 500 18px/24px "Roboto", sans-serif;
    color: #57595a !important;
    text-transform: uppercase;

  }
