.mainDiv{
	background-color: #f2f2f2;
	min-height: 700px;
	padding-top: 130px;
}
.blogMain{
	margin: 12px;
	padding: 22px;
}
.blogHead{
	color: #ab1925;
    padding: 20px;
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: -19px;
    margin-top: 20px;
    padding-bottom: 11px;
}
.section{
	background-color: #f2f2f2;
}
.margin{
	margin-left: 40px;
}
.red{
	color: #ab1925;
	font-size: 12px;
    font-weight: 600;
}
.blk{
	color:black;
}
.viewBtn{
	margin-left: 87%;
}
.clrRed{
	color: #5f1218;
}
.dateCreated{
	font-size: 15px;
    color: #ab1925;
}
.search{
	padding: 12px;
    position: absolute;
    left: 700px;
    font-family: auto;
}
.blogsub{
	font-size: 17px;
	color: #ab1925;
	font-weight: 300;
}
.blog2{
	padding: 33px;
}
.blog1{
	padding: 33px;
}
.blogsubtitle{
	font-size:16px;
	color: #ab1925;
	font-weight: 300;
}